<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>GMO_OKR检视</title>
  <!-- <link rel="stylesheet" href="../css/element.css"> -->
  <!-- <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"> -->
  <style>

  </style>
</head>

<body>
  <div class="weekly-reports-wrap" id="weekly-reports-wrap" v-cloak>
    <div class="main-container">
      <div v-show="!showSinglePerson && JSON.stringify(currentPersonNext)!=='{}'" class="fix-person-wrap"
        @click="nextPersonClick">
        <div class="main-title-userinfo">
          <div class="currentPerson-img-box">
            <div v-if="currentPersonNext.photo_filename" class="img-wrap"><img
                :src="fileBaseurl + currentPersonNext.photo_filename" alt=""></div>
            <div v-else class="default-photo">{{currentPersonNext.emp_short_name}}</div>
          </div>
          <span class="personName" v-show="currentPersonNext&&JSON.stringify(currentPersonNext)!=='{}'">
            <span v-show="currentPersonNext.subject">{{currentPersonNext.subject + " / "}}</span>
            <span>{{currentPersonNext.emp_name}}</span>
          </span>
        </div>
      </div>
      <div class="header clearfix">
        <div class="site-wrap">
          <div v-for="(el,i) in siteList" class="siteItem" :class="currentSite.key === el.key && 'active'"
            :id="currentSite.key + 1 === el.key && 'siteItemID'" @click="toggleSiteClick(el)" :key="i" :style="{width:(currentSite.key === el.key?(100-10)/siteList.length + 10 + '%':(100-10)/siteList.length +
              '%')}">
            <div class="site-name-pos">
              {{el.platform_name}}
            </div>
          </div>
        </div>
      </div>
      <div v-if="showSinglePerson" class="personnel-list-wrap">
        <div>
          <span v-show="carouselP < 0" class="el-icon-arrow-left" @click="carouselToggle(0)"></span>
          <div class="personnel-carousel-wrap"
            :style="{width: (personnelList.length * carouselW) + 'px',marginLeft:carouselP + 'px'}">
            <div v-for="(el,i) in personnelList" :key="i" class="personnel-carousel-item"
              :class="(el.main_reporter==='Y'?'isSpeaker ':' ') + (currentPerson.emp_id === el.emp_id ? 'active' : '')"
              @click="togglePersonClick(el,1)">
              <div class="img-border-box">
                <div v-if="el.photo_filename" class="img-wrap"><img :src="fileBaseurl + el.photo_filename" alt=""></div>
                <div v-else class="default-photo">{{el.emp_short_name}}</div>
              </div>
              <div v-if="el.subject">{{el.subject + " / " + el.emp_name}}</div>
              <div v-else>{{el.emp_name}}</div>
            </div>
          </div>
        </div>
        <span v-show="showRArrow" class="el-icon-arrow-right" @click="carouselToggle(1)"></span>
      </div>
      <div class="main-wrap" :class="!showSinglePerson && 'main-wrap-showSinglePerson'">
        <div class="main-title-wrap clearfix">
          <el-row :gutter="0" class="content-title">
            <el-col :span="4" class="blank">
              <el-date-picker v-model="weekValue" id="week_value_input" type="week" format="yyyy 第 WW 周"
                placeholder="选择周" :picker-options="{'firstDayOfWeek': 1}" @change="weekValueChange">
              </el-date-picker>
              <div class="weekShow" @click="setWeekInputFocus">{{"Week " + timerObj.week}}</div>
              <div v-show="!showSinglePerson && JSON.stringify(currentPerson)!=='{}'" class="main-title-userinfo">
                <div class="currentPerson-img-box">
                  <div v-if="currentPerson.photo_filename" class="img-wrap"><img
                      :src="fileBaseurl + currentPerson.photo_filename" alt=""></div>
                  <div v-else class="default-photo">{{currentPerson.emp_short_name}}</div>
                </div>
                <div class="personName" v-show="currentPerson&&JSON.stringify(currentPerson)!=='{}'">
                  <div>{{currentPerson.subject}}</div>
                  <div>{{currentPerson.emp_name}}</div>
                </div>
              </div>
            </el-col>
            <el-col :span="20">
              <div class="timeline-wrap">
                <div class="week-timeline clearfix">
                  <el-row :gutter="0">
                    <el-col :span="12">
                      <el-row :gutter="0">
                        <el-col :span="12">
                          <div v-for="(el,i) in timerList.slice(2,3)" class="weekItem" :class="i===1 && 'weekItem3'"
                            :key="i">
                            <span>{{el.type + " " + el.value}} 重點工作</span>
                            <div class="timeQuantum">{{el.timeQuantum}}</div>
                          </div>
                        </el-col>
                        <el-col :span="12" class="circleNum-wrap">
                          <span v-for="(el,i) in [1,1,1,1,1,1]" :key="i" class="circle"></span>
                        </el-col>
                      </el-row>
                    </el-col>
                    <el-col :span="12">
                      <el-row :gutter="0">
                        <el-col :span="12">
                          <div v-for="(el,i) in timerList.slice(3,4)" class="weekItem" :class="i===0 && 'weekItem1'"
                            :key="i">
                            <span>{{el.type + " " + el.value}} 重點工作</span>
                            <div class="timeQuantum">{{el.timeQuantum}}</div>
                          </div>
                        </el-col>
                        <el-col :span="12" class="clearfix">
                          <div v-if="showGoKeyPointWork" class="my-job-btn fr" @click="goKeyPointWork">我的重點工作</div>
                          <div v-show="currentPerson.emp_id===firstSpeaker.emp_id" class="my-job-btn fr"
                            @click="resetConferenceTimer">重置计时
                          </div>
                          <div class="timerNumber-wrap" :class="timerNumber<=0 && 'tColor-f73131'">
                            {{timerNumber}}s
                          </div>
                        </el-col>
                      </el-row>
                    </el-col>
                  </el-row>
                </div>
              </div>
            </el-col>
          </el-row>
        </div>
        <div class="job-content-wrap">
          <div class="work-body" id="workBody">
            <div v-for="(el,i) in workContentList" :key="i" class="workContentList-item-wrap"
              :class="currentWorkContent.id===el.id && 'active'" @click="workContentCilck(el)">
              <el-row :gutter="0">
                <el-col :span="4">
                  <div class="work-body-r">
                    <div class="work-body-r-t">
                      <div class="objective-name-wrap">
                        <div>{{"Objective" + (i + 1)}}</div>
                        <span class="work-body-r-f-t" :style="{background:el.color}">
                          {{el.color==='#CB212C'?'OFF TRACK':'ON TRACK'}}</span>
                      </div>
                      <div class="canvas-wrap">
                        <canvas :id="'canvas_Objective_' + i + '_' + el.objective_progress + '_' + el.color"
                          :width="canvas.w" :height="canvas.h"></canvas>
                      </div>
                    </div>
                    <div class="work-body-r-b text-pre">{{el.objective_name}}</div>
                  </div>
                </el-col>
                <el-col :span="10">
                  <div class="work-body-c">
                    <div v-for="(item,j) in el.PervWeekList" :key="'item' + j" class="work-body-c-i clearfix">
                      <div class="text-pre" v-html="transitionContent(item.job_name)"></div>
                      <div class="fr">
                        <span v-if="item.job_completion === 'Y'" class="el-icon-success"></span>
                        <span v-else class="unfinished"></span>
                      </div>
                    </div>
                  </div>
                </el-col>
                <el-col :span="10">
                  <div class="work-body-l">
                    <div v-for="(item1,x) in el.thisWeekList" :key="'item1'+ x" class="work-body-c-i clearfix">
                      <div class="text-pre" v-html="transitionContent(item1.job_name)"></div>
                    </div>
                  </div>
                </el-col>
              </el-row>
            </div>
          </div>
        </div>
      </div>
    </div>
    <el-dialog title="请选择群组" :visible.sync="dialogVisible" width="300px" center :show-close="false"
      :modal-append-to-body="false" :close-on-click-modal="false">
      <div style="text-align: center;">
        <el-select v-model="tenantSelectValue" placeholder="请选择" @change="currentTenantValueChange">
          <el-option v-for="item in tenantList" :key="item.tenant_code" :label="item.tenant_code"
            :value="item.tenant_code">
          </el-option>
        </el-select>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="confirmTenant" size="small">确 定</el-button>
      </span>
    </el-dialog>
  </div>

</body>

</html>



<!-- <script src="../js/jquery-3.3.1.min.js"></script> -->
<!-- <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> -->
<!-- <script src="../js/element.js"></script> -->


<!-- 龍宮預設提供的第三方lib，可直接使用，勿動  -->
<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../static/js/echarts-3.7.1.min.js"></script>
<script type="text/javascript" src="../static/js/vue-2.6.10.min.js"></script>
<script type="text/javascript" src="../static/js/element-ui-2.15.1.min.js"></script>

<script type="text/javascript" src="../static/js/moment.min.js"></script>
<script type="text/javascript" src="../static/js/lodash-4.17.21.min.js"></script>

<!-- 模擬龍宮提供的服務，以及模擬呼叫data api及回傳，mock-utils.js不再使用，統一集中在mock-resources.js -->
<script type="text/javascript" src="../static/js/mock/mock-resources-common.js"></script>
<script type="text/javascript" src="../static/js/mock/mock-resources-okr.js"></script>
<script type="text/javascript" src="../static/js/mock/mock-context.js"></script>

<!-- 龍宮預設提供的第三方css，勿動 -->
<link rel="stylesheet" href="../static/css/third-party/element-ui-2.15.1.min.css">

<!-- 模擬龍宮或花果山外框用，勿動 -->
<link rel="stylesheet" type="text/css" href="../static/css/mock/mock-outbox.css" />

<!-- 以下三個是報表自定義的style，把三個內容全部貼到 https://www.giftofspeed.com/css-compressor/  -->
<!-- 壓縮結果貼到deployment/{env}/widget/{page}.json的templateCss -->
<!-- layout.css 左方sidebar，右方大框及標題/功能按鈕，修改時注意影響其他報表  -->
<!-- xxx.css 右方中間主要呈現區塊，報表自定義客製用  -->
<link rel="stylesheet" type="text/css" href="../static/css/okr-week-report.css" />
<!-- common.css 提供共用且獨立使用的class，無階層關係，修改時注意影響其他報表，需放在最後，確保動畫CSS生效  -->
<link rel="stylesheet" type="text/css" href="../static/css/common.css" />

<script type="text/javascript" src="../static/js/dashboard/okr-week-report.js"></script>


<script>


  // let self = {
  //   ctx: {
  //     $: $,
  //     $element: document
  //   }
  // };

  self.data = {
    "baseurl": "http://10.60.136.119:8082",
    "fileBaseurl": "http://10.124.160.2:806",
    "IPAddr": "",
    "dialogVisible": false,
    "tenantList": [],
    "tenantSelectValue": {},
    "currentTenant": {},
    "showGoKeyPointWork": false,
    "loginPerson": {},
    "loginUserInfo": {},
    "currentSite": {},
    "siteList": [],
    "currentPerson": {},
    "currentPersonNext": {},
    "carouselW": 202,
    "carouselP": 0,
    "showRArrow": true,
    "showSinglePerson": false,
    "firstSpeaker": {},
    "personnelList": [],
    "mainReporterList": [],
    "personnelListCopy": [],
    "weekValue": "",
    "timerList": [],
    "timerObj": {
      "year": "",
      "week": "",
      "month": ""
    },
    "workContentList": [],
    "canvas": {
      "w": 60,
      "h": 60
    },
    "systemAccount": ["GMO"],
    "currentWorkContent": {},
    "timerNumber": 90,
    "colorObj": {
      "ATRISK": "#FF9E05",
      "ONTRACK": "#01B868",
      "OFFTRACK": "#CB212C"
    }
  };


  // es6 syntax
  // var {ctx, components, data, dependent, dataComputed, dataWatch, onInit, onDataUpdated, onResize, onDestroy,
  //   created, mounted, ...methods} = self;

  var {ctx, data, onInit, mounted, methods} = self;
  // console.log(self.onInit);

  var vm = new Vue({
    el: self.ctx.$element.querySelector('#weekly-reports-wrap'),
    data: self.data,
    mounted: function () {
      self.onInit();
    },
    methods: {
      toggleDateBtnClick: self.toggleDateBtnClick,
      createPie: self.createPie,
      toggleSiteClick: self.toggleSiteClick,
      togglePersonClick: self.togglePersonClick,
      carouselToggle: self.carouselToggle,
      getGmoEmpBasicInfo: self.getGmoEmpBasicInfo,
      dateFormat: self.dateFormat,
      weekValueChange: self.weekValueChange,
      goKeyPointWork: self.goKeyPointWork,
      getWeekStartAndWeekEnd: self.getWeekStartAndWeekEnd,
      getRecentWeek: self.getRecentWeek,
      setWeekInputFocus: self.setWeekInputFocus,
      nextPersonClick: self.nextPersonClick,
      transitionContent: self.transitionContent,
      workContentCilck: self.workContentCilck,
      shouldRecordConference: self.shouldRecordConference,
      resetConferenceTimer: self.resetConferenceTimer,
      confirmTenant: self.confirmTenant,
      currentTenantValueChange: self.currentTenantValueChange
    }
  });

</script>
