<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>GMO OKR 維護</title>
</head>




<body>
  <div class="weekly-reports-wrap" id="weekly-reports-wrap" v-cloak>
    <div class="export-group">
      <div class="exportWrapPDF-befor"></div>
      <div id="exportWrapPDF" style="min-height: 150vh;">
        <div class="week-title">{{exportTitle}}</div>
        <el-table :data="tableData" border>
          <el-table-column v-for="(column,index) in columns" :key="index" :label="column.label" :width="column.width">
            <template slot-scope="scope">
              <div v-html="scope.row[column.prop]"></div>
            </template>
          </el-table-column>
        </el-table>
      </div>
      <div class="exportWrapPDF-after"></div>
      <div id="exportWrapXLS" style="padding: 20px;">
        <div class="week-title" style="background: #fff; font-size: 24px; font-family: '宋体'; text-align: center; height: 50px; line-height: 50px; font-weight:
          700;color: #1ac0c3;">
          {{exportTitle}}</div>
        <div class="exportExcel-table-wrap">
          <table border="1" cellspacing="0">
            <thead>
              <tr style="background: #1ac0c3; color: #fff; font-size: 16px; font-weight: 400;">
                <th>
                  <div style="padding: 2px; font-family: '宋体'; ">序号</div>
                </th>
                <th v-for="(column,index) in columns" :key="index">
                  <div style="padding: 2px; font-family: '宋体'; ">
                    {{column.label}}
                  </div>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item,index) in tableDataXLS" :style="{background:index%2===1&&'#f2f2f2'}">
                <td width="5%">
                  <div style="font-weight: 700;text-align: center;font-size: 13px; font-family: '宋体'; ">
                    {{index+1}}</div>
                </td>
                <td width="25%">
                  <div v-html="item.objective_name" style="font-weight: 700;font-size: 13px; font-family: '宋体'; ">
                  </div>
                </td>
                <td width="5%">
                  <div v-html="item.objective_progressob"
                    style="font-size: 16px;text-align: center; font-family: '宋体'; " :style="{color:item.color}">
                  </div>
                </td>
                <td width="30%">
                  <div v-html="item.pervWeekJobName" style="font-size: 13px; font-family: '宋体'; "></div>
                </td>
                <td width="5%">
                  <div style="font-size: 13px;text-align: center;">
                    <span :style="{color:item.job_completion === 'Y'?'#4DC982':'#ECEBEA',fontSize: '40px'}">●</span>
                  </div>
                </td>
                <td width="30%">
                  <div v-html="item.thisWeekJobName" style="font-size: 13px; font-family: '宋体'; "></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="main-container">
      <div class="main-wrap">
        <div v-if="false" class="no-data-wrap">暂无数据</div>
        <div class="main-title-wrap clearfix">
          <el-date-picker v-model="weekValue" id="week_value_input" type="week" format="yyyy 第 WW 周" placeholder="选择周"
            :picker-options="{'firstDayOfWeek': 1}" @change="weekValueChange">
          </el-date-picker>
          <div class="weekShow" @click="setWeekInputFocus">{{"Week " + timerObj.week}}</div>
          <span v-show="currentPerson&&JSON.stringify(currentPerson)!=='{}'" class="main-title-userinfo">
            <span v-show="currentPerson.subject">{{currentPerson.subject + " / "}}</span>
            <span>{{currentPerson.emp_name}}</span>
          </span>
          <!-- <div v-if="!hiddenBtn" class="fr Save" @click="btnClick('save')">Save__</div> -->
          <div v-if="" class="fr Save" @click="btnClick('save')">Save__</div>
          <div class="fr Cancel" @click="btnClick('return')">Return</div>
          <!-- <div v-if="!hiddenBtn" class="fr Cancel" @click="btnClick('cancel')">Cancel</div> -->
          <div v-if="" class="fr Cancel" @click="btnClick('cancel')">Cancel</div>
          <!-- <img v-if="!hiddenBtn" class="exportpdf-img" :src="fileBaseurl + '/widget/sp/exportpdf.png'" alt="ExportPDF"
            @click="btnClick('exportPDF')" />
          <img v-if="!hiddenBtn" class="exportExcel-img" :src="fileBaseurl+'/widget/sp/exportxls.png'" alt="exportExcel"
            @click="btnClick('exportExcel')" /> -->
        </div>
        <div class="timeline-wrap">
          <div class="week-timeline clearfix">
            <el-row :gutter="0">
              <el-col :span="14">
                <el-row :gutter="0">
                  <el-col :span="7" class="circleNum-wrap">
                    <span v-for="(el,i) in [1,1,1,1,1,1]" :key="i" class="circle"></span>
                  </el-col>
                  <el-col :span="17">
                    <div class="display-f">
                      <div v-for="(el,i) in timerList.slice(1,3)" class="weekItem" :class="i===1 && 'weekItem3'"
                        :key="i">
                        <span>{{el.type + " " + el.value}}</span>
                        <div class="timeQuantum">{{el.timeQuantum}}</div>
                      </div>
                    </div>
                  </el-col>
                </el-row>
              </el-col>
              <el-col :span="10">
                <el-row :gutter="0">
                  <el-col :span="24">
                    <div class="display-f">
                      <div v-for="(el,i) in timerList.slice(3,5)" class="weekItem" :class="i===0 && 'weekItem1'"
                        :key="i">
                        <span>{{el.type + " " + el.value}}</span>
                        <div class="timeQuantum">{{el.timeQuantum}}</div>
                      </div>
                    </div>
                  </el-col>
                </el-row>
              </el-col>
            </el-row>
          </div>
        </div>
        <div class="job-content-wrap">
          <el-row :gutter="0">
            <el-col :span="4" class="blank">
              <el-button type="primary" icon="el-icon-plus" @click="addObjective">Add Objective</el-button>
              <el-tooltip class="item" effect="dark" placement="top-start">
                <div slot="content">
                  1. Think BIG <br>
                  2. Precise<br>
                  3. Encouraging
                </div>
                <i class="el-icon-info"></i>
              </el-tooltip>
            </el-col>
            <el-col :span="10" class="">
              <div class="work-head clearfix mlr12">
                Week {{timerObj.week-1}} 重點工作
                <span class="fr">是否完成</span></div>
            </el-col>
            <el-col :span="10" class="work-head">
              Week {{timerObj.week}} 重點工作
            </el-col>
          </el-row>
          <div class="work-body">
            <div v-for="(el,i) in workContentList" :key="i" class="workContentList-item-wrap">
              <el-row :gutter="0">
                <el-col :span="4">
                  <div class="work-body-r">
                    <div class="work-body-r-t clearfix">
                      <span class="objective-span">{{"Objective" + (i + 1)}}</span>
                      <i class="el-icon-error fr" @click="deleteWork(workContentList,i,el)"></i>
                      <div v-show="el.showView" class="weekview-wrap-img">
                        <img :src="el.hide_week!==''?fileBaseurl +
                          '/widget/sp/weekview1.png':fileBaseurl+'/widget/sp/weekview.png'"
                          alt="当Objective进度为100% 点击可切换在周报看板界面显示状态" @click="btnClick('changeShowObject',el)" />
                      </div>
                      <input class="objective-sort-input" max="50" maxlength="2" @change="changeObjectiveSort(el)"
                        v-model="el.objective_code" />
                    </div>
                    <div class="work-body-r-b">
                      <span v-if="!el.isAdd" class="text-break-all">{{el.objective_name}}</span>
                      <el-input v-else type="textarea" resize="none" :rows="3" placeholder="请輸入 Objective"
                        @input="setObjectiveVal(el)" v-model="el.objective_name">
                      </el-input>
                    </div>
                    <div class="work-body-r-f">
                      <div>
                        <span>{{el.objective_progress}} %</span>
                        <div class="progress">至W{{timerList[1].value}}進度</div>
                      </div>
                      <div>+</div>
                      <div>
                        <input :disabled="el.objective_progress*1 >= 100 || el.modifiable!==1" type="text"
                          v-model="el.thisSchedule" maxlength="3" oninput="this.value=this.value.replace(/\D/g,'')"
                          @change="thisScheduleChange(el)" @blur=isChangeObjOrJobName(el)> %
                        <div class="progress">W{{timerList[2].value}}進度</div>
                      </div>
                      <div>=</div>
                      <div>
                        <span>{{el.objective_progress*1 + el.thisSchedule*1}} %</span>
                        <div class="progress">總進度</div>
                      </div>
                    </div>
                  </div>
                </el-col>
                <el-col :span="10">
                  <div class="work-body-c">
                    <div v-for="(item,j) in el.pervWeekList" :key="'item' + j" class="work-body-c-i clearfix">
                      <textarea class="job-textarea" :id="item.id" type="textarea" :rows="8"
                        @input="isChangeObjOrJobName(item)" placeholder="请輸入重點工作" v-model="item.job_name"
                        @compositionstart="onCompositionStart(item)" @compositionend="onCompositionEnd(item)"
                        @keydown="defaultPrevent($event)" @keyup="inpKeyup(el.pervWeekList,1,$event)"></textarea>
                      <div class="fr">
                        <span class="el-icon-success" :class="item.job_completion === 'Y' && 'finished'"
                          @click="changeAccomplishStatus(item)"></span>
                      </div>
                    </div>
                  </div>
                </el-col>
                <el-col :span="10">
                  <div class="work-body-l">
                    <div v-for="(item1,x) in el.thisWeekList" :key="'item1'+ x" class="work-body-c-i clearfix">
                      <textarea class="job-textarea" :id="item1.id" type="textarea" :rows="8"
                        @input="isChangeObjOrJobName(item1)" placeholder="请輸入重點工作" v-model="item1.job_name"
                        @compositionstart="onCompositionStart(item1)" @compositionend="onCompositionEnd(item1)"
                        @keydown="defaultPrevent($event)" @keyup="inpKeyup(el.thisWeekList,1,$event)"></textarea>
                    </div>
                  </div>
                </el-col>
              </el-row>
            </div>
          </div>
        </div>
      </div>
    </div>
    <el-dialog title="请选择群组" :visible.sync="dialogVisible" width="300px" center :show-close="false"
      :modal-append-to-body="false" :close-on-click-modal="false">
      <div style="text-align: center;">
        <el-select v-model="tenantSelectValue" placeholder="请选择" @change="currentTenantValueChange">
          <el-option v-for="item in tenantList" :key="item.tenant_code" :label="item.tenant_code"
            :value="item.tenant_code">
          </el-option>
        </el-select>
      </div>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="confirmTenant" size="small">确 定</el-button>
      </span>
    </el-dialog>
  </div>

</body>




<!-- 龍宮預設提供的第三方lib，可直接使用，勿動  -->
<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../static/js/echarts-3.7.1.min.js"></script>
<script type="text/javascript" src="../static/js/vue-2.6.10.min.js"></script>
<script type="text/javascript" src="../static/js/element-ui-2.15.1.min.js"></script>

<script type="text/javascript" src="../static/js/moment.min.js"></script>
<script type="text/javascript" src="../static/js/lodash-4.17.21.min.js"></script>

<!-- 模擬龍宮提供的服務，以及模擬呼叫data api及回傳，mock-utils.js不再使用，統一集中在mock-resources.js -->
<script type="text/javascript" src="../static/js/mock/mock-resources-common.js"></script>
<script type="text/javascript" src="../static/js/mock/mock-resources-okr.js"></script>
<script type="text/javascript" src="../static/js/mock/mock-context.js"></script>

<!-- 龍宮預設提供的第三方css，勿動 -->
<link rel="stylesheet" href="../static/css/third-party/element-ui-2.15.1.min.css">

<!-- 模擬龍宮或花果山外框用，勿動 -->
<link rel="stylesheet" type="text/css" href="../static/css/mock/mock-outbox.css" />
<link rel="stylesheet" type="text/css" href="../static/css/okr-key-point-work.css" />
<!-- common.css 提供共用且獨立使用的class，無階層關係，修改時注意影響其他報表，需放在最後，確保動畫CSS生效  -->
<link rel="stylesheet" type="text/css" href="../static/css/common.css" />

<script type="text/javascript" src="../static/js/dashboard/okr-key-point-work.js"></script>



<script type="text/javascript">

  //  var self = {
  //    ctx: {
  //      $: $,
  //      $element: document
  //    }
  //  };

  self.data = {
    "baseurl": "http://10.60.136.119:8082",
    "fileBaseurl": "http://10.124.160.2:806",
    "exportTitle": "",
    "dialogVisible": false,
    "tenantList": [],
    "tenantSelectValue": {},
    "currentTenant": {},
    "loginUserInfo": {},
    "currentSite": {},
    "siteList": [],
    "currentPerson": {},
    "carouselW": 202,
    "carouselP": 0,
    "showRArrow": true,
    "personnelList": [],
    "weekValue": "",
    "timerList": [],
    "timerObj": {
      "year": "",
      "week": "",
      "month": ""
    },
    "workContentList": [],
    "currentOperation": [],
    "objectiveList": [],
    "hiddenBtn": true,
    "deleteList": [],
    "columns": [{
      "prop": "objective_name",
      "label": "OKR"
    }, {
      "prop": "objective_progressob",
      "label": "整体进度",
      "width": "140"
    }, {
      "prop": "pervWeekJobName",
      "label": "Week重点工作"
    }, {
      "prop": "job_completion",
      "label": "是否完成",
      "width": "140"
    }, {
      "prop": "thisWeekJobName",
      "label": "Week重点工作"
    }],
    "tableData": [],
    "tableDataXLS": [],
    "exportXLSList": [],
    "exportXLSTitleList": [],
    "colorObj": {
      "ATRISK": "#FF9E05",
      "ONTRACK": "#01B868",
      "OFFTRACK": "#CB212C"
    }
  };

  //用於載入第三方lib，如果是外部連結，請注意中國是否能連到，或是放上龍宮FTP
  // self.dependent = [{
  //   "name": "lodash",
  //   "url": "static/js/lodash-4.17.21.min.js"
  // },{
  //   "name": "moment",
  //   "url": "static/js/moment.min.js"
  // }];

  // es6 syntax
  var {ctx, data, dataComputed, dataWatch, onInit, onDataUpdated, onResize, onDestroy, created, mounted, methods} = self;
  // var {ctx, data, onInit, mounted, methods} = self;

  var vm = new Vue({
    // el: '#weekly-reports-wrap',
    el: self.ctx.$element.querySelector('#weekly-reports-wrap'),
    data: self.data,
    mounted: function () {    // add for keypointwork 20210625
      self.onInit();
    },
    // methods,
    methods: {        // add for keypointwork 20210625
      toggleDateBtnClick: self.toggleDateBtnClick,
      addObjective: self.addObjective,
      carouselToggle: self.carouselToggle,
      getGmoEmpBasicInfo: self.getGmoEmpBasicInfo,
      dateFormat: self.dateFormat,
      weekValueChange: self.weekValueChange,
      addPervWeek: self.addPervWeek,
      addThisWeek: self.addThisWeek,
      changeAccomplishStatus: self.changeAccomplishStatus,
      deleteWork: self.deleteWork,
      btnClick: self.btnClick,
      getWeekStartAndWeekEnd: self.getWeekStartAndWeekEnd,
      getRecentWeek: self.getRecentWeek,
      inpFocus: self.inpFocus,
      thisScheduleChange: self.thisScheduleChange,
      setObjectiveVal: self.setObjectiveVal,
      setWeekInputFocus: self.setWeekInputFocus,
      isChangeObjOrJobName: self.isChangeObjOrJobName,
      inpKeyup: self.inpKeyup,
      changeObjectiveSort: self.changeObjectiveSort,
      confirmTenant: self.confirmTenant,
      currentTenantValueChange: self.currentTenantValueChange,
      onCompositionStart: self.onCompositionStart,
      onCompositionEnd: self.onCompositionEnd,
      defaultPrevent: self.defaultPrevent
    }
  });
</script>
</html>
