<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Overall Overview Dashboard</title>
</head>
<body>
<!-- body內容佈署到templateHtml -->
<!-- 將以下整個div複製到 https://www.textfixer.com/html/compress-html-compression.php 進行壓縮 -->
<!-- 結果貼到deployment/{env}/widget/{page}.json的templateHtml -->
<div class="my-app">
  <transition name="collapse">
    <div class="sidebar" v-show="!is_hide_sidebar">
      <div class="inner-sidebar">
        <div class="caption">Filters</div>

        <div class="filter">
          <img class="filter-icon" :src="assets_path + 'static/media/calendar.svg'">
          <div class="filter-form">
            <div class="filter-label">
              <div class="filter-label-text">Period</div>
              <img class="filter-label-arrow" :src="assets_path + 'static/media/arrow_down_white.svg'"/>
            </div>
            <div class="filter-input">
              <el-date-picker
                  v-model="time_id"
                  type="month"
                  range-separator="~"
                  format="yyyy-MM"
                  value-format="yyyyMM">
              </el-date-picker>
            </div>
          </div>
        </div>

        <div class="filter">
          <img class="filter-icon" :src="assets_path + 'static/media/dimension.svg'">
          <div class="filter-form">
            <div class="filter-label">
              <div class="filter-label-text">PBU / SubPBU</div>
              <img class="filter-label-arrow" :src="assets_path + 'static/media/arrow_down_white.svg'"/>
            </div>
            <div class="filter-tree">
              <el-popover
                  placement="right"
                  width="550"
                  popper-class="tree-picker-popper"
                  trigger="click">
                <div class="tree-picker-container">
                  <div class="tree-picker">
                    <el-input
                        placeholder="Filter keyword"
                        v-model="pbu_text">
                    </el-input>
                    <el-tree
                        class="filter-tree"
                        :data="all_pbu_list"
                        default-expand-all
                        show-checkbox
                        collapse-tags
                        :filter-node-method="pbuFilterBy"
                        node-key="id"
                        @check-change="treeNodeCheckChange"
                        ref="tree">
                    </el-tree>
                  </div>
                  <div class="pickup-pool">
                    <el-tag
                        class="pickup-item"
                        size="small"
                        closable
                        v-for="item in orderedPickupPbuList()"
                        :key="item.id"
                        @close="pbuTagRemove(item)">{{item.label}}
                    </el-tag>
                  </div>
                </div>
                <el-select
                    slot="reference"
                    v-model="pickup_pbu_list"
                    multiple
                    disabled
                    collapse-tags
                    placeholder="Select">
                  <el-option
                      v-for="item in orderedPickupPbuList()"
                      :key="item.id"
                      :label="item.label"
                      :value="item.label">
                  </el-option>
                </el-select>
                <!-- <el-button slot="reference">Click to show PBU</el-button> -->
              </el-popover>
            </div>
          </div>
        </div>

        <div class="filter">
          <img class="filter-icon" :src="assets_path + 'static/media/tasks.svg'">
          <div class="filter-form">
            <div class="filter-label">
              <div class="filter-label-text">Actual-Version</div>
              <img class="filter-label-arrow" :src="assets_path + 'static/media/arrow_down_white.svg'"/>
            </div>
            <div class="filter-input">
              <el-select v-model="filter.actual_version_id" default-first-option="true"
                         popper-append-to-body="false" placeholder="Select">
                <el-option
                    v-for="v in actual_version_table"
                    :key="v.version_id"
                    :label="'Current Month: ' + v.version_name"
                    :value="v.version_id">
                </el-option>
              </el-select>
            </div>
          </div>
        </div>

        <div class="filter">
          <img class="filter-icon" :src="assets_path + 'static/media/target.svg'">
          <div class="filter-form">
            <div class="filter-label">
              <div class="filter-label-text">Budget-Version</div>
              <img class="filter-label-arrow" :src="assets_path + 'static/media/arrow_down_white.svg'"/>
            </div>
            <div class="filter-input">
              <el-select v-model="filter.budget_version_id" default-first-option="true"
                         popper-append-to-body="false" placeholder="Select">
                <el-option
                    v-for="v in budget_version_table"
                    :key="v.version_id"
                    :label="v.version_name"
                    :value="v.version_id">
                </el-option>
              </el-select>
            </div>
          </div>
        </div>

        <div class="filter">
          <img class="filter-icon" :src="assets_path + 'static/media/profit.svg'">
          <div class="filter-form">
            <div class="filter-label">
              <div class="filter-label-text">Currency</div>
              <img class="filter-label-arrow" :src="assets_path + 'static/media/arrow_down_white.svg'"/>
            </div>
            <div class="filter-input">
              <el-select v-model="filter.currency_id" default-first-option="true"
                         popper-append-to-body="false" placeholder="Select">
                <el-option
                    v-for="c in currency_table"
                    :key="c.currency_id"
                    :label="c.currency_name"
                    :value="c.currency_id">
                </el-option>
              </el-select>
            </div>
          </div>
        </div>
        <!--      search/clear-->
        <div class="filter action">
          <div class="filter-icon"></div>
          <div class="filter-form">
            <!-- <button class="button-search"  @click="searchHandler">Search</button> -->
            <button class="button-search" :disabled="!init || disableSearch" @click="searchHandler">Search</button>
            <!--          <button class="button-clear">Clear</button>-->
          </div>
        </div>
      </div>
    </div>
  </transition>

  <div class="content">
    <div class="header">
      <img class="collapse-icon" :src="sidebarToggleIconSrc(is_hide_sidebar)" @click="toggleSidebar">
      <div class="caption">
        <div>{{caption}}</div>
      </div>
      <div class="action">
        <!-- TODO: put your action buttons here! For example: -->
        <button :disabled="!overview_data" @click="exportToExcel">Export</button>
        <el-popover placement="bottom" width="280" trigger="click">
          <div class="granularity">
            <span>Granularity:</span>
            <el-radio-group v-model="fixed_type">
              <el-radio label="Raw Data">Raw Data</el-radio>
              <el-radio label="Thousand">Thousand</el-radio>
              <el-radio label="Million">Million</el-radio>
            </el-radio-group>                
          </div>
          <div class="separator"></div>
          <div class="granularity">
            <span>小數位數：</span>
            <el-slider @change="fixedFloatChange()" v-model="tmp_fixed_float" :min="0" :max="10" :step="1">
            </el-slider>
          </div>
          <button slot="reference" class="el-icon-setting"></button>
          <!-- <el-button  slot="reference">{{fixed_float}}位</el-button> -->
        </el-popover>

        
      </div>
    </div>
    <div class="main">
      <div class="box">
        <!-- <transition name="fade"> -->
        <table class="overview-table" v-show="overview_data">
          <thead>
          <!-- title : 第一列 -->
          <tr>
            <th class="granularity" rowspan="3">
              <span>Granularity:{{fixed_type}}</span>
            </th>
            <th class="table-separator"
                v-for="col in overview_head_r1"
                :colspan="col.colspan">
              {{col.title}}
            </th>
          </tr>

          <!-- title : 第二列 -->
          <tr>
            <th class="table-separator"
                v-for="(item,idx) in overview_head_r2"
                :colspan=item.colspan>
              {{item.items_name}}
            </th>
          </tr>

          <!-- title : 第三列 -->
          <tr>
            <template v-for="sub_item_id in overview_head_r3">
              <th :class="theadClass(overview_head_map[sub_item_id].sub_item_name)">
                {{overview_head_map[sub_item_id].sub_item_name}}
              </th>
            </template>
          </tr>
          </thead>

          <tbody>
          <!-- start render by loop -->
          <!---->
          <tr v-for="(row,idx) in overview_data"
              :class="tbodyRowClass(row, idx , overview_data.length)"
              :key="'spacing-' + row.subpbu_id"
              @click="toggleFlagInSet(is_highlight_row, idx)">
            
              <!--A.PUB-->
            <td v-if="row.parent_id === null || row.consolidated " class="indent-0 pub-first-td">{{row.subpbu_name}}</td>
            <!--B.最後一行加總-->
            <td v-else-if="overview_data.length-1 === idx" class="indent-0">{{row.subpbu_name}}</td>
            <!--C.SubPBU-->
            <td v-else class="indent-1">{{row.subpbu_name}}</td>

            <template v-for="sub_item_id in overview_head_r3">
              
              <!-- 一般欄位顯示 -->
              <td v-if="row.values[sub_item_id] !== null && without_change_items.indexOf(overview_head_map[sub_item_id].items_name) === -1 ">
                <template v-if="red_green_sign.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0">
                  <span v-if="row.values[sub_item_id] >= 0" class="success sign">●</span>
                  <span v-else class="alert sign">●</span>
                </template>
                <el-tooltip v-if="overview_head_map[sub_item_id].type === 'percentage'"
                  :content="(row.values[sub_item_id] * 100)+'%'" popper-class="tooltip" placement="right" :open-delay="500">
                      <span :class="tbodySpanClass(row.values[sub_item_id],1,text_plus.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0)"
                        >{{toFixedFloatPercentage(row.values[sub_item_id],2)}}</span>
                </el-tooltip>
                <el-tooltip v-else
                  :content="row.values[sub_item_id]" popper-class="tooltip" placement="right" :open-delay="500">
                      <span :class="tbodySpanClass(row.values[sub_item_id],0,text_plus.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0)"
                        >{{toFixedFloatCurrency(row.values[sub_item_id])}}</span>      
                </el-tooltip>
              </td>

              <!--科目 Sales Vol 要另外處理-->
              <td v-else-if="row.values[sub_item_id] !== null && without_change_items.indexOf(overview_head_map[sub_item_id].items_name) >=0 "> 
                <template v-if="red_green_sign.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0">
                  <span v-if="row.values[sub_item_id] >= 0" class="success sign">●</span>
                  <span v-else class="alert sign">●</span>
                </template>
                <el-tooltip v-if="overview_head_map[sub_item_id].type === 'percentage'"
                  :content="(row.values[sub_item_id] * 100)+'%'" popper-class="tooltip" placement="right" :open-delay="500">
                      <span :class="tbodySpanClass(row.values[sub_item_id],1,text_plus.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0)"
                        >{{toFixedFloatPercentage(row.values[sub_item_id],2)}}</span>
                </el-tooltip>
                <el-tooltip v-else
                  :content="row.values[sub_item_id]" popper-class="tooltip" placement="right" :open-delay="500">
                      <span :class="tbodySpanClass(row.values[sub_item_id],0,text_plus.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0)"
                        >{{toSalesVolValue(row.values[sub_item_id])}}</span>
                </el-tooltip>
              </td>

              <!-- 空白資料顯示 -->
              <td v-else></td>

            </template>

          </tr>

          </tbody>

        </table>
        <!-- </transition> -->

      </div>
    </div>
  </div>
</div>

</body>

<!-- 龍宮預設提供的第三方lib，可直接使用，勿動  -->
<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../static/js/echarts-3.7.1.min.js"></script>
<script type="text/javascript" src="../static/js/vue-2.6.10.min.js"></script>
<script type="text/javascript" src="../static/js/element-ui-2.15.1.min.js"></script>

<script type="text/javascript" src="../static/js/moment.min.js"></script>
<script type="text/javascript" src="../static/js/lodash-4.17.21.min.js"></script>

<!-- 模擬龍宮提供的服務，以及模擬呼叫data api及回傳，mock-utils.js不再使用，統一集中在mock-context.js -->
<script type="text/javascript" src="../static/js/mock/mock-resources-common.js"></script>
<script type="text/javascript" src="../static/js/mock/mock-resources-overall.js"></script>
<script type="text/javascript" src="../static/js/mock/mock-context.js"></script>

<!-- 龍宮預設提供的第三方css，勿動 -->
<link rel="stylesheet" href="../static/css/third-party/element-ui-2.15.1.min.css">

<!-- 模擬龍宮或花果山外框用，勿動 -->
<link rel="stylesheet" type="text/css" href="../static/css/mock/mock-outbox.css"/>

<!-- 以下三個是報表自定義的style，把三個內容全部貼到 https://www.giftofspeed.com/css-compressor/  -->
<!-- 壓縮結果貼到deployment/{env}/widget/{page}.json的templateCss -->
<!-- layout.css 左方sidebar，右方大框及標題/功能按鈕，修改時注意影響其他報表  -->
<link rel="stylesheet" type="text/css" href="../static/css/common-layout.css"/>
<!-- xxx.css 右方中間主要呈現區塊，報表自定義客製用  -->
<link rel="stylesheet" type="text/css" href="../static/css/overall-overview.css"/>
<!-- common.css 提供共用且獨立使用的class，無階層關係，修改時注意影響其他報表，需放在最後，確保動畫CSS生效  -->
<link rel="stylesheet" type="text/css" href="../static/css/common.css"/>

<script type="text/javascript">
  //定義給vue渲染畫面的資料初始值，佈署時放在組件的defaultData
  //貼到deployment/{env}/widget/{page}.json的defaultData

  
  self.data = {
    "init": false,
    "filter": {
      "time_id_s": "",
      "time_id_e": "",
      "actual_version_id": null,
      "budget_version_id": null,
      "currency_id": null
    },
    "pbu_text": "",
    "pickup_pbu_list": [],
    "all_pbu_list": [],
    "actual_version_table": [],
    "budget_version_table": [],
    "currency_table": [],
    "assets_path": "http://10.60.136.119:806/widget/cm/",
    "fixed_type": "Thousand",
    "caption": "PBU Overview Dashboard",
    "overview_head_r1": [],
    "overview_head_r2": [],
    "overview_head_r3": [],
    "overview_head_map": [],
    "overview_data": null,
    "is_hide_sidebar": false,
    "is_highlight_row": [],
    "fixed_float": 2,
    "tmp_fixed_float": 2,
    "without_change_items": ["Sales Vol (M PCS)"],
    //"baby_blue_100": ["M PCS", "Actual GP %","Actual MOB%","Actual OP %","Actual MOB %","vs. budget (p.p.)", "Actual", "ΔOP A", "ΔOP B","ΔGP", "ΔOP (incl. ΔGP)", "ΔGP (vol)", "ΔGP (margin)", "ΔR&D platform", "ΔNon-R&D platform OPEX", "ΔShared expense"],
    "baby_blue_100": [],
    // "text_gray": ["2019FY", "2020FY", "2020FY %"],
    "text_gray": [],
    //"red_green_sign": ["vs. budget (p.p.)", "ΔGP", "ΔOP (incl. ΔGP)","ΔOP B"],
    "red_green_sign": [],
    //"text_plus": ["ΔOP A", "ΔOP B","ΔGP","vs. budget %", "vs. budget (p.p.)", "ΔGP (vol)", "ΔGP (margin)", "ΔR&D platform", "ΔNon-R&D platform OPEX", "ΔShared expense"]
    "text_plus" : [],
    // "show_raw_data": ["M PCS","Budget","2019FY"],
  };

  //用於載入第三方lib，如果是外部連結，請注意中國是否能連到，或是放上龍宮FTP
  self.dependent = [{
    "name": "lodash",
    "url": "static/js/lodash-4.17.21.min.js"
  }, {
    "name": "moment",
    "url": "static/js/moment.min.js"
  }];
</script>
<!-- 此區塊定義渲染會用到的方法，佈署於controllerScript -->
<script type="text/javascript" src="../static/js/dashboard/overall-overview.js"></script>
<!-- 模擬龍宮初始用，勿動 -->
<script type="text/javascript">

  // es6 syntax
  var {
    ctx, components, data, dependent, dataComputed, dataWatch, onInit, onDataUpdated, onResize, onDestroy,
    created, mounted, ...methods
  } = self;

  var vm = new Vue({
    el: self.ctx.$element.querySelector('.my-app'),
    data,
    components,
    methods,
    computed: dataComputed,
    watch: dataWatch,
    created,
    mounted
  });
</script>
</html>
