<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Performance View</title>
  </head>
  <body>

  <div class="performance_review" id="performance_review" v-cloak>
    <div class="main-container">


      
      <div class="main-wrap" :class="'main-wrap-showSinglePerson'"> 


        <!-- PUB List-->
        <div class="header clearfix">
          <div class="site-wrap">
            <div class="block">

              <!-- pbu name 下拉式選單 -->
              <el-row>
                <el-col :span="7" :push="1">
                  <span class="select_range"> PBU </span>
                  <el-select v-model="defaultPBU" clearable @change="getPerformanceObjectives">
                    <el-option v-for="(pbu,i) in pbu_list" :key="pbu.pbu_id" :label="pbu.pbu_name" :value="pbu.pbu_id" class="year-month">
                    </el-option>
                  </el-select>
                </el-col>

                <!-- 年月份的日期選單 -->
                <el-col :span="10" :push="0">
                  <span class="select_range"> Year-Month </span>
                  <el-date-picker v-model="thisMonthFormat" type="month" placeholder="選擇月份" @change="changeMonth" format="yyyy-MM" class="year-month">
                    <span v-html="thisMonth"></span>
                  </el-date-picker>
                </el-col>
              
                <!-- redirect to edit page -->
                <el-col :span="2" :push="5">
                  <div class="my-job-btn fr" @click="goToEdit"> Edit </div>
                </el-col>
              </el-row>

            </div>


          </div>
        </div>



        <!-- month row -->
        <div class="main-title-wrap clearfix">
          <el-row :gutter="0" class="content-title">
            <!-- [ps] time picker -->
            <el-col :xl="3" :span="4" class="blank">

            </el-col>
            <el-col :xl="21" :span="20">
              <div class="timeline-wrap">
                <div class="week-timeline clearfix">
                  <el-row :gutter="0">

                    <el-col :span="12">
                      <el-row :gutter="0">
                        <el-col :span="12">
                          <div class="weekItem">
                            <span>{{prevMonthFormat}}</span>
                          </div>
                        </el-col>
                        <el-col :span="12" class="circleNum-wrap">
                          <span v-for="(el,i) in [1,1,1,1,1,1]" :key="i" class="circle"></span>
                        </el-col>
                      </el-row>
                    </el-col>

                    <el-col :span="12">
                      <el-row :gutter="0">
                        <el-col :span="12">

                          <div class="weekItem weekItem1">
                            <span>{{thisMonthFormat}}</span>
                          </div>
                        </el-col>


                      </el-row>
                    </el-col>

                  </el-row>
                </div>
              </div>
            </el-col>
          </el-row>
        </div>


        <div class="job-content-wrap">
          <div class="work-body" id="workBody">
            <el-row :gutter="0" v-for="(el,i) in performanceObjects.objectives" :key="i" class="workContentList-item-wrap">
              
                <!-- 左側 objective 欄 -->
                <el-col :xl="3" :span="4" class="objective-description">
                    <div class="work-body-r-b text-pre">{{el.objective_description}}</div>
                </el-col>
                <el-col :xl="21" :span="20">
                  <el-row :gutter="0">

                    <!-- prevWeek -->
                    <el-col :span="12">
                      <div class="work-body-c">
                        <div :key="" class="work-body-c-i clearfix">
                          <div class="text-pre" v-html="!el.work_note[prevMonth] ? '' : transitionContent(el.work_note[prevMonth].note) "></div>
                        </div>
                      </div>
                    </el-col>

                    <!-- thisWeek -->
                    <el-col :span="12">
                      <div class="work-body-l">
                        <div class="work-body-c-i clearfix">
                          <div class="text-pre" v-html="!el.work_note[thisMonth] ? '' : transitionContent(el.work_note[thisMonth].note) "></div>
                        </div>
                      </div>
                    </el-col>
                  </el-row>
                </el-col>
            </el-row>
          </div>
        </div>
      </div>
    </div>
  </div>





  </body>
</html>

<!-- 龍宮預設提供的第三方lib，可直接使用，勿動  -->
<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../static/js/echarts-3.7.1.min.js"></script>
<script type="text/javascript" src="../static/js/vue-2.6.10.min.js"></script>
<script type="text/javascript" src="../static/js/vue-router-3.5.2.js"></script>
<script type="text/javascript" src="../static/js/element-ui-2.15.1.min.js"></script>

<script type="text/javascript" src="../static/js/moment.min.js"></script>
<script type="text/javascript" src="../static/js/lodash-4.17.21.min.js"></script>

<!-- 模擬龍宮提供的服務，以及模擬呼叫data api及回傳，mock-utils.js不再使用，統一集中在mock-resources.js -->
<script type="text/javascript" src="../static/js/mock/mock-resources-common.js"></script>
<!-- <script type="text/javascript" src="../static/js/mock/mock-resources-okr.js"></script> -->

<script type="text/javascript" src="../static/js/mock/mock-context.js"></script>

<!-- 龍宮預設提供的第三方css，勿動 -->
<link rel="stylesheet" href="../static/css/third-party/element-ui-2.15.1.min.css">

<!-- 模擬龍宮或花果山外框用，勿動 -->
<link rel="stylesheet" type="text/css" href="../static/css/mock/mock-outbox.css" />

<!-- 以下三個是報表自定義的style，把三個內容全部貼到 https://www.giftofspeed.com/css-compressor/  -->
<!-- 壓縮結果貼到deployment/{env}/widget/{page}.json的templateCss -->
<!-- layout.css 左方sidebar，右方大框及標題/功能按鈕，修改時注意影響其他報表  -->
<!-- xxx.css 右方中間主要呈現區塊，報表自定義客製用  -->
<link rel="stylesheet" type="text/css" href="../static/css/performance-review.css" />
<!-- common.css 提供共用且獨立使用的class，無階層關係，修改時注意影響其他報表，需放在最後，確保動畫CSS生效  -->
<link rel="stylesheet" type="text/css" href="../static/css/common.css" />

<script type="text/javascript" src="../static/js/dashboard/performance-review.js"></script>

<script>
  self.data = {
    "workContentList": [],
    "canvas": {
      "w": 60,
      "h": 60
    },
    "pbu_list": {},
    "performancePbuList": {},
    "performanceObjects": {},
    "thisMonth": "",
    "thisMonthFormat": "",
    "prevMonth": "",
    "prevMonthFormat": "",
    "defaultPBU": "",
    "editUrl": "", 
    "editUrlPrefix": "http://10.60.136.119:803/dashboard.html#/iframeDashboards/detail/607a6309-a804-487e-a0ce-bb18222fb1b8/pc/1.0.0?", 
    "user_id": ""
  };

  //用於載入第三方lib，如果是外部連結，請注意中國是否能連到，或是放上龍宮FTP
  self.dependent = [{
    "name": "lodash",
    "url": "static/js/lodash-4.17.21.min.js"
  },{
    "name": "moment",
    "url": "static/js/moment.min.js"
  }];

</script>

<script type="text/javascript" src="../static/js/mock/mock-resources-performance.js"></script>


<script>

  // es6 syntax
  var {ctx, components, data, dependent, dataComputed, dataWatch, onInit, onDataUpdated, onResize, onDestroy,
    created, mounted, ...methods} = self;

  var router = new VueRouter();

  var vm = new Vue({
    el: self.ctx.$element.querySelector('#performance_review'),
    data,
    router,
    components,
    methods,
    computed: dataComputed,
    watch: dataWatch,
    created,
    mounted
  });
</script>
