<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Performance Summary</title>
</head>
<body>

<div class="performance-objective-wrap" id="performance-objective-wrap">
  <div class="ps-objective-main-container">
    <div class="main-wrap-objective">
      <div class="main-title-wrap clearfix">
        <!-- <div class="weekShow" @click="setMonthInputFocus">{{month_names[timerObj.month]}}</div> -->
        <div class="el-row">
          <div class="el-col el-col-14">&nbsp;
              <!-- TEST
              <template slot-scope='scope'>
                <el-popover placement='right' title='TEST' trigger='hover'>
                  <img src='http://woolongyun.com/syssite/home/shop/1/pictures/productsimg/big/5607.jpg'/>
                  <img slot='reference' src='http://woolongyun.com/syssite/home/shop/1/pictures/productsimg/big/5607.jpg'  style='max-height: 50px;max-width: 150px'>
              </el-popover>
            </template> -->
            <span class="input-label">PBU</span>
            <el-select v-model="current_pbu_id" placeholder="Select" @change="pbuValueChange()" size="small">
              <el-option
                v-for="pbu in pbu_list"
                :key="pbu.pbu_id"
                :label="pbu.pbu_name"
                :value="pbu.pbu_id">
              </el-option>
            </el-select>
            <!-- <i class="el-icon-user-solid">{{loginUserInfo.usercode}}</i> -->
            <span class="input-label">Year-Month</span>
            <el-date-picker 
              v-model="monthValue" 
              id="month_value_input" 
              type="month"
              format="yyyy-MM" 
              placeholder="pickup month"
              :picker-options="{'firstDayOfMonth': 1}" 
              @change="monthValueChange"
              size="small">
            </el-date-picker>
          </div>
          <div class="el-col el-col-10">
            <!-- <div v-if="!hiddenBtn" class="fr Save" @click="btnClick('save')">Save__</div> -->
            <div v-if="editVisible" class="fr Save" @click="btnClick('save')">Save</div>
            <div v-if="editVisible" class="fr Cancel" @click="btnClick('return')">Return</div>
            <div v-if="editVisible" class="fr Cancel" @click="btnClick('cancel')">Cancel</div>
            <!-- <div class="fr Save" @click="btnClick('view')">{{mode_msg}}</div> -->
            <!-- <div v-if="editVisible" class="fr Save" icon="el-icon-plus" @click="addObjective">Add Objective</div> -->
            <!-- <div v-if="!hiddenBtn" class="fr Cancel" @click="btnClick('cancel')">Cancel</div> -->
          </div>
        </div>
      </div>
      <div class="main-title-wrap">
      <div class="week-timeline clearfix">
        
        <el-row :gutter="0" class="content-title">
          <!-- [ps] time picker -->
          <el-col :xl="3" :span="4">
            <div class="timeline-wrap">
              <div class="week-timeline clearfix">
                <el-row :gutter="0">
                  <el-col :span="24">
                    <el-row :gutter="0">
                      <el-col :span="24">
                        <div class="noneItem">
                          <span>&nbsp;</span>
                        </div>
                      </el-col>
                    </el-row>
                  </el-col>
                </el-row>
              </div>
            </div>
          </el-col>

          <el-col :xl="21" :span="20">
            <div class="timeline-wrap">
              <div class="week-timeline clearfix">
                <el-row :gutter="0">
                  
                  <el-col :span="9">
                    <el-row :gutter="0">
                      <el-col :span="24">
                        <div class="weekItem" :class="'weekItem3'" :key="0">
                          <span v-if="timerList.length > 0">{{timerList[0].time_id}}</span>
                          <span v-else>Pre Month</span>
                        </div>
                      </el-col>
                    </el-row>
                  </el-col>

                  <el-col :span="6">
                    <el-row :gutter="0">
                      <el-col :span="24" class="circleNum-wrap">
                        <span v-for="(el,i) in [1,1,1,1,1,1]" :key="i" class="circle"></span>
                      </el-col>
                    </el-row>
                  </el-col>

                  <el-col :span="9">
                    <el-row :gutter="0">
                      <el-col :span="24">
                        <div class="weekItem" :class="'weekItem1'" :key="1">
                          <span v-if="timerList.length > 0">{{timerList[1].time_id}}</span>
                          <span v-else>This Month</span>
                        </div>
                      </el-col>
                    </el-row>
                  </el-col>

                </el-row>
              </div>
            </div>
          </el-col>
        </el-row>
      </div>
      <div class="job-content-wrap">
        <div class="objective-work-body">
          <div v-for="(el,i) in workContentList" :key="i" class="workContentList-item-wrap">
            <el-row :gutter="0">
              <el-col :xl="3" :span="4">
                <div class="work-body-r">
                  <div class="work-body-r-b">
                    <input type="hidden" class="objective-sort-input" max="10" maxlength="2" v-model="el.objective_id" />
                    <span v-if="!el.isAdd" class="text-break-all">{{el.objective_description}}</span>
                    <el-input v-else type="textarea" resize="none" :rows="3" placeholder="请輸入 Objective"
                      @input="setObjectiveVal(el)" v-model="el.objective_description">
                    </el-input>
                  </div>
                </div>
              </el-col>
              <el-col :xl="21" :span="20">
                <el-row :gutter="0">
                  <el-col :span="12">
                    <div v-if="editVisible" class="work-body-c">
                      <div v-for="(item,j) in el.pervMonthList" :key="'item' + j" class="work-body-c-i clearfix">
                        <textarea class="job-textarea" :id="item.id" type="textarea" :rows="4"
                          @input="isChangeObjOrJobName(item)" placeholder="Keyin" v-model="item.job_name"
                          @compositionstart="onCompositionStart(item)" @compositionend="onCompositionEnd(item)"
                          @keydown="defaultPrevent($event)" @keyup="inpKeyup(el.pervMonthList,1,$event)"></textarea>
                          <div class="fr">
                            <!-- <el-button type="primary" @click="" size="small">+Link</el-button> -->
                            <div v-if="editVisible" class="addlink" @click="showUrlTagDialog(item.id)">+LINK</div>
                            <!-- <div v-if="editVisible" class="addlink" @click="deleteWorkNote(el.objective_id,item)">-DEL</div> -->
                          </div>
                      </div>
                    </div>
                    <div v-else class="work-body-c">
                      <div v-for="(item,j) in el.pervMonthList" :key="'item'+ j" 
                      :class="transformJobName(item.job_name)==='' ? '': 'work-body-c-i clearfix'">
                        <div class="text-pre" v-html="transitionViewContent(item.job_name)"></div>
                      </div>
                    </div>
                  </el-col>

                  <el-col :span="12">
                    <div v-if="editVisible" class="work-body-l">
                      <div v-for="(item1,x) in el.thisMonthList" :key="'item1'+ x" class="work-body-c-i clearfix">
                        <textarea class="job-textarea" :id="item1.id" type="textarea" :rows="4"
                          @input="isChangeObjOrJobName(item1)" placeholder="Keyin" v-model="item1.job_name"
                          @compositionstart="onCompositionStart(item1)" @compositionend="onCompositionEnd(item1)"
                          @keydown="defaultPrevent($event)" @keyup="inpKeyup(el.thisMonthList,1,$event)"></textarea>
                          <!-- <div class="fr">
                            <el-tooltip class="item" effect="dark" placement="top-start">
                              <div slot="content">Add Link</div>
                              <i class="el-icon-circle-plus" @click="showUrlTagDialog(item1.id)"></i>
                            </el-tooltip>
                          </div> -->
                          <div class="fr">
                            <div v-if="editVisible" class="addlink" @click="showUrlTagDialog(item1.id)">+LINK</div>
                            <!-- <div v-if="editVisible" class="addlink" @click="deleteWorkNote(el.objective_id,item1)">-DEL</div> -->
                          </div>
                      </div>
                    </div>
                    <!---->
                    <div v-else class="work-body-l">
                      <div v-for="(item1,x) in el.thisMonthList" :key="'item1'+ x" 
                        :class="transformJobName(item1.job_name)==='' ? '': 'work-body-c-i clearfix'">
                        <div class="text-pre" v-html="transitionViewContent(item1.job_name)"></div>
                      </div>
                    </div>
                    <!---->
                  </el-col>
                </el-row>
              </el-col>
            </el-row>
          </div>
        </div>
      </div>
    </div>
  </div>

  <el-dialog title="Add Link" :visible.sync="dialogVisible" width="40%" center :show-close="false"
    :modal-append-to-body="false" :close-on-click-modal="false">
    <el-form label-width="80px">
      <!-- <el-form-item>
          <el-radio-group>
            <el-radio-button label="File"><i class="el-icon-download"></i></el-radio-button>
            <el-radio-button label="Document"><i class="el-icon-document"></i></el-radio-button>
            <el-radio-button label="Picture"><i class="el-icon-picture"></i></el-radio-button>
          </el-radio-group>
      </el-form-item> -->
      <el-form-item label="Name">
        <el-input v-model="url_form.name" :maxlength=20 placeholder="Maximum 20 characters" show-word-limit></el-input>
      </el-form-item>
      <el-form-item label="Url">
        <el-input v-model="url_form.url" placeholder="Link Url.">
          <template slot="prepend">http://</template>
        </el-input>
      </el-form-item>
    </el-form>
    <span slot="footer" class="dialog-footer">
      <el-button @click="dialogVisible = false" size="small">Cancel</el-button>
      <el-button type="primary" @click="addUrlTag()" size="small">Save</el-button>
    </span>
  </el-dialog>

</div>

</body>

<!-- 龍宮預設提供的第三方lib，可直接使用，勿動  -->
<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../static/js/echarts-3.7.1.min.js"></script>
<script type="text/javascript" src="../static/js/vue-2.6.10.min.js"></script>
<script type="text/javascript" src="../static/js/vue-router-3.5.2.js"></script>
<script type="text/javascript" src="../static/js/element-ui-2.15.1.min.js"></script>

<script type="text/javascript" src="../static/js/moment.min.js"></script>
<script type="text/javascript" src="../static/js/lodash-4.17.21.min.js"></script>

<!-- 模擬龍宮提供的服務，以及模擬呼叫data api及回傳，mock-utils.js不再使用，統一集中在mock-resources.js -->
<script type="text/javascript" src="../static/js/mock/mock-resources-common.js"></script>
<!-- <script type="text/javascript" src="../static/js/mock/mock-resources-okr.js"></script> -->
<script type="text/javascript" src="../static/js/mock/mock-resources-performance.js"></script>
<script type="text/javascript" src="../static/js/mock/mock-context.js"></script>

<!-- 龍宮預設提供的第三方css，勿動 -->
<link rel="stylesheet" href="../static/css/third-party/element-ui-2.15.1.min.css">

<!-- 模擬龍宮或花果山外框用，勿動 -->
<link rel="stylesheet" type="text/css" href="../static/css/mock/mock-outbox.css" />


<link rel="stylesheet" type="text/css" href="../static/css/performance-objective.css" />
<!-- common.css 提供共用且獨立使用的class，無階層關係，修改時注意影響其他報表，需放在最後，確保動畫CSS生效  -->
<link rel="stylesheet" type="text/css" href="../static/css/common.css" />

<script type="text/javascript">

  self.data = {
    "dialogVisible": false,
    "tenantList": [],
    "currentTenant": {},
    "loginUserInfo": {},
    "carouselW": 202,
    "carouselP": 0,
    "showRArrow": true,
    "monthValue": "",
    "timerList": [],
    "timerObj": {
      "year": "",
      "week": "",
      "month": "",
      "time_id":""
    },
    "workContentList": [],
    "objectiveList": [],
    "hiddenBtn": true,
    "deleteList": [],
    "columns": [{
      "prop": "objective_description",
      "label": "OKR"
    }, {
      "prop": "pervMonthJobName",
      "label": "keypoint"
    }, {
      "prop": "thisMonthJobName",
      "label": "keypoint"
    }],
    "colorObj": {
      "ATRISK": "#FF9E05",
      "ONTRACK": "#01B868",
      "OFFTRACK": "#CB212C"
    },
    "pbu_list" : [],
    "default_objective_description" : ["PBU Performance Summary","Market and Competiton Analysis","The financial outlook for the year","Priority for the next month"],
    "month_names" : ["0","January", "February", "March", "April", "May", "June","July", "August", "September", "October", "November", "December"],
    "assets_path": "http://10.60.136.119:806/widget/cm/",
    "url_form" : {
      "item_id" : "",
      "name" : "",
      "url" : "",
      "postition" : 0
    },
    "current_pbu_id": "",
    "editVisible": true,
    "mode_msg": "View Mode",
    "review_url": "http://10.60.136.119:803/dashboard.html#/iframeDashboards/detail/613f496d-e8d1-4e9f-9bff-1595df6b12bf/pc/1.0.0"
  };

  //用於載入第三方lib，如果是外部連結，請注意中國是否能連到，或是放上龍宮FTP
  self.dependent = [{
    "name": "lodash",
    "url": "static/js/lodash-4.17.21.min.js"
  }, {
    "name": "moment",
    "url": "static/js/moment.min.js"
  }];
</script>

<!-- 此區塊定義渲染會用到的方法，佈署於controllerScript -->
<script type="text/javascript" src="../static/js/dashboard/performance-objective.js"></script>

<!-- 模擬龍宮初始用，勿動 -->
<script type="text/javascript">

  // es6 syntax
  var {
    ctx, components, data, dependent, dataComputed, dataWatch, onInit, onDataUpdated, onResize, onDestroy,
    created, mounted, ...methods
  } = self;

  var router = new VueRouter();

  var vm = new Vue({
    el: self.ctx.$element.querySelector('.performance-objective-wrap'),
    data,
    router,
    components,
    methods,
    computed: dataComputed,
    watch: dataWatch,
    created,
    mounted
  });

</script>

</html>