<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PBU Feb 2021 P&L</title>
</head>
<body>
<!-- body內容佈署到templateHtml -->
<!-- 將以下整個div複製到 https://www.textfixer.com/html/compress-html-compression.php 進行壓縮 -->
<!-- 結果貼到deployment/{env}/widget/{page}.json的templateHtml -->
<div class="my-app">
  <transition name="collapse">
    <div class="sidebar" v-show="!is_hide_sidebar">
      <div class="inner-sidebar">
        <div class="caption">Filters</div>
        <div class="filter">
          <img class="filter-icon" :src="assets_path + 'static/media/calendar.svg'">
          <div class="filter-form">
            <div class="filter-label">
              <div class="filter-label-text">Period</div>
              <img class="filter-label-arrow" :src="assets_path + 'static/media/arrow_down_white.svg'"/>
            </div>
            <div class="filter-input">
              <el-date-picker
                  v-model="filter.time_id"
                  type="month"
                  range-separator="~"
                  format="yyyy-MM"
                  value-format="yyyyMM">
              </el-date-picker>
            </div>
          </div>
        </div>

        <div class="filter">
          <img class="filter-icon" :src="assets_path + 'static/media/dimension.svg'">
          <div class="filter-form">
            <div class="filter-label">
              <div class="filter-label-text">PBU</div>
              <img class="filter-label-arrow" :src="assets_path + 'static/media/arrow_down_white.svg'"/>
            </div>
            <div class="filter-input">
              <el-select v-model="filter.pbu_id" default-first-option="true"
                         popper-append-to-body="false" placeholder="Select">
                <el-option
                    v-for="p in pbu_table_distinct"
                    :key="p.pbu_id"
                    :label="p.pbu_name"
                    :value="p.pbu_id">
                </el-option>
              </el-select>
            </div>
          </div>
        </div>

        <div class="filter">
          <img class="filter-icon" :src="assets_path + 'static/media/location.svg'">
          <div class="filter-form">
            <div class="filter-label">
              <div class="filter-label-text">SubPBU</div>
              <img class="filter-label-arrow" :src="assets_path + 'static/media/arrow_down_white.svg'"/>
            </div>
            <div class="filter-input">
              <el-select v-model="filter.subpbu_id" default-first-option="true"
                         popper-append-to-body="false" placeholder="Select">
                <el-option
                    v-for="p in sub_pbu_table_distinct"
                    :key="p.subpbu_id"
                    :label="p.subpbu_name"
                    :value="p.subpbu_id">
                </el-option>
              </el-select>
            </div>
          </div>
        </div>

        <div class="filter">
          <img class="filter-icon" :src="assets_path + 'static/media/tasks.svg'">
          <div class="filter-form">
            <div class="filter-label">
              <div class="filter-label-text">Actual-Version</div>
              <img class="filter-label-arrow" :src="assets_path + 'static/media/arrow_down_white.svg'"/>
            </div>
            <div class="filter-input">
              <el-select v-model="filter.actual_version_id" default-first-option="true"
                         popper-append-to-body="false" placeholder="Select">
                <el-option
                    v-for="v in actual_version_table"
                    :key="v.version_id"
                    :label="'Current Month: ' + v.version_name"
                    :value="v.version_id">
                </el-option>
              </el-select>
            </div>
          </div>
        </div>

        <!--      search/clear-->
        <div class="filter action">
          <div class="filter-icon"></div>
          <div class="filter-form">
            <button class="button-search" :disabled="!init || disableSearch" @click="searchHandler">Search</button>
            <!--						<button class="button-clear">Clear</button>-->
          </div>
        </div>
      </div>
    </div>
  </transition>

  <div class="content">
    <div class="header">
      <img class="collapse-icon" :src="sidebarToggleIconSrc(is_hide_sidebar)" @click="toggleSidebar">
      <div class="caption">
        <div>{{caption}}</div>
      </div>
      <div class="action" v-if="profile">
        <button v-if="is_cm_admin" :disabled="!actual_history || actual_history.status !== 3"
                @click="unlockHandler">Unlock
        </button>
        <button :disabled="!actual_history || actual_history.status > 1" @click="openImportDialog">Import</button>
        <button :disabled="!actual_history || [1, 0].indexOf(actual_history.status) < 0"
                @click="lockHandler">Lock
        </button>
      </div>
    </div>

    <div class="main">
      <div class="box">
        <transition name="fade">
          <table v-if="init && actual_history" class="pnl-actual-table">
            <thead>
            <tr>
              <th class="item-name text-align-left indent-1">Item</th>
              <th v-for="product in products">
                <div class="product">{{product.name}}</div>
              </th>
            </tr>
            </thead>

            <tbody name="fade" is="transition-group">

            <template v-for="(row, index) in history_items">
              <template v-if="row.item_type === 'C'">
                <tr v-if="index > 0 && history_items[index - 1].item_type !== 'C'"
                    :key="'spacing-' + index"
                    v-show="is_open_group[row.collapse_index -1]" class="row-spacing">
                  <td :colspan="cellAmount"></td>
                </tr>

                <tr :class="tbodyRowClass(row)" :key="row.line_item"
                    @dblclick="toggleItemGroup(row.collapse_index)">
                  <td>
                    <img class="collapse-icon"
                         :class="{'rotated-270': !is_open_group[row.collapse_index]}"
                         :src="assets_path + 'static/media/arrow_down_black.svg'"
                         @click="toggleItemGroup(row.collapse_index)"/>
                    <span v-html="row.item_name"></span>
                  </td>
                  <td v-for="n in cellAmount - 1"></td>
                </tr>
              </template>

              <tr v-else v-show="is_open_group[row.collapse_index]"
                  :class="tbodyRowClass(row)" :key="row.line_item">

                <td class="item-name table-separator" :class="'indent-' + row.item_level">
                  <span v-html="row.item_name"></span>
                </td>

                <td v-for="product in products">
                  <div class="product">{{toFixedFloatCurrency(row.products[product.key], 1)}}</div>
                </td>
              </tr>

            </template>

            </tbody>
          </table>
        </transition>
      </div>
    </div>
  </div>

  <!-- element-ui dialog -->
  <el-dialog
      :visible="is_show_import"
      :modal-append-to-body="false"
      :close-on-click-modal="false"
      :close-on-press-escape="false"
      custom-class="import-dialog"
      :show-close="false"
      width="480px" center
      @closed="resetImportStep">

    <div slot="title">Import</div>

    <div v-if="criteria" class="import-body upload-demo">
      <transition name="import-slide-previous">
        <div v-show="import_step === 1">
          <img class="import_img"
               :src="assets_path + 'static/media/logo_import_step_' + import_step + '.svg'"/>
          <input type="file" v-if="import_step === 1" v-show="false"
                 ref="file_input" @change="getUploadFile"
                 accept=".xls, .xlsx">
          <div>
            <button @click="openUploadDialog" class="import_select_button">Select File</button>
          </div>
          <div>
            <a :href="assets_path + 'static/template/pnl_actual_input_template.xlsx'"
               class="import_template_download">Template download</a>
          </div>
        </div>
      </transition>
      <transition name="import-slide-next">
        <div v-show="import_step === 2">
          <img class="import_img"
               :src="assets_path + 'static/media/logo_import_step_' + import_step + '.svg'"/>
          <div>讀取文件中...<i class="el-icon-loading"></i></div>
        </div>
      </transition>
      <transition name="import-slide-next">
        <div v-show="import_step === 3">
          <img class="import_img"
               :src="assets_path + 'static/media/logo_import_step_' + import_step + '.svg'"/>
          <div class="import_success_w">
            {{import_message || 'Success!!'}}
          </div>
        </div>
      </transition>
      <transition name="import-slide-next">
        <div v-show="import_step === 4">
          <img class="import_img"
               :src="assets_path + 'static/media/logo_import_step_' + import_step + '.svg'"/>
          <div class="import_fail_w">
            {{import_message || 'Something wrong!!'}}
          </div>
        </div>
      </transition>
    </div>

    <div slot="footer" class="dialog-footer">
      <button class="previous" @click="resetImportStep">Previous</button>
      <div class="step-progress">
        <span class="point" :class="progressStepPointCss(1)"></span>
        <span class="connect" :class="progressStepConnectCss(2)"></span>
        <span class="point" :class="progressStepPointCss(2)"></span>
        <span class="connect" :class="progressStepConnectCss(3)"></span>
        <span class="point" :class="progressStepPointCss(3)"></span>
      </div>
      <button class="close" @click="is_show_import = false">Close</button>
    </div>

  </el-dialog>

</div>

</body>

<!-- 龍宮預設提供的第三方lib，可直接使用，勿動	-->
<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../static/js/echarts-3.7.1.min.js"></script>
<script type="text/javascript" src="../static/js/vue-2.6.10.min.js"></script>
<script type="text/javascript" src="../static/js/element-ui-2.15.1.min.js"></script>

<script type="text/javascript" src="../static/js/moment.min.js"></script>
<script type="text/javascript" src="../static/js/lodash-4.17.21.min.js"></script>

<!-- 模擬龍宮提供的服務，以及模擬呼叫data api及回傳，mock-utils.js不再使用，統一集中在mock-context.js -->
<script type="text/javascript" src="../static/js/mock/mock-resources-common.js"></script>
<script type="text/javascript" src="../static/js/mock/mock-resources-pnl.js"></script>
<script type="text/javascript" src="../static/js/mock/mock-context.js"></script>
<!--<script type="text/javascript" src="static/js/mock-utils.js"></script>-->

<!-- 龍宮預設提供的第三方css，勿動 -->
<link rel="stylesheet" href="../static/css/third-party/element-ui-2.15.1.min.css">

<!-- 模擬龍宮或花果山外框用，勿動 -->
<link rel="stylesheet" type="text/css" href="../static/css/mock/mock-outbox.css"/>

<!-- 以下三個是報表自定義的style，把三個內容全部貼到 https://www.giftofspeed.com/css-compressor/  -->
<!-- 壓縮結果貼到deployment/{env}/widget/{page}.json的templateCss -->
<!-- pnl-layout.css 左方sidebar，右方大框及標題/功能按鈕，修改時注意影響其他報表	-->
<link rel="stylesheet" type="text/css" href="../static/css/common-layout.css"/>
<!-- xxx.css 右方中間主要呈現區塊，報表自定義客製用	-->
<link rel="stylesheet" type="text/css" href="../static/css/pnl-actual-import.css"/>
<!-- common.css 提供共用且獨立使用的class，無階層關係，修改時注意影響其他報表，需放在最後，確保動畫CSS生效  -->
<link rel="stylesheet" type="text/css" href="../static/css/common.css"/>

<!-- 定義給vue渲染畫面的資料初始值，佈署時放在組件的defaultData -->
<script type="text/javascript">
  //定義給vue渲染畫面的資料初始值，佈署時放在組件的defaultData
  //貼到deployment/{env}/widget/{page}.json的defaultData
  self.data = {
    "init": false,
    "profile": null,
    "filter": {
      "time_id": "",
      "pbu_id": null,
      "subpbu_id": null,
      "actual_version_id": null
    },
    "caption": "P&L Input",
    "assets_path": "http://10.60.136.119:806/widget/cm/",
    "is_demo": true,
    "is_hide_sidebar": false,
    "actual_history": null,
    "criteria": null,
    "products": null,
    "history_items": [],
    "pbu_table_raw": [],
    "pbu_table_distinct": [],
    "sub_pbu_table_distinct": [],
    "is_open_group": [],
    "actual_version_table": [],
    "is_show_import": false,
    "import_step": 1,
    "progress_step": 1,
    "import_message": null,
    "is_cm_admin": false
  };
  //用於載入第三方lib，如果是外部連結，請注意中國是否能連到，或是放上龍宮FTP
  self.dependent = [{
    "name": "lodash",
    "url": "static/js/lodash-4.17.21.min.js"
  }, {
    "name": "moment",
    "url": "static/js/moment.min.js"
  }];
</script>

<!-- 此區塊定義渲染會用到的方法，佈署於controllerScript -->
<script type="text/javascript" src="../static/js/dashboard/pnl-actual-import.js"></script>
<!-- 模擬龍宮初始用，勿動 -->
<script type="text/javascript">
  var {
    ctx, components, data, dependent, dataComputed, dataWatch, onInit, onDataUpdated, onResize, onDestroy,
    created, mounted, ...methods
  } = self;

  var vm = new Vue({
    el: self.ctx.$element.querySelector('.my-app'),
    data,
    components,
    methods,
    computed: dataComputed,
    watch: dataWatch,
    created,
    mounted
  });
</script>
</html>
