<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <title>P&L Reconciliation</title>
  </head>
  <body>
    <div class="my-app">
      <transition name="collapse">
        <div class="sidebar" v-show="!is_hide_sidebar">
          <div class="inner-sidebar">
            <div class="caption">Filters</div>
            <div class="filter">
              <img class="filter-icon" :src="assets_path + 'static/media/calendar.svg'">
              <div class="filter-form">
                <div class="filter-label">
                  <div class="filter-label-text">Period</div>
                  <img class="filter-label-arrow" :src="assets_path + 'static/media/arrow_down_white.svg'"/>
                </div>
                <div class="filter-input">
                  <el-date-picker v-model="time_id" type="monthrange" range-separator="~" format="yyyy-MM" value-format="yyyyMM" start-placeholder="起始" end-placeholder="結束">
                  </el-date-picker>
                </div>
              </div>
            </div>
            <div class="filter">
              <img class="filter-icon" :src="assets_path + 'static/media/location.svg'">
              <div class="filter-form">
                <div class="filter-label">
                  <div class="filter-label-text">F2.0 Scope</div>
                  <img class="filter-label-arrow" :src="assets_path + 'static/media/arrow_down_white.svg'"/>
                </div>
                <div class="filter-checkbox">
                  <el-checkbox v-model="in_scope">In Scope</el-checkbox>
                  <el-checkbox v-model="out_scope">Out Scope</el-checkbox>
                </div>
              </div>
            </div>

            <div class="filter">
              <img class="filter-icon" :src="assets_path + 'static/media/dimension.svg'">
              <div class="filter-form">
                <div class="filter-label">
                  <div class="filter-label-text">PBU / SubPBU</div>
                  <img class="filter-label-arrow" :src="assets_path + 'static/media/arrow_down_white.svg'"/>
                </div>
                <div class="filter-tree">
                  <el-popover
                      placement="right"
                      width="640"
                      popper-class="tree-picker-popper"
                      trigger="click">
                    <div class="tree-picker tree-picker-container">
                      <div class="reconciliation-tree-picker">
                        <el-input
                            placeholder="Filter keyword"
                            v-model="pbu_text">
                        </el-input>
                        <el-tree
                            class="filter-tree"
                            :data="tree_pbu_list"
                            default-expand-all
                            show-checkbox
                            :filter-node-method="pbuFilterBy"
                            node-key="id"
                            @check-change="treeNodeCheckChange"
                            ref="tree">
                        </el-tree>
                      </div>
                      <div class="pickup-pool">
                        <el-tag
                            class="pickup-item"
                            size="small"
                            closable
                            v-for="item in orderedPickupPbuList()"
                            :key="item.id"
                            @close="pbuTagRemove(item)">{{item.label}}</el-tag>
                      </div>
                    </div>
                    <el-select
                        slot="reference"
                        v-model="pickup_pbu_list"
                        multiple
                        disabled
                        collapse-tags
                        placeholder="Select">
                      <el-option
                          v-for="item in orderedPickupPbuList()"
                          :key="item.id"
                          :label="item.label"
                          :value="item.label">
                      </el-option>
                    </el-select>
                    <!-- <el-button slot="reference">Click to show PBU</el-button> -->
                  </el-popover>
                </div>
              </div>
            </div>

            <div class="filter">
              <img class="filter-icon" :src="assets_path + 'static/media/tasks.svg'">
              <div class="filter-form">
                <div class="filter-label">
                  <div class="filter-label-text">Actual-Version</div>
                  <img class="filter-label-arrow" :src="assets_path + 'static/media/arrow_down_white.svg'"/>
                </div>
                <div class="filter-input">
                  <el-select v-model="filter.actual_version_id" default-first-option="true" popper-append-to-body="false" placeholder="Select">
                  <el-option v-for="v in actual_version_table" :key="v.version_id" :label="'Current Month: ' + v.version_name" :value="v.version_id">
                  </el-option>
                  </el-select>
                </div>
              </div>
            </div>
            <div class="filter">
              <img class="filter-icon" :src="assets_path + 'static/media/profit.svg'">
              <div class="filter-form">
                <div class="filter-label">
                  <div class="filter-label-text">Currency</div>
                  <img class="filter-label-arrow" :src="assets_path + 'static/media/arrow_down_white.svg'"/>
                </div>
                <div class="filter-input">
                  <el-select v-model="filter.currency_id" default-first-option="true" popper-append-to-body="false" placeholder="Select">
                  <el-option v-for="c in currency_table" :key="c.currency_id" :label="c.currency_name" :value="c.currency_id">
                  </el-option>
                  </el-select>
                </div>
              </div>
            </div>
            <!--      search/clear-->
            <div class="filter action">
              <div class="filter-icon"></div>
              <div class="filter-form">
                <button class="button-search" :disabled="!init || disableSearch" @click="searchHandler">Search</button>
              </div>
            </div>
          </div>
        </div>
      </transition>

      <div class="content">
        <div class="header">
          <img class="collapse-icon" :src="sidebarToggleIconSrc(is_hide_sidebar)" @click="toggleSidebar">
          <div class="caption">
            <div>{{caption}}</div>
          </div>
          <div class="action">
            <button v-if="allowUpload" @click="openImportDialog">Import</button>
          </div>
        </div>

        
        <div class="main" v-loading="loading_report">
          <div class="box">
            <table class="pnl-reconciliation-table" v-if="pnl_reconciliation_report_detail">
              <thead>
                <tr>
                  <th class="pbu-name">
                    <img class="filter-label-arrow" :src="assets_path + 'static/media/information.svg'" @click="dialog_information"/>
                  </th>
                  <template v-for="(row, index) in month_list">
                    <th><div class="title-month">{{row}}</div></th>
                  </template>
                </tr>
                <tr class="actual-budget">
                  <th>PBU / Sub PBU Name</th>
                  <th v-for="(row, index) in month_list">
                    <div>
                      <div class="reconciliation-light"></div>
                      <div class="reconciliation-action">Actual</div>
                      <div class="reconciliation-budget">Budget</div>
                    </div>
                  </th>
                </tr>
              </thead>


              <tbody>
              <!-- [tbody] 第一欄 ： PBU / Sub PBU Name -->
              <tr v-for="(bu_info, bu_index) in pnl_reconciliation_report_detail.bu_list">
                <td @dblclick="hidePbuName">
                  <transition name="collapse">
                    <div class="pbu-info-pbuname" v-show="!is_hide_pbu_name"
                         v-html="getPbuNameHtml(bu_info['pbu_name'])"></div>
                  </transition>
                  <div class="pbu-info">
                    <div><span>{{bu_info["pnl_sub_pbu_name"]}}</span></div>
                    <div>
                      <div class="pbu-info-buname">
                        <!-- <span style="background-color: #C1F0FD;">{{bu_list.bu_code}} , {{bu_list.bu_color}}</span> -->
                        <span :style="{ background: bu_info.bu_color }">{{bu_info.mr_sub_bu_name}}</span>
                      </div>
                    </div>
                  </div>
                </td>

                <td v-for="(month, index) in month_list">
                  <template v-if="bu_info.version_list[month]">
                    <div v-for="(payload, key) in getComparisionVariable(bu_info, bu_info.version_list[month])"
                         class="reconciliation-box"
                         :class="{'comparable': payload.comparision_status !== status_sign.GRAY}"
                         v-loading="!payload.comparision_status">
                      <!-- 燈號 -->
                      <div class="reconciliation-light">
                        <div :class="reconciliationLightCss(payload.comparision_status)"
                             class="reconciliation-light-point"
                             @click="dialog_change_light(key, payload)"></div>
                      </div>

                      <!-- [Actual Budget] : actual  -->
                      <div class="reconciliation-action" @dblclick="dialog_reconciliation(key, payload)">
                        <div>{{payload.version_info["pnl_actual_version"]}}</div>
                        <div>{{payload.version_info["mr_actual_version"]}}</div>
                      </div>
                      <!-- [Actual Budget] : budget  -->
                      <div class="reconciliation-budget" @dblclick="dialog_reconciliation(key, payload)">
                        <div>{{payload.version_info["pnl_budget_version"]}}</div>
                        <div>{{payload.version_info["mr_budget_version"]}}</div>
                      </div>
                    </div>
                  </template>
                </td>
              </tr>

              </tbody>
        </table>
      </div>
    </div>
  </div>

      <!-- [dialog - 1] 提示訊息 -->
      <el-dialog :visible="dialog_information_visible" :before-close="true" custom-class="dialog_information" :modal-append-to-body="false" @close="dialog_information_visible = false">
        <div class="dialog-content">
          <table>
            <tr>
              <td></td>
              <td>Actual版本：<strong class="font-larger"><u><i>1 = 110版、2 = 120版、3 = 130版</i></u></strong></td>
            </tr>
            <tr>
              <td><div class="point_G"></div></td>
              <td><span>花果山110版 = 管報110版 (7項會計科目的差異值，都在台幣百位數或美金十位數以內)<br>花果山120版 = 管報120版 (7項會計科目的差異值，都在台幣百位數或美金十位數以內)</span></td>
            </tr>
            <tr>
              <td><div class="point_Y"></div></td>
              <td><span>花果山110版 ≠ 管報110版，但差異原因已由群經管確認OK<br>花果山120版 ≠ 管報120版，但差異原因已由群經管確認OK</span></td>
            </tr>
            <tr>
              <td><div class="point_R"></div></td>
              <td><span>  花果山110版 ≠ 管報110版，其差異原因PBU DRI未說明<br>花果山120版 ≠ 管報120版，其差異原因PBU DRI未說明
                  </span>
              </td>
            </tr>
            <tr>
              <td><div class="point_GR"></div></td>
              <td><span>花果山 或 管報，尚未上傳當月Actual數據，雙方暫時無法核對<br>花果山 或 管報，上傳當月Actual數據的最新版本的進度不一致</span></td>
            </tr>
          </table>
        </div>
      </el-dialog>

      <!-- [dialog - 2] 紅綠燈 -->
      <el-dialog :visible="dialog_change_light_visible" :before-close="true" custom-class="dialog_change_light" :modal-append-to-body="false" @close="dialog_change_light_visible = false">
        <div slot="title" class="header-title">
          <span>提示信息 (Prompt Information)</span>
        </div>
        <div slot="footer" class="dialog-footer">
          <el-button @click="dialog_change_light_visible = false">Cancel</el-button>
          <el-button type="primary" @click="dialog_change_light_comp_status">Save</el-button>
        </div>
        <div class="dialog-content">
          <template v-if="click_light.color === status_sign.RED">
            <div class="dialog_light_content">請問確定要將燈號保存為 <span class="dialog_light_yellow">黃燈</span> 嗎? ( Are you sure to save the lamp signal as a <span class="dialog_light_yellow">yellow light</span> ? )</div>
          </template>
          <template v-else-if="click_light.color === status_sign.YELLOW">
            <div class="dialog_light_content">請問確定要將燈號保存為 <span class="dialog_light_red">紅燈</span> 嗎? ( Are you sure to save the lamp signal as a <span class="dialog_light_red">red light</span> ? )</div>
          </template>
        </div>
      </el-dialog>


      <!-- [dialog - 3] Reconciliation 比較表 -->
      <el-dialog :visible="dialog_reconciliation_visible" :before-close="true" custom-class="dialog_reconciliation" :modal-append-to-body="false" @close="dialog_reconciliation_visible = false">
        <div class="dialog-content">
          <component :key="criteria" :is="reconciliation_diff_table" :diff-table="diff_table" @popover-close="dialog_reconciliation_visible = false"/>
        </div>
      </el-dialog>

      <!-- [dialog - 4] Reconciliation 管報資料上傳 -->
      <el-dialog :visible="is_show_import" :modal-append-to-body="false" :close-on-click-modal="false" :close-on-press-escape="false" custom-class="import-dialog" :show-close="false" width="480px" center @closed="resetImportStep">
      <div slot="title">Import</div>
        <div class="import-body upload-demo">
          <transition name="import-slide-previous">
            <div v-show="import_step === 1">
              <img class="import_img" :src="assets_path + 'static/media/logo_import_step_' + import_step + '.svg'"/>
              <input type="file" v-if="import_step === 1" v-show="false" ref="file_input" @change="getUploadFile" accept=".xls, .xlsx">
              <div>
                <button @click="openUploadDialog" class="import_select_button">Select File</button>
              </div>
              <div>
                <a :href="assets_path + 'static/template/pnl_reconciliation_mr_expense_input_template.xlsx'"
                class="import_template_download">Template download</a>
              </div>
            </div>
          </transition>
          <transition name="import-slide-next">
            <div v-show="import_step === 2">
              <img class="import_img" 
              :src="assets_path + 'static/media/logo_import_step_' + import_step + '.svg'"/>
              <div>讀取文件中...<i class="el-icon-loading"></i></div>
            </div>
          </transition>
          <transition name="import-slide-next">
            <div v-show="import_step === 3">
              <img class="import_img" 
              :src="assets_path + 'static/media/logo_import_step_' + import_step + '.svg'"/>
              <div class="import_success_w">
                {{import_message || 'Success!!'}}
              </div>
            </div>
          </transition>
          <transition name="import-slide-next">
            <div v-show="import_step === 4">
              <img class="import_img" 
              :src="assets_path + 'static/media/logo_import_step_' + import_step + '.svg'"/>
              <div class="import_fail_w">
                {{import_message || 'Something wrong'}}
              </div>
            </div>
          </transition>
        </div>
        <div slot="footer" class="dialog-footer">
          <button class="previous" @click="resetImportStep">Previous</button>
          <div class="step-progress">
            <span class="point" :class="progressStepPointCss(1)"></span>
            <span class="connect" :class="progressStepConnectCss(2)"></span>
            <span class="point" :class="progressStepPointCss(2)"></span>
            <span class="connect" :class="progressStepConnectCss(3)"></span>
            <span class="point" :class="progressStepPointCss(3)"></span>
          </div>
          <button class="close" @click="is_show_import = false">Close</button>
        </div>
      </el-dialog>
    </div>
  </body>
<!-- 龍宮預設提供的第三方lib，可直接使用，勿動  -->
<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../static/js/echarts-3.7.1.min.js"></script>
<script type="text/javascript" src="../static/js/vue-2.6.10.min.js"></script>
<script type="text/javascript" src="../static/js/element-ui-2.15.1.min.js"></script>
<script type="text/javascript" src="../static/js/moment.min.js"></script>
<script type="text/javascript" src="../static/js/lodash-4.17.21.min.js"></script>
<!-- 模擬龍宮提供的服務，以及模擬呼叫data api及回傳，mock-utils.js不再使用，統一集中在mock-context.js -->
<script type="text/javascript" src="../static/js/mock/mock-resources-common.js"></script>
<script type="text/javascript" src="../static/js/mock/mock-resources-pnl-reconciliation.js"></script>
<script type="text/javascript" src="../static/js/mock/mock-context.js"></script>
<!--<script type="text/javascript" src="static/js/mock-utils.js"></script>-->
<!-- 龍宮預設提供的第三方css，勿動 -->
<link rel="stylesheet" href="../static/css/third-party/element-ui-2.15.1.min.css">
<!-- 模擬龍宮或花果山外框用，勿動 -->
<link rel="stylesheet" type="text/css" href="../static/css/mock/mock-outbox.css" />
<!-- 以下三個是報表自定義的style，把三個內容全部貼到 https://www.giftofspeed.com/css-compressor/  -->
<!-- 壓縮結果貼到deployment/{env}/widget/{page}.json的templateCss -->
<!-- pnl-layout.css 左方sidebar，右方大框及標題/功能按鈕，修改時注意影響其他報表  -->
<link rel="stylesheet" type="text/css" href="../static/css/common-layout.css" />
<!-- xxx.css 右方中間主要呈現區塊，報表自定義客製用  -->
<link rel="stylesheet" type="text/css" href="../static/css/pnl-reconciliation.css" />
<!-- common.css 提供共用且獨立使用的class，無階層關係，修改時注意影響其他報表，需放在最後，確保動畫CSS生效  -->
<link rel="stylesheet" type="text/css" href="../static/css/common.css" />
<script type="text/javascript">
  self.data = {
    "filter": {
      "time_id_s": "",
      "time_id_e": "",
      "actual_version_id": null,
      "currency_id": null,
      "scope": ["I", "O"]
    },
    "in_scope": true,
    "out_scope": true,
    "profile": null,
    "pbu_text": "",
    "pickup_pbu_list": [],
    "tree_pbu_list": [],
    "pbu_table": [],
    "criteria": null,
    "diff_table": {},
    "assets_path": "http://10.60.136.119:806/widget/cm/",
    "init": false,
    "caption": "P&L Reconciliation",
    "is_hide_sidebar": false,
    "pnl_report_raw": null,
    "actual_version_table": [],
    "currency_table": [],
    "dialog_information_visible": false,
    "dialog_reconciliation_visible": false,
    "dialog_change_light_visible": false,
    "month_list": [],
    "pnl_reconciliation_report_detail": null,
    "comparision_status": {},
    "bu_comp": {},
    "click_light": {},
    "is_show_import": false,
    "import_step": 1,
    "progress_step": 1,
    "import_message": null,
    "breakdown_handler_concurrency": 5,
    "status_sign": {
      "RED": "R",
      "YELLOW": "Y",
      "GREEN": "G", 
      "GRAY": "GR"
    },
    "allowUpload": false,
    "allowChangeComparisionStatus": false,
    "loading_report": false,
    "is_hide_pbu_name": false
  };
  // // 用於載入第三方lib，如果是外部連結，請注意中國是否能連到，或是放上龍宮FTP
  self.dependent = [{
    "name": "lodash",
    "url": "static/js/lodash-4.17.21.min.js"
  }, {
    "name": "moment",
    "url": "static/js/moment.min.js"
  }];
</script>
<!-- 此區塊定義渲染會用到的方法，佈署於controllerScript -->
<script type="text/javascript" src="../static/js/dashboard/pnl-reconciliation.js"></script>
<!-- 模擬龍宮初始用，勿動 -->
<script type="text/javascript">
  // // es6 syntax
  var {ctx, components, data, dependent, dataComputed, dataWatch, onInit, onDataUpdated, onResize, onDestroy,
      created, mounted, ...methods} = self;


  var vm = new Vue({
    el: self.ctx.$element.querySelector('.my-app'),
    data,
    components,
    methods,
    computed: dataComputed,
    watch: dataWatch,
    created,
    mounted
  });

</script>
</html>