<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PBU Feb 2021 P&L</title>
</head>
<body>
<!-- body內容佈署到templateHtml -->
<!-- 將以下整個div複製到 https://www.textfixer.com/html/compress-html-compression.php 進行壓縮 -->
<!-- 結果貼到deployment/{env}/widget/{page}.json的templateHtml -->
<div class="my-app">
  <transition name="collapse" @after-enter="toggleResizeFlag" @after-leave="toggleResizeFlag">
    <div class="sidebar" v-show="!is_hide_sidebar">
      <div class="inner-sidebar">
        <div class="caption">Filters</div>

        <div class="filter">
          <img class="filter-icon" :src="assets_path + 'static/media/calendar.svg'">
          <div class="filter-form">
            <div class="filter-label">
              <div class="filter-label-text">Period</div>
              <img class="filter-label-arrow" :src="assets_path + 'static/media/arrow_down_white.svg'"/>
            </div>
            <div class="filter-input">
              <el-date-picker
                  v-model="time_id"
                  type="month"
                  range-separator="~"
                  format="yyyy-MM"
                  value-format="yyyyMM">
              </el-date-picker>
            </div>
          </div>
        </div>

        <div class="filter">
          <img class="filter-icon" :src="assets_path + 'static/media/dimension.svg'">
          <div class="filter-form">
            <div class="filter-label">
              <div class="filter-label-text">PBU</div>
              <img class="filter-label-arrow" :src="assets_path + 'static/media/arrow_down_white.svg'"/>
            </div>
            <div class="filter-input">
              <el-select v-model="filter.pbu_id" default-first-option="true"
                         popper-append-to-body="false" placeholder="Select">
                <el-option
                    v-for="p in pbu_table_distinct"
                    :key="p.pbu_id"
                    :label="p.pbu_name"
                    :value="p.pbu_id">
                </el-option>
              </el-select>
            </div>
          </div>
        </div>

        <div class="filter">
          <img class="filter-icon" :src="assets_path + 'static/media/location.svg'">
          <div class="filter-form">
            <div class="filter-label">
              <div class="filter-label-text">SubPBU</div>
              <img class="filter-label-arrow" :src="assets_path + 'static/media/arrow_down_white.svg'"/>
            </div>
            <div class="filter-input">
              <el-select v-model="filter.subpbu_id" default-first-option="true"
                         popper-append-to-body="false" placeholder="Select">
                <el-option
                    v-for="p in sub_pbu_table_distinct"
                    :key="p.subpbu_id"
                    :label="p.subpbu_name"
                    :value="p.subpbu_id">
                </el-option>
              </el-select>
            </div>
          </div>
        </div>

        <div class="filter">
          <img class="filter-icon" :src="assets_path + 'static/media/tasks.svg'">
          <div class="filter-form">
            <div class="filter-label">
              <div class="filter-label-text">Actual-Version</div>
              <img class="filter-label-arrow" :src="assets_path + 'static/media/arrow_down_white.svg'"/>
            </div>
            <div class="filter-input">
              <el-select v-model="filter.actual_version_id" default-first-option="true"
                         popper-append-to-body="false" placeholder="Select">
                <el-option
                    v-for="v in actual_version_table"
                    :key="v.version_id"
                    :label="'Current Month: ' + v.version_name"
                    :value="v.version_id">
                </el-option>
              </el-select>
            </div>
          </div>
        </div>

        <div class="filter">
          <img class="filter-icon" :src="assets_path + 'static/media/target.svg'">
          <div class="filter-form">
            <div class="filter-label">
              <div class="filter-label-text">Budget-Version</div>
              <img class="filter-label-arrow" :src="assets_path + 'static/media/arrow_down_white.svg'"/>
            </div>
            <div class="filter-input">
              <el-select v-model="filter.budget_version_id" default-first-option="true"
                         popper-append-to-body="false" placeholder="Select">
                <el-option
                    v-for="v in budget_version_table"
                    :key="v.version_id"
                    :label="v.version_name"
                    :value="v.version_id">
                </el-option>
              </el-select>
            </div>
          </div>
        </div>

        <div class="filter">
          <img class="filter-icon" :src="assets_path + 'static/media/profit.svg'">
          <div class="filter-form">
            <div class="filter-label">
              <div class="filter-label-text">Currency</div>
              <img class="filter-label-arrow" :src="assets_path + 'static/media/arrow_down_white.svg'"/>
            </div>
            <div class="filter-input">
              <el-select v-model="filter.currency_id" default-first-option="true"
                         popper-append-to-body="false" placeholder="Select">
                <el-option
                    v-for="c in currency_table"
                    :key="c.currency_id"
                    :label="c.currency_name"
                    :value="c.currency_id">
                </el-option>
              </el-select>
            </div>
          </div>
        </div>
        <!--      search/clear-->
        <div class="filter action">
          <div class="filter-icon"></div>
          <div class="filter-form">
            <button class="button-search" :disabled="!init || disableSearch" @click="searchReport">Search</button>
            <!--          <button class="button-clear">Clear</button>-->
          </div>
        </div>
      </div>
    </div>
  </transition>

  <div class="content">
    <div class="header">
      <img class="collapse-icon" :src="sidebarToggleIconSrc(is_hide_sidebar)" @click="toggleSidebar">
      <div class="caption">
        <div>{{caption}}</div>
      </div>
      <div class="action">
        <button :disabled="!pnl_report_raw" @click="exportToExcel">Export</button>
        <el-popover placement="bottom" width="280" trigger="click" popper-class="pop-settings">
          <div class="setting">
            <span>Granularity:</span>
            <el-radio-group v-model="number_scale">
              <el-radio v-for="(config, key) in numberScaleConfigs" :label="key">{{config.label}}</el-radio>
<!--              <el-radio label="1">Raw Data</el-radio>-->
<!--              <el-radio label="1000">Thousand</el-radio>-->
<!--              <el-radio label="1000000">Million</el-radio>-->
            </el-radio-group>
          </div>
          <div class="separator"></div>
          <div class="setting">
            <span>小數位數：</span>
            <el-slider v-model="decimal_place" :min="0" :max="10" :step="1" @change="decimalPlaceChangeHandler">
            </el-slider>
          </div>
          <button slot="reference" class="el-icon-setting"></button>
          <!-- <el-button  slot="reference">{{fixed_float}}位</el-button> -->
        </el-popover>
      </div>
    </div>

    <div class="main">
      <div class="box">
        <transition name="fade">
          <table v-if="init && pnl_report_raw" class="pnl-table">
            <thead>
            <tr>
              <th rowspan="2" class="table-separator">
                <span>Granularity: {{numberScaleConfigs[number_scale].label}}</span>
<!--                <div class="granularity">-->
<!--                  <div>Granularity:</div>-->
<!--                  <div>-->
<!--                    <label v-for="(config, id) in granularityConfigs">-->
<!--                      <input type="radio" :id="id" name="currency"-->
<!--                             :checked="config.value === fraction.value" @click="granularityHandler(config)">-->
<!--                      <span :for="config.value">{{config.label}}</span>-->
<!--                    </label>-->
<!--                  </div>-->
<!--                </div>-->
                <div class="float-right control">
                  <span>YTM</span>
                  <img class="collapse-icon" @click="toggleYTM"
                       :src="theadCollapseIconSrc(is_show_YTM)"/>
                </div>
              </th>
              <th colspan="4" :class="['table-separator']">YTM</th>
              <th :colspan="inMonthColspan" class="table-separator">
                <img v-if="false" class="collapse-icon float-left control" @click="toggleProducts"
                     :src="theadCollapseIconSrc(is_show_products)"/>
                In-month
              </th>
              <th rowspan="2" class="text-align-left table-separator">當月差異分析 (In-month deviation explanation)</th>
              <th rowspan="2" class="text-align-left">行動事項 (Action item)</th>
              <!--        <th colspan="3">Actual vs Budget</th>-->
            </tr>
            <tr>
              <th :class="[]">Actual</th>
              <th :class="[]">Budget</th>
              <th :class="[]">A vs. B (abs)</th>
              <th :class="['table-separator']">A vs. B (%)</th>
              <th v-for="product in products" v-if="is_show_products">{{product.name}}</th>
              <th>Actual</th>
              <th>Budget</th>
              <th>A vs. B (abs)</th>
              <th class="table-separator">A vs. B (%)</th>
            </tr>
            </thead>

            <tbody name="fade" is="transition-group">

            <template v-for="(row, index) in report_items">
              <template v-if="row.item_type === 'C'">
                <tr v-if="index > 0 && report_items[index - 1].item_type !== 'C'"
                    :key="'spacing-' + index"
                    v-show="is_open_group[row.collapse_index -1]" class="row-spacing">
                  <td :colspan="cellAmount"></td>
                </tr>

                <tr :class="tbodyRowClass(row, index)" :key="row.line_item"
                    @dblclick="toggleItemGroup(row.collapse_index)">
                  <td>
                    <img class="collapse-icon"
                         :class="{'rotated-270': !is_open_group[row.collapse_index]}"
                         :src="assets_path + 'static/media/arrow_down_black.svg'"
                         @click="toggleItemGroup(row.collapse_index)"/>
                    <span v-html="row.item_name"></span>
                  </td>
                  <td v-for="n in 4"></td>
                  <td v-for="n in inMonthColspan"></td>
                  <td></td>
                  <td></td>
<!--                  <td :colspan="cellAmount - 1"></td>-->
                </tr>
              </template>

              <tr v-else-if="row.is_required !== 'N'" :key="row.line_item"
                  v-show="is_open_group[row.collapse_index]"
                    :class="tbodyRowClass(row, index)" @click="toggleFlagInSet(is_highlight_row, index)">

                <td class="item-name table-separator" :class="'indent-' + row.item_level">
                  <span v-html="row.item_name"></span>
                </td>

                <td :class="[]">
                  <el-tooltip v-if="!_.isEmpty(row.ytm.actual_fixed)"
                              :content="row.ytm.actual_text" popper-class="tooltip"
                              placement="right" :open-delay="500">
                    <span v-text="row.ytm.actual_fixed"/>
                  </el-tooltip>
                </td>

                <td :class="[]">
                  <el-tooltip v-if="!_.isEmpty(row.ytm.budget_fixed)"
                              :content="row.ytm.budget_text" popper-class="tooltip"
                              placement="right" :open-delay="500">
                    <span v-text="row.ytm.budget_fixed"/>
                  </el-tooltip>
                </td>

                <td :class="[tbodyCellSignClass(row.ytm.abs, row.item_flag)]">
                  <template v-if="!_.isEmpty(row.ytm.abs_fixed)">
                    <span v-if="row.item_flag" class="sign">●</span>
                    <el-tooltip :content="row.ytm.abs_text" popper-class="tooltip"
                                placement="right" :open-delay="500">
                      <span :class="[{'plus': row.ytm.abs >= 0}]" v-text="row.ytm.abs_fixed"/>
                    </el-tooltip>
                  </template>
                </td>

                <td :class="['table-separator', tbodyCellSignClass(row.ytm.abs, row.item_flag)]">
                  <template v-if="!_.isEmpty(row.ytm.percentage_fixed)">
                    <span v-if="row.item_flag" class="sign">●</span>
                    <el-tooltip popper-class="tooltip"
                                placement="right" :open-delay="500">
                      <span slot="content" class="postfix-percent">{{row.ytm.percentage_text}}</span>
                      <span :class="[{'plus': row.ytm.percentage >= 0}, 'percentage']"
                            v-text="row.ytm.percentage_fixed"/>
                    </el-tooltip>
                  </template>
                </td>

                <td v-for="product in products" v-if="is_show_products">
                  <el-tooltip :content="row.in_month.products_text[product.key]" popper-class="tooltip"
                              placement="right" :open-delay="500">
                    <span v-text="row.in_month.products_fixed[product.key]"/>
                  </el-tooltip>
                </td>

                <td>
                  <el-tooltip v-if="!_.isEmpty(row.in_month.actual_fixed)"
                              :content="row.in_month.actual_text" popper-class="tooltip"
                              placement="right" :open-delay="500">
                    <span v-text="row.in_month.actual_fixed"/>
                  </el-tooltip>
                </td>

                <td>
                  <el-tooltip v-if="!_.isEmpty(row.in_month.budget_fixed)"
                              :content="row.in_month.budget_text" popper-class="tooltip"
                              placement="right" :open-delay="500">
                    <span v-text="row.in_month.budget_fixed"/>
                  </el-tooltip>
                </td>

                <td :class="[tbodyCellSignClass(row.in_month.abs, row.item_flag)]">
                  <template v-if="!_.isEmpty(row.in_month.abs_fixed)">
                    <span v-if="row.item_flag" class="sign">●</span>
                    <el-tooltip :content="row.in_month.abs_text" popper-class="tooltip"
                                placement="right" :open-delay="500">
                      <span :class="[{'plus': row.in_month.abs >= 0}]" v-text="row.in_month.abs_fixed"/>
                    </el-tooltip>
                  </template>
                </td>

                <td class="table-separator"
                    :class="[tbodyCellSignClass(row.in_month.abs, row.item_flag)]">
                  <template v-if="!_.isEmpty(row.in_month.percentage_fixed)">
                    <span v-if="row.item_flag" class="sign">●</span>
                    <el-tooltip :content="row.in_month.percentage_text" popper-class="tooltip"
                                placement="right" :open-delay="500">
                      <span :class="[{'plus': row.in_month.percentage >= 0}, 'percentage']"
                            v-text="row.in_month.percentage_fixed"/>
                    </el-tooltip>
                  </template>
                </td>

                <td class="table-separator text-align-left editable"
                    @dblclick="toggleFlagInSet(is_open_deviation_explanation, index, true)">
                  <component :key="criteria"
                             :is="popover_editor" :is-open="is_open_deviation_explanation[index]"
                             caption="當月差異分析 (In-month deviation explanation)"
                             :updater="deviationExplanationUpdater(row.line_item)"
                             :text="row.in_month_deviation_explanation"
                             :rich_text="row.in_month_deviation_explanation_rich_text"
                             :popper-options="{boundariesElement: 'body'}"
                             :resize-flag="resize_fired_flag"
                             :is-highlight="is_highlight_row[index]"
                             @popover-close="toggleFlagInSet(is_open_deviation_explanation, index, false)"/>
                </td>

                <td class="text-align-left editable"
                    @dblclick="toggleFlagInSet(is_open_action_item, index, true)">
                  <component :key="criteria"
                             :is="popover_editor" :is-open="is_open_action_item[index]"
                             caption="行動事項 (Action item)"
                             :updater="actionItemUpdater(row.line_item)"
                             :text="row.action_item"
                             :rich_text="row.action_item_rich_text"
                             :resize-flag="resize_fired_flag"
                             :is-highlight="is_highlight_row[index]"
                             @popover-close="toggleFlagInSet(is_open_action_item, index, false)"/>
                </td>
              </tr>

            </template>

            </tbody>
          </table>
        </transition>
      </div>
    </div>
  </div>
</div>

</body>

<!-- 龍宮預設提供的第三方lib，可直接使用，勿動  -->
<script type="text/javascript" src="../static/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../static/js/echarts-3.7.1.min.js"></script>
<script type="text/javascript" src="../static/js/vue-2.6.10.min.js"></script>
<script type="text/javascript" src="../static/js/element-ui-2.15.1.min.js"></script>

<script type="text/javascript" src="../static/js/moment.min.js"></script>
<script type="text/javascript" src="../static/js/lodash-4.17.21.min.js"></script>

<!-- 模擬龍宮提供的服務，以及模擬呼叫data api及回傳，mock-utils.js不再使用，統一集中在mock-context.js -->
<script type="text/javascript" src="../static/js/mock/mock-resources-common.js"></script>
<script type="text/javascript" src="../static/js/mock/mock-resources-pnl.js"></script>
<script type="text/javascript" src="../static/js/mock/mock-context.js"></script>
<!--<script type="text/javascript" src="static/js/mock-utils.js"></script>-->

<!-- 龍宮預設提供的第三方css，勿動 -->
<link rel="stylesheet" href="../static/css/third-party/element-ui-2.15.1.min.css">

<!-- 模擬龍宮或花果山外框用，勿動 -->
<link rel="stylesheet" type="text/css" href="../static/css/mock/mock-outbox.css" />

<!-- 以下三個是報表自定義的style，把三個內容全部貼到 https://www.giftofspeed.com/css-compressor/  -->
<!-- 壓縮結果貼到deployment/{env}/widget/{page}.json的templateCss -->
<!-- pnl-layout.css 左方sidebar，右方大框及標題/功能按鈕，修改時注意影響其他報表  -->
<link rel="stylesheet" type="text/css" href="../static/css/common-layout.css" />
<!-- xxx.css 右方中間主要呈現區塊，報表自定義客製用  -->
<link rel="stylesheet" type="text/css" href="../static/css/pnl.css" />
<!-- common.css 提供共用且獨立使用的class，無階層關係，修改時注意影響其他報表，需放在最後，確保動畫CSS生效  -->
<link rel="stylesheet" type="text/css" href="../static/css/common.css" />

<script type="text/javascript">
  //定義給vue渲染畫面的資料初始值，佈署時放在組件的defaultData
  //貼到deployment/{env}/widget/{page}.json的defaultData
  self.data = {
    "assets_path": "http://10.60.136.119:806/widget/cm/",
    "init": false,
    "filter": {
      "time_id_s": "",
      "time_id_e": "",
      "pbu_id": null,
      "subpbu_id": null,
      "actual_version_id": null,
      "budget_version_id": null,
      "currency_id": null
    },
    "caption": "P&L",
    "currency": null,
    "time_id": "",
    "is_demo": false,
    "is_hide_sidebar": false,
    "is_show_YTM": true,
    "is_show_products": false,
    "pnl_report_raw": null,
    "products": [],
    "criteria": null,
    "report_items": [],
    "pbu_table_raw": [],
    "pbu_table_distinct": [],
    "sub_pbu_table_distinct": [],
    "actual_version_table": [],
    "budget_version_table": [],
    "currency_table": [],
    "is_open_deviation_explanation": [],
    "is_open_action_item": [],
    "is_open_group": [],
    "is_highlight_row": [],
    "resize_fired_flag": true,
    "number_scale": "thousand",
    "decimal_place": 2
  };
  //用於載入第三方lib，如果是外部連結，請注意中國是否能連到，或是放上龍宮FTP
  self.dependent = [{
    "name": "lodash",
    "url": "static/js/lodash-4.17.21.min.js"
  },{
    "name": "moment",
    "url": "static/js/moment.min.js"
  }];
</script>
<!-- 此區塊定義渲染會用到的方法，佈署於controllerScript -->
<script type="text/javascript" src="../static/js/dashboard/pnl.js"></script>
<!-- 模擬龍宮初始用，勿動 -->
<script type="text/javascript">

  // es6 syntax
  var {ctx, components, data, dependent, dataComputed, dataWatch, onInit, onDataUpdated, onResize, onDestroy,
    created, mounted, ...methods} = self;

  var vm = new Vue({
    el: self.ctx.$element.querySelector('.my-app'),
    data,
    components,
    methods,
    computed: dataComputed,
    watch: dataWatch,
    created,
    mounted
  });
</script>
</html>
