.my-app {
    display: flex;
    width: 100%;
    height: calc(100% - 10px);
    padding-top: 10px;
    font-family: Arial, Arial-BoldMT;
    background-color: #FFFFFF;
}

.sidebar {
    min-width: 248px;
    max-width: 248px;
    background-color: #00A9F4;
    border-radius: 0 33px 0 0;
    color: #FFFFFF;
    overflow-x: hidden;
    overflow-y: scroll;
}

.sidebar > .inner-sidebar {
    margin: 0 20px 0 23px;
    padding-top: 17px;
}

.sidebar > .inner-sidebar > .caption {
    font-size: 18px;
    font-weight: normal;
    line-height: 28px;
    margin-bottom: 15px;
}

.sidebar > .inner-sidebar > .filter {
    width: 100%;
    /*height: 65px;*/
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
}

.sidebar > .inner-sidebar > .filter > .filter-icon {
    width: 35px;
    height: 35px;
    vertical-align: top;
    display: inline-block;
}

.sidebar > .inner-sidebar > .filter > .filter-form {
    width: calc(248px - 20px - 23px - 35px - 15px); /*menu-content padding:20,23 | icon:35 | margin: 15 */
    display: inline-block;
    /*float: right;*/
}

.sidebar > .inner-sidebar > .filter > .filter-form > .filter-label {
    display: flex;
    justify-content: space-between;
    line-height: 25px;
    margin-bottom: 10px;
}

.sidebar > .inner-sidebar > .filter > .filter-form > .filter-label > .filter-label-text {
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
    letter-spacing: 1px;
    flex-grow: 1;
}

.sidebar > .inner-sidebar > .filter > .filter-form > .filter-label > .filter-label-arrow {
    width: 13px;
}

.sidebar > .inner-sidebar > .filter > .filter-form > .filter-input {
    padding: 0 10px;
    border-radius: 5px;
    background-color: #FFFFFF;
    display: flex;
}

.sidebar > .inner-sidebar > .filter > .filter-form > .filter-input > input {
    border: 0;
    width: 100%;
    height: 30px;
    padding: 0;
    outline: 0;
    font-size: 14px;
    color: #606266;
}

/*.sidebar > .inner-sidebar > .filter.action {*/
/*    height: unset;*/
/*    display: inline-block;*/
/*}*/

.sidebar > .inner-sidebar > .action > .filter-form {
    display: inline-flex;
    justify-content: space-between;
}

.sidebar > .inner-sidebar > .action > .filter-form  button {
    width: 65px;
    height: 28px;
    border: 0;
    border-radius: 4px;
    color: #FFFFFF;
    overflow: hidden;
    padding: 0;
    outline: none;
}

.sidebar > .inner-sidebar > .action > .filter-form  button[disabled] {
    color: #8c939d;
    border-color: #8c939d;
}

.sidebar  .button-search {
    background: #005FB2;
}

.sidebar  .button-clear {
    background: #C9C7C5;
}

.sidebar  .el-input__inner {
    padding: 0 4px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    height: 30px;
    justify-content: center;
    text-align: center;
}

.sidebar  .el-button {
    padding: 0 4px;
    width: 100%;
    border: 0;
    border-radius: 5px;
    height: 30px;
    justify-content: center;
    text-align: center;
}


.sidebar  .el-date-editor  > .el-range-input {
    width: 43%;
}

.sidebar .filter-checkbox {
    padding: 3px 0 6px 12px;
    border-left: 3px solid #F5F7FA;
    /*height: 60;*/
}
.sidebar .filter-checkbox .el-checkbox {
    font-size: 20px;
}

.sidebar .filter-checkbox .el-checkbox__label {
    font-size: 15px;
    color: #ffffff!important;
}

/*根據Roas需求覆蓋掉下引號 Kenny@20210703*/
.sidebar .el-icon-arrow-up:before {
    content: '';
}

.sidebar .filter-tree .el-input__inner{
    cursor : pointer!important
}

.sidebar .filter-tree .el-select  .el-tag {
    height: 22px;
}

.sidebar .filter-tree .el-select__tags {
    max-width: 130px!important;
}

.sidebar .filter-tree .el-select .el-select__tags-text {
    display: inline-block;
    max-width: 50px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    color: #5f6266;
}

.sidebar .filter-tree .el-select .el-tag__close.el-icon-close {
    display: none;
}

.sidebar  .el-date-editor  i {
    display: none;
}

.content {
    flex: 1;
    min-width: 350px;
    display: flex;
    flex-direction: column;
}

.content .header {
    line-height: 35px;
    background-color: #FFFFFF;
    margin-left: 25px;
    margin-right: 20px;
}

.content > .header > .collapse-icon {
    vertical-align: middle;
    max-height: 22px;
    max-width: 22px;
    display: inline-block;
}

.content > .header > .caption {
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    vertical-align: middle;
}

.content .action {
    float: right;
    display: block;
    bottom: 1px;
    right: 40px;
}

.content > .header > .action  button {
    width: 60px;
    height: 28px;
    border-radius: 4px;
    /*margin: 3px;*/
    color: #0070D2;
    background-color: #FFFFFF;
    border: 1px #0070D2 solid;
    outline: none;
}

.content > .header > .action > button[disabled] {
    color: #8c939d;
    border-color: #8c939d;
}

.content > .header > .action > button:enabled {
    background: rgba(255, 255, 255, 0);
}

.content > .header > .action > button.active,
.content > .header > .action > button:hover:not([disabled]) {
    background-color: #005FB2;
    color: #FFFFFF;
}

.content > .main {
    height: 100%;
    overflow: scroll;
    margin-left: 18px;
}

.content > .main > .box {
    display: inline-block;
    margin: 0 18px 18px 0;
}

.content > .main::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

.content > .main::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    border-radius: 30px;
}

.content > .main::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: #FFFFFF;
}

.content > .main:hover::-webkit-scrollbar-thumb {
    border-radius: 30px;
    background-color: #bcbec2;
}

.tree-picker-popper {
    padding: 17px 10px 15px 20px;
}

.tree-picker-container {
    display: flex;
    /*height: 100%;*/
    max-height: 80vh;
    overflow: auto;
    /*padding-bottom: 20px;*/
}

.tree-picker-container .tree-picker {
    width: 45%;
}

.tree-picker-container .pickup-pool {
    flex: 1;
    /*max-height: 80vh;*/
    /*padding-bottom: 20px;*/
    /*width: 300px;*/
    padding-left: 10px;
    display: inline;
}

.tree-picker-container .pickup-item {
    margin: 3px;
}