button[disabled] {
    cursor: not-allowed;
}

.indent-0{
    padding-left: 18px!important;
}

.indent-1 {
    padding-left: 38px!important;
}

.indent-2 {
    padding-left: 63px!important;
}

.indent-3 {
    padding-left: 93px!important;
}

.sign {
    font-size: 25px;
    float: left;
    line-height: 14px;
}

.alert {
    color: #FF4F4F;
}

.warning {
    color: #FFD243;
}

.success, .deuce {
    color: #ABDB77;
}

.rotated-270 {
    transform: rotate(270deg);
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.text-align-left {
    text-align: left!important;
}

.outline-none {
    outline: none;
}

.display-none {
    display: none;
    /*opacity: 0!important;*/
}

.font-bold {
    font-weight: bold;
}

.font-bolder {
    font-weight: bolder;
}

.font-larger {
    font-size: 1.2em;
}

.prefix-plus::before {
    content: '+';
}

.postfix-percent::after {
    content: '%';
}

.tooltip {
    font-family: Arial, Arial-BoldMT;
    font-size: 14px;
}

/*====== animate ======*/
.fade-enter-active {
    /*transition-delay: .1s;*/
    transition: all .2s linear;
}
.fade-leave-active {
    /*transition-delay: .1s;*/
    transition: all .2s linear;
    /*transition: all .8s cubic-bezier(1.0, 0.5, 0.8, 1.0);*/
}
.fade-enter, .fade-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.collapse-enter-active {
    /*transition-delay: .1s;*/
    transition: all  .2s ease-in-out;
    opacity: 0;
}
.collapse-leave-active {
    /*transition-delay: .1s;*/
    transition: all .2s ease-in-out;
    opacity: 0;
}
.collapse-enter, .collapse-leave-to
    /* .slide-fade-leave-active below version 2.1.8 */ {
    width: 0;
    min-width: 0;
    max-width: 0;
}

.cell-slide-leave {
    transition: opacity .1s;
    opacity: 0;
}

.cell-tail-slide-leave {
    animation-name: slide-leave;
    /*animation-delay: .1s;*/
    /*animation-duration: .2s;*/
    animation-fill-mode: forwards;
    animation-duration: .3s;
}

.cell-slide-enter {
    display: table-cell!important;
    opacity: 0;
    animation-name: cell-slide-enter-frame;
    /*animation-delay: .2s;*/
    /*animation-duration: .1s;*/
    animation-fill-mode: forwards;
    animation-duration: .3s;
    /*animation-timing-function: ease-in-out;*/
}

.cell-tail-slide-enter {
    animation-name: slide-enter;
    animation-fill-mode: forwards;
    animation-duration: .2s;
}

@keyframes cell-slide-leave-frame {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes cell-slide-enter-frame {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*.table-cell-hide {*/
/*    display: none;*/
/*    !*opacity: 0;*!*/
/*    !*transition: opacity .2s;*!*/
/*}*/

/*.table-cell-show {*/
/*    !*display: table-cell;*!*/
/*    !*opacity: 1;*!*/
/*    animation-name: opacity;*/
/*    animation-duration: .3s;*/
/*    animation-fill-mode: forwards;*/
/*}*/

/*.table-cell-hide-tail-animation {*/
/*    animation-name: slide-leave;*/
/*    animation-duration: .3s;*/
/*    animation-fill-mode: forwards;*/
/*}*/

/*.table-cell-show-tail-animation {*/
/*    animation-name: slide-enter;*/
/*    animation-duration: .3s;*/
/*    animation-fill-mode: forwards;*/
/*}*/