body, ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
}

.fr {
  float: right;
}

.mlr12 {
  margin: 0 12px;
}

.text-align-r {
  text-align: right;
}

.text-align-l {
  text-align: left;
}

.vertical-align-m {
  vertical-align: middle;
}

[v-cloak] {
  display: none !important;
}

.img-wrap img {
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.main-container {
  padding: 10px;
  color: #000;
  background: #fff;
}

textarea::placeholder,
input::placeholder {
  color: #929292 !important;
  font-size: 16px;
}

textarea {
  display: block;
  margin: 0 auto;
  font-size: 14px;
  line-height: 24px;
}


.main-container .el-select,
.main-container .el-input,
.main-container .el-input__inner {
  box-shadow: 0px 6px 30px -9px rgba(0, 0, 0, 0.3);
  height: 38px;
  line-height: 38px;
  width: 100px;
}

.el-input__icon {
  line-height: 32px;
}

.weekly-reports-wrap {
  background: #fff;
  min-height: calc(100vh - 40px);
}

.text-nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.personnel-list-wrap {
  margin: 25px 0 0 0;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 156px;

}

.personnel-list-wrap>div {
  background: rgba(0, 112, 210, 0.1);
}

.personnel-list-wrap .personnel-carousel-wrap {
  transition: all 0.5s;
}

.personnel-list-wrap .personnel-carousel-wrap .personnel-carousel-item {
  display: inline-block;
  font-size: 14px;
  color: rgba(22, 44, 85, 0.7);
  padding: 10px 0;
  text-align: center;
  height: 140px;
  box-sizing: border-box;
}

.personnel-list-wrap .personnel-carousel-wrap .personnel-carousel-item .img-border-box {
  border: 2px solid transparent;
  box-sizing: border-box;
  width: 72px;
  height: 72px;
  line-height: 68px;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  margin: 6px 65px;
  font-size: 18px;
  font-weight: bold;
}

.personnel-list-wrap .personnel-carousel-wrap .personnel-carousel-item .default-photo {
  background: rgba(0, 112, 210, 0.3);
}

.personnel-list-wrap .personnel-carousel-wrap .personnel-carousel-item .img-wrap img {
  vertical-align: top;
}

.personnel-list-wrap .personnel-carousel-wrap .personnel-carousel-item.active {
  color: #162C55;
  position: relative;
}

.personnel-list-wrap .personnel-carousel-wrap .personnel-carousel-item.isSpeaker {
  background: #A9D6F5;
  position: relative;
}

.personnel-list-wrap .personnel-carousel-wrap .personnel-carousel-item.active .img-border-box {
  border-color: #0094ff;
}

.personnel-list-wrap .personnel-carousel-wrap .personnel-carousel-item.active::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border-left: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgba(0, 112, 210, 0.1);
  margin-left: -8px;
  bottom: -16px;
  left: 50%;
}

.personnel-list-wrap .personnel-carousel-wrap .personnel-carousel-item.active.isSpeaker::after {
  border-top: 8px solid #B2D4F1;
}

.personnel-list-wrap .personnel-carousel-wrap .personnel-carousel-item.isSpeaker::before {
  background: #82c2f0;
  position: absolute;
  content: "";
  height: 6px;
  width: 100%;
  left: 0;
  top: 0;
}

.personnel-list-wrap .personnel-carousel-wrap .personnel-carousel-item.active::before {
  background: #0070D2 !important;
  position: absolute;
  content: "";
  height: 6px;
  width: 100%;
  left: 0;
  top: 0;
}

.personnel-list-wrap .el-icon-arrow-left,
.personnel-list-wrap .el-icon-arrow-right {
  position: absolute;
  top: 0;
  height: 140px;
  line-height: 140px;
  z-index: 10;
  background: #4c9adf;
  width: 26px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.personnel-list-wrap .el-icon-arrow-left {
  left: 0;
}

.personnel-list-wrap .el-icon-arrow-right {
  right: 0;
}

.main-container .main-wrap {
  box-sizing: border-box;
  position: fixed;
  top: 8px;
  left: 8px;
  width: calc(100% - 16px);
  padding: 8px;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px 0px rgba(252, 252, 252, 0.5), 0px 2px 23px 0px #EDEDED;
  border-radius: 12px;
  border: 1px solid rgba(60, 61, 61, 0.24);
  z-index: 2;
}

.main-wrap .main-title-wrap {
  position: relative;
}

.main-wrap .main-title-wrap .el-icon-circle-close {
  display: none !important;
}

.main-wrap .main-title-wrap .weekShow {
  background: #fff;
  position: absolute;
  left: 28px;
  top: 4px;
  height: 30px;
  line-height: 30px;
  width: 66px;
  font-size: 14px;
  padding-left: 2px;
}

.main-wrap .main-title-wrap .fr.Cancel,
.main-wrap .main-title-wrap .fr.Save {
  width: 100px;
  height: 36px;
  border-radius: 4px;
  cursor: pointer;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
  box-sizing: border-box;
  margin-left: 20px;
}

.main-wrap .main-title-wrap .fr.Cancel {
  background: #fff;
  color: #0070D2;
  border: 1px solid #0070D2;
}

.main-wrap .main-title-wrap .fr.Save {
  background: #0070D2;
  color: #fff;
  border: 1px solid transparent;
}

.main-wrap .main-title-wrap .main-title-userinfo {
  font-size: 14px;
  margin-left: 30px;
  display: inline-block;
  vertical-align: middle;
}

.main-wrap .main-title-wrap .exportpdf-img,
.main-wrap .main-title-wrap .exportExcel-img {
  float: right;
  margin-left: 20px;
  height: 36px;
  cursor: pointer;
}

.main-wrap .timeline-wrap {
  margin: 8px 0 12px;
}

.main-wrap .timeline-wrap .week-timeline {
  margin-bottom: 8px;
  padding-top: 10px;
  border-top: 1px solid #dadada;
}

.main-wrap .timeline-wrap .week-timeline .circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgba(236, 235, 234, 0.7);
  display: inline-block;
  vertical-align: middle;
  margin-top: 6px;
}

.main-wrap .week-timeline .display-f {
  display: flex;
}

.main-wrap .timeline-wrap .week-timeline .weekItem {
  width: 33%;
  height: 44px;
  background: #ECEBEA;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 0 44px 44px 0;
  font-size: 16px;
  line-height: 26px;
}

.main-wrap .timeline-wrap .week-timeline .timeQuantum {
  font-size: 14px;
  line-height: 10px;
  color: #444;
}

.main-wrap .timeline-wrap .week-timeline .weekItem::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 44px;
  width: 22px;
  border-radius: 0 44px 44px 0;
  background: #fff;
}

.main-wrap .timeline-wrap .week-timeline .weekItem.weekItem3 {
  background: rgba(0, 112, 210, 0.1);
  width: 66% !important;
}

.main-wrap .timeline-wrap .week-timeline .weekItem.weekItem1 {
  background: rgba(0, 112, 210, 0.3);
  width: 66% !important;
}

.main-wrap .timeline-wrap .circleNum-wrap {
  overflow: hidden;
  white-space: nowrap;
  padding: 0 15px;
}

.main-wrap .timeline-wrap .circleNum-wrap .circle {
  margin: 6px 44px 0 0;
}

.main-wrap .job-content-wrap .blank .el-button {
  height: 32px;
  padding: 0 16px;
  background: #0070D2;
  vertical-align: middle;
}

.main-wrap .job-content-wrap .blank .el-icon-info {
  color: #0070D2;
  font-size: 20px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 18px;
}

.job-content-wrap .work-head {
  height: 28px;
  background: #ECEBEA;
  border-radius: 14px;
  line-height: 28px;
  font-size: 16px;
  padding: 0 28px;
}

.job-content-wrap .work-body {
  padding: 15px 4px;
  height: calc(100vh - 216px);
  min-height: calc(100vh - 216px);
  overflow: auto;
}

.work-body .workContentList-item-wrap {
  margin-bottom: 16px;
  padding-bottom: 12px;
  border-bottom: 1px solid #E1E1E1;
}

.work-body .workContentList-item-wrap:last-child {
  margin-bottom: 0;
}

.work-body .work-body-r-t {
  padding: 8px 15px;
  background: rgba(0, 112, 210, 0.1);
  border-radius: 20px 25px 0px 0px;
  font-size: 17px;
  color: rgba(22, 44, 85, 0.7);
  font-weight: 700;
}

.work-body .work-body-r-t .el-icon-error {
  font-size: 16px;
  line-height: 28px;
  color: #ccc;
  margin-left: 8px;
  cursor: pointer;
}

.work-body .work-body-r-t .weekview-wrap-img {
  float: right;
  padding-top: 4px;
  cursor: pointer;
  margin-left: 8px;
}

.work-body .work-body-r-t .weekview-wrap-img img {
  float: right;
  width: 20px;
}

.work-body .work-body-r-t .objective-span {
  line-height: 28px;
}

.work-body .work-body-r-t .objective-sort-input {
  padding: 2px 4px 0;
  width: 20px;
  text-align: center;
  border: 1px solid #ccc;
  color: #444;
  border-radius: 3px;
  font-size: 16px;
  float: right;
  margin: 3px 0 0 0;

}

.work-body .work-body-r-b {
  padding: 10px 15px 15px 15px;
  background: rgba(0, 112, 210, 0.1);
  font-size: 16px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #162C55;
  border-radius: 0 0 20px 20px;
  min-height: 50px;
}

.work-body .text-break-all {
  word-break: break-all;
  white-space: pre-wrap;
}

.work-body .work-body-r-f {
  box-shadow: 0px 2px 23px 0px #EDEDED;
  border-radius: 24px;
  border: 1px solid rgba(0, 112, 210, 0.3);
  margin-top: 4px;
  display: flex;
  text-align: center;
  display: flex;
  padding: 10px 6px;
}

.work-body .work-body-r-f>div {
  vertical-align: top;
  line-height: 32px;
  font-size: 16px;
}

.work-body .work-body-r-f>div:nth-child(1),
.work-body .work-body-r-f>div:nth-child(3) {
  flex: 30%;
}

.work-body .work-body-r-f>div:nth-child(5) {
  flex: 20%;
}

.work-body .work-body-r-f>div input {
  width: 40px;
  height: 32px;
  border-radius: 5px;
  border: 1px solid #CCCCCC;
  box-sizing: border-box;
  outline: none;
  padding: 0 6px;
  font-size: 16px;
}

.work-body .work-body-r-f .text-align-l {
  color: rgba(0, 112, 210, 0.7);
}

.work-body .work-body-r-f .progress {
  font-size: 12px;
  color: #000;
  padding: 2px;
  background: rgba(0, 112, 210, 0.1);
  border-radius: 2rem;
  line-height: 16px;
  margin-top: 10px;
}

.work-body .work-body-c {
  padding: 0 12px;
  min-height: 20px;
}

.work-body .el-icon-plus {
  border: 2px solid #C2C2C2;
  width: 34px;
  height: 34px;
  background: #FFFFFF;
  box-shadow: 0px 2px 7px 0px rgba(194, 194, 194, 1);
  text-align: center;
  line-height: 34px;
  color: #0070D2;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 0 16px;
}

.work-body .work-body-c-i {
  font-size: 14px;
  line-height: 20px;
  box-shadow: 0px 2px 6px 0px rgba(194, 194, 194, 0.5), 0px 2px 23px 0px #EDEDED;
  border-radius: 24px;
  padding: 8px 70px 8px 15px;
  min-height: 168px;
  position: relative;
  min-height: 40px;
  display: flex;
}

.work-body .work-body-l .work-body-c-i {
  padding: 8px 15px 8px 15px;
}

.work-body .work-body-c-i .index {
  width: 16px;
  height: 16px;
  background: #BDE6F7;
  font-size: 12px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 16px;
  margin-right: 6px;
  position: relative;
  top: 4px;
}

.work-body .work-body-c-i .el-icon-success,
.work-body .work-body-c-i .el-icon-error {
  vertical-align: top;
  position: absolute;
  top: 18px;
  right: 20px;
  cursor: pointer;
}

.work-body .work-body-c-i .el-icon-success {
  font-size: 32px;
  color: #ECEBEA;

}

.work-body .work-body-c-i .el-icon-error {
  font-size: 32px;
  color: #EDEDED;
  right: 20px;
}

.work-body .work-body-c-i .finished {
  color: #4DC982 !important;
}

.work-body .el-textarea .el-textarea__inner {
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0;
}

.weekly-reports-wrap .exportWrapPDF-befor,
.weekly-reports-wrap .exportWrapPDF-after {
  position: fixed;
  height: 60px;
  width: 100%;
  left: 0;
  background: #fff;
  z-index: 1;
}

.weekly-reports-wrap .exportWrapPDF-befor {
  top: 0;
}

.weekly-reports-wrap .exportWrapPDF-after {
  bottom: 0;
}

body::-webkit-scrollbar {
  width: 0px;
}

#exportWrapPDF {
  background: #fff;
  padding: 0 16px;
  font-family: "宋体";
}

#exportWrapPDF .week-title {
  background: #fff;
  font-size: 36px;
  text-align: center;
  height: 90px;
  line-height: 90px;
  font-weight: 700;
}

#exportWrapPDF .el-table .cell {
  color: #000;
  white-space: pre-wrap;
}

#exportWrapPDF .el-table th .cell,
#exportWrapPDF .el-table td .cell {
  font-size: 28px;
  line-height: 30px;
}

#exportWrapPDF .el-table th .cell {
  font-weight: 700;
}

.el-table--border::after,
.el-table--group::after,
.el-table::before {
  z-index: 0;
}

.weekly-reports-wrap .job-textarea {
  background: transparent;
  border: none;
  outline: none;
  font-size: 18px;
  padding: 0;
  display: block;
  resize: vertical;
  line-height: 1.5;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  color: #606266;
  background-color: #FFF;
  background-image: none;
  border-radius: 4px;
  -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
}