
body, ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
}

.fr {
  float: right;
}

.mlr12 {
  margin: 0 12px;
}

.text-align-r {
  text-align: right;
}

.vertical-align-m {
  vertical-align: middle;
}

[v-cloak] {
  display: none !important;
}

.img-wrap img {
  vertical-align: middle;
  width: 100%;
  max-width: 100%;
  max-height: 100%;
}

.main-container {
  padding: 10px;
  color: #000;
  position: relative;
}

.main-container .el-select,
.main-container .el-input,
.main-container .el-input__inner {
  box-shadow: 0px 6px 30px -9px rgba(0, 0, 0, 0.3);
  height: 38px;
  line-height: 38px;
  width: 100px;
}

.el-input__icon {
  line-height: 32px;
}

.weekly-reports-wrap {
  background: #fff;
  min-height: calc(100vh - 40px);
}

.text-nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.header .site-wrap {
  width: 100%;
  font-size: 13px;
}

.site-wrap::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #F5F5F5;
}

.site-wrap::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.site-wrap::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #d0d0c7;
}

.header .site-wrap .siteItem {
  background: #ECEBEA;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  height: 36px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  border-right: 2px solid #fafafa;
  transition: all 0.2s;
  padding: 0 3px;
}

.header .site-wrap .siteItem .site-name-pos {
  vertical-align: middle;
  display: inline-block;
}

.header .site-wrap .siteItem::after {
  content: "";
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}

.header .site-wrap .siteItem:first-child {
  border-radius: 10rem 0 0 10rem;
}

.header .site-wrap .siteItem:last-child {
  border-radius: 0 10rem 10rem 0;
}

.header .site-wrap .siteItem.active {
  background: #0070D2;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.header .site-wrap #siteItemID:after {
  background: #0070D2;
}

.personnel-list-wrap {
  margin: 6px 0 0 0;
  cursor: pointer;
  overflow: hidden;
  width: 100%;
  position: relative;
  height: 136px;
}

.personnel-list-wrap>div {
  background: rgba(0, 112, 210, 0.1);
}

.personnel-list-wrap .personnel-carousel-wrap {
  transition: margin 0.5s;
}

.personnel-list-wrap .personnel-carousel-wrap .personnel-carousel-item {
  display: inline-block;
  font-size: 14px;
  color: rgba(22, 44, 85, 0.7);
  padding: 10px 0;
  text-align: center;
  height: 120px;
  box-sizing: border-box;
  vertical-align: middle;
}

.personnel-list-wrap .personnel-carousel-wrap .personnel-carousel-item .img-border-box {
  border: 2px solid transparent;
  box-sizing: border-box;
  width: 72px;
  height: 72px;
  line-height: 68px;
  display: inline-block;
  overflow: hidden;
  border-radius: 50%;
  text-align: center;
  margin: 2px 65px 4px;
  font-size: 18px;
  font-weight: bold;
}

.personnel-list-wrap .personnel-carousel-wrap .personnel-carousel-item .default-photo {
  background: rgba(0, 112, 210, 0.3);
}

.personnel-list-wrap .personnel-carousel-wrap .personnel-carousel-item .img-wrap img {
  vertical-align: top;
}

.personnel-list-wrap .personnel-carousel-wrap .personnel-carousel-item.active {
  color: #162C55;
  position: relative;
}

.personnel-list-wrap .personnel-carousel-wrap .personnel-carousel-item.isSpeaker {
  background: #A9D6F5;
  position: relative;
}

.personnel-list-wrap .personnel-carousel-wrap .personnel-carousel-item.active .img-border-box {
  border-color: #0094ff;
}

.personnel-list-wrap .personnel-carousel-wrap .personnel-carousel-item.active::after {
  position: absolute;
  content: "";
  width: 0px;
  height: 0px;
  border-left: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 8px solid rgba(0, 112, 210, 0.1);
  margin-left: -8px;
  bottom: -16px;
  left: 50%;
}

.personnel-list-wrap .personnel-carousel-wrap .personnel-carousel-item.active.isSpeaker::after {
  border-top: 8px solid #B2D4F1;
}

.personnel-list-wrap .personnel-carousel-wrap .personnel-carousel-item.isSpeaker::before {
  background: #82c2f0;
  position: absolute;
  content: "";
  height: 6px;
  width: 100%;
  left: 0;
  top: 0;
}

.personnel-list-wrap .personnel-carousel-wrap .personnel-carousel-item.active::before {
  background: #0070D2 !important;
  position: absolute;
  content: "";
  height: 6px;
  width: 100%;
  left: 0;
  top: 0;
}

.personnel-list-wrap .el-icon-arrow-left,
.personnel-list-wrap .el-icon-arrow-right {
  position: absolute;
  top: 0;
  height: 120px;
  line-height: 120px;
  z-index: 10;
  background: #4c9adf;
  width: 26px;
  text-align: center;
  color: #fff;
  font-size: 18px;
}

.personnel-list-wrap .el-icon-arrow-left {
  left: 0;
}

.personnel-list-wrap .el-icon-arrow-right {
  right: 0;
}

.main-container .main-wrap {
  padding: 8px;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px 0px rgba(252, 252, 252, 0.5), 0px 2px 23px 0px #EDEDED;
  border-radius: 12px;
  border: 1px solid rgba(60, 61, 61, 0.24);
}

.main-container .main-wrap-showSinglePerson {
  margin-top: 10px;
}

.main-wrap .text-pre {
  white-space: pre-wrap;
}

.main-wrap .main-title-wrap .el-icon-circle-close {
  display: none !important;
}


.main-wrap .main-title-wrap {
  position: relative;
}

.main-wrap .main-title-wrap .content-title {
  padding-bottom: 8px;
  border-bottom: 1px solid #dadada;
}

.main-title-userinfo {
  font-size: 14px;
  margin-left: 4px;
  display: inline-block;
  vertical-align: middle;
}

.main-title-userinfo .currentPerson-img-box {
  display: inline-block;
  width: 26px;
  height: 26px;
  vertical-align: middle;
  margin-right: 4px;
  border: 1px solid #0094ff;
  border-radius: 50%;
  overflow: hidden;
  background: rgba(0, 112, 210, 0.3);
}

.main-title-userinfo .personName {
  display: inline-block;
  vertical-align: middle;
  line-height: 14px;
}

.main-title-userinfo .default-photo {
  border-radius: 50%;
  height: 26px;
  width: 26px;
  text-align: center;
  line-height: 26px;
}

.fix-person-wrap {
  position: fixed;
  right: 20px;
  bottom: 22px;
  background: #d1e2f1;
  border-radius: 20rem;
  padding: 4px 8px;
  z-index: 2;
  padding-right: 24px;
  cursor: pointer;
}

.fix-person-wrap .main-title-userinfo {
  margin-left: 0;
}

.fix-person-wrap::before {
  content: "";
  display: inline-block;
  border-right: transparent 8px solid;
  border-left: #539dde 8px solid;
  border-top: transparent 8px solid;
  border-bottom: transparent 8px solid;
  border-radius: 2px;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -8px;
}

.main-wrap .main-title-wrap .weekShow {
  background: #fff;
  position: absolute;
  left: 28px;
  top: 7px;
  height: 30px;
  line-height: 30px;
  width: 66px;
  font-size: 14px;
  padding-left: 2px;
}

.main-wrap .timeline-wrap .week-timeline .circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgba(236, 235, 234, 0.7);
  display: inline-block;
  vertical-align: middle;
  margin-top: 6px;
}

.main-wrap .timeline-wrap .week-timeline .weekItem {
  height: 44px;
  background: #ECEBEA;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 0 44px 44px 0;
  font-size: 16px;
  line-height: 26px;
}

.main-wrap .timeline-wrap .week-timeline .timeQuantum {
  font-size: 14px;
  line-height: 10px;
  color: #444;
}

.main-wrap .timeline-wrap .week-timeline .weekItem::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 44px;
  width: 22px;
  border-radius: 0 44px 44px 0;
  background: #fff;
}

.main-wrap .timeline-wrap .week-timeline .weekItem.weekItem3 {
  background: rgba(0, 112, 210, 0.1);
}

.main-wrap .timeline-wrap .week-timeline .weekItem.weekItem1 {
  background: rgba(0, 112, 210, 0.3);
  position: relative;
  left: -20px;
}

.main-wrap .timeline-wrap .circleNum-wrap {
  overflow: hidden;
  white-space: nowrap;
  padding: 0 30px;
}

.main-wrap .timeline-wrap .circleNum-wrap .circle {
  margin: 6px 44px 0 0;
}

.main-wrap .blank {
  margin: 2px 0 0 0;
}

.timerNumber-wrap {
  display: inline-block;
  height: 32px;
  line-height: 32px;
  float: right;
  margin: 6px 16px 0 0;
  border: 1px solid #0070D2;
  width: 44px;
  border-radius: 6px;
  text-align: center;
  font-weight: 700;
  color: #0070D2;
}

.main-wrap .tColor-f73131 {
  color: #f73131;
  border: 1px solid #f73131;
}

.my-job-btn {
  height: 32px;
  background: #0070D2;
  border-radius: 4px;
  cursor: pointer;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-size: 14px;
  margin: 6px 6px 0 0;
  padding: 0 14px;
}

.job-content-wrap .work-body {
  padding: 8px 4px 50px 4px;
  height: calc(100vh - 276px);
  min-height: calc(100vh - 276px);
  overflow: auto;
  box-sizing: border-box;
}

.main-wrap-showSinglePerson .job-content-wrap .work-body {
  height: calc(100vh - 144px);
  min-height: calc(100vh - 144px);
}

.work-body .workContentList-item-wrap {
  padding: 10px 6px;
  border: 2px solid transparent;
  border-bottom: 1px solid #E1E1E1;
}

.work-body .workContentList-item-wrap.active {
  border: 2px solid rgba(0, 191, 255);
  box-sizing: border-box;
  border-radius: 24px;
}

.work-body .workContentList-item-wrap:last-child {
  margin-bottom: 0;
}

.work-body .work-body-r-t {
  padding: 8px 15px;
  background: rgba(0, 112, 210, 0.1);
  border-radius: 20px 25px 0px 0px;
  font-size: 18px;
  color: rgba(22, 44, 85, 0.7);
  font-weight: 700;
  position: relative;
}

.work-body .work-body-r-t .objective-name-wrap {
  display: inline-block;
}

.work-body .work-body-r-t .work-body-r-f-t {
  font-size: 12px;
  color: #fff;
  height: 18px;
  line-height: 18px;
  width: 76px;
  text-align: center;
  display: inline-block;
  border-radius: 6px;
  font-weight: 400;
}

.work-body .work-body-r-t .canvas-wrap {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: -2px;
}

.work-body .work-body-r-b {
  padding: 10px 15px 15px 15px;
  background: rgba(0, 112, 210, 0.1);
  font-size: 18px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #162C55;
  min-height: 50px;
  box-shadow: 0px 2px 6px 0px rgba(252, 252, 252, 0.5),
    0px 2px 23px 0px #EDEDED;
  border-radius: 0 0 50px 12px;
}

.work-body .work-body-c {
  padding: 0 12px;
  min-height: 30px;
}



.work-body .work-body-c-i {
  font-size: 16px;
  line-height: 22px;
  box-shadow: 0px 2px 6px 0px rgba(194, 194, 194, 0.5), 0px 2px 23px 0px #EDEDED;
  border-radius: 24px;
  padding: 8px 56px 8px 15px;
  min-height: 120px;
  position: relative;
}

.work-body .work-body-l .work-body-c-i {
  padding-right: 15px;
}

.work-body .work-body-c-i .index {
  width: 16px;
  height: 16px;
  background: #BDE6F7;
  font-size: 12px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 16px;
  margin-right: 6px;
}

.work-body .work-body-c-i .el-icon-success,
.work-body .work-body-c-i .unfinished {
  vertical-align: top;
  position: absolute;
  top: 18px;
  right: 18px;
}

.work-body .work-body-c-i .el-icon-success {
  font-size: 32px;
  color: #4DC982;

}

.work-body .work-body-c-i .unfinished {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #EDEDED;
  display: inline-block;
}

.work-body .work-body-c-i .jobName-No {
  display: inline-block;
  background: rgba(0, 191, 255);
  color: #fff;
  height: 18px;
  line-height: 18px;
  min-width: 18px;
  text-align: center;
  border-radius: 5px;
  margin-right: 4px;
}

.work-body .work-body-c-i .jobName-subNo {
  display: inline-block;
  background: rgba(80, 191, 255, 0.9);
  color: #fff;
  line-height: 18px;
  border-radius: 5px;
  margin-left: 10px;
  padding: 0 4px;
  margin-right: 4px;
}