
.overall-table {
    white-space: nowrap;
    border-collapse: separate; /* Don't collapse */
    border-spacing: 0;
    font-size: 14px;
    word-break: keep-all;
}

.overall-table  thead tr {
    height: 23px;
}

.overall-table  th {
    background-color: #00A9F4;
    color: #FFFFFF;
    font-weight: 500;
    padding: 0 10px;
    min-width: 100px;
    border-right: #FFFFFF 1px solid;
    border-top: #FFFFFF 1px solid;
    box-sizing: border-box;
    position: sticky;
    z-index: 1950;
}

.overall-table  thead tr:first-child th {
    top: 0;
}

.overall-table  thead tr:nth-child(2) th {
    top: 23px;
}

.overall-table  thead tr:nth-child(3) th {
    top: 46px;
}

.overall-table  thead  tr:first-child > th:first-child {
    min-width: 405px;
    font-size: 13px;
    left: 0;
    z-index: 1990;
}

/*.overall-table  th .granularity  label:not(:last-child) {*/
/*    margin-right: 10px;*/
/*}*/

.pop-settings  .setting {
    /*padding: 10px 15px;*/
    margin: 12px 15px 10px 15px;
    font-family: Arial, Arial-BoldMT;
}

.pop-settings  .setting > span {
    font-weight: bold;
}

.pop-settings  .setting  .el-radio-group {
    margin-top: 10px;
    display: block;
}

.pop-settings  .setting  .el-radio {
    color: #606060;
    /*font-weight: 600;*/
}

.pop-settings  .setting .el-radio:not(:last-child) {
    margin-right: 10px;
}

.pop-settings  .setting .el-radio__label {
    padding-left: 3px;
}

.pop-settings  .setting .el-slider {
    max-width: 250px;
}

.overall-table  th  .control {
    /*line-height: 12px;*/
}

.overall-table  th:last-child,
.overall-table  td:last-child {
    border-right: none;
}

.overall-table  th .collapse-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
}

.overall-table  tbody tr {
    height: 28px;
    background-color: #FFFFFF;
}

.overall-table  td {
    text-align: right;
    padding: 4px 7px 0 7px;
    border-right: #DDDBDA 1px solid;
    border-bottom: #DDDBDA 1px solid;
    background-color: inherit;
    /*z-index: 1930;*/
}

.overall-table  td:first-child {
    border-right: double 3px #cccbcb;
    text-align: left;
    position: sticky;
    left: 0;
    z-index: 1940;
    background-color: #FFFFFF;
}

/*.overall-table tbody tr:not(.margin):not(.margin-summary) td.item-name {*/
/*    !*box-shadow: inset -1px 0 #DDDBDA;*!*/
/*}*/

.overall-table  td.success  span:last-child,
.overall-table  td.deuce  span:last-child {
    color: initial;
}

/*.overall-table .row-collapse {*/
/*    height: 32px;*/
/*    background-color: #F2F2F2;*/
/*}*/

.overall-table .category {
    height: 32px;
    font-weight: bold;
    font-size: 16px;
    background-color: #F2F2F2;
}

.overall-table .category td {
    border: none;
    /*box-sizing: border-box;*/
    text-align: left;
    /*vertical-align: center;*/
    padding-left: 15px;
    /*height: 32px;*/
}

/*.overall-table .row-collapse td:last-child {*/
/*    border-right: #FFFFFF 3px solid;*/
/*}*/

.overall-table .category .collapse-icon {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    display: inline;
}

.overall-table .row-spacing {
    height: 20px;
}

.overall-table .row-spacing td {
    border: none;
}

.overall-table .mark {
    background-color: #C9F0FF;
}

.overall-table .emphasize {
    height: 32px;
    font-weight: bold;
    font-size: 16px;
}

/*.overall-table .important {*/
/*    height: 32px;*/
/*    font-weight: bold;*/
/*    font-size: 16px;*/
/*}*/

/*.overall-table .margin td,*/
/*.overall-table .margin-summary td {*/
/*    border: none;*/
/*}*/

.overall-table .underline td:not(:first-child) {
    box-shadow: inset 5px 0 #FFFFFF, inset 0 -1px #000000;
    border: none;
}

.overall-table .underline:last-child td:not(:first-child) {
    box-shadow: inset 5px 0 #FFFFFF, inset 0 -1px #000000, inset 0 -2px #FFFFFF, inset 0 -3px #000000;
}

.overall-table .percentage td:not(:first-child) span:last-child::after,
span.percentage::after {
    content: '%';
}

.overall-table .item-name small {
    font-size: 13px;
    font-weight: normal;
}

.overall-table  .table-separator {
    border-right: #FFFFFF 3px solid;
}

.overall-table tbody .highlight  td {
    background-color: #FBFFA8 !important;
}

.overall-table tbody tr:not(.highlight):hover  td {
    background-color: #F3F2F2 !important;
}