
.overview-table {
    white-space: nowrap;
    border-collapse: separate; /* Don't collapse */
    border-spacing: 0;
    font-size: medium;
    word-break: keep-all;
}

.overview-table  thead  tr {
    height: 23px;
}

.overview-table  th {
    /*border-right: solid 1px #d6d6d6;*/
    /*border-bottom: solid 1px #d6d6d6;*/
    border: none;
    padding: 0 10px;
    min-width: 100px;
    font-size: small;
    font-weight: 500;
    text-align: left;
    box-sizing: border-box;
    position: sticky;
    z-index: 1950;
}

div.granularity {
    /*padding: 10px 15px;*/
    margin: 12px 15px 10px 15px;
}

.overview-table  th.granularity {
   min-width: 220px;
   text-align: center!important;
   border-bottom: #002960 1px solid;
   background-color: #F3F7FA;
   top: 0;
   left: 0;
   z-index: 1990;
}

div.granularity > span {
    font-weight: bold;
}

div.granularity  .el-radio-group {
    margin-top: 7px;
    display: block;
}

div.granularity  .el-radio {
    color: #606060;
    /*font-weight: 600;*/
}

div.granularity .el-radio:not(:last-child) {
    margin-right: 10px;
}

div.granularity .el-radio__label {
    padding-left: 3px;
}

div.granularity .el-slider {
    max-width: 250px;
}

div.separator {
    display: flex;
    margin: 0 10px;
    border-bottom: 1px solid #e0e0e0;
}

.overview-table  tr:first-child  th:not(.granularity) {
    background-color: #0066BD;
    /*font-weight: bolder;*/
    color: #fff;
    top: 0;
}

.overview-table  tr:nth-child(2)  th {
    background-color: #5CD2FF;
    color: #000;
    /*font-weight: bolder;*/
    top: 23px;
}

.overview-table thead tr:nth-child(3) th {
    top: 46px;
    border-bottom: #002960 1px solid;
    font-weight: 600;
    background-color: #F3F7FA;
}

.overview-table  tbody tr {
    height: max-content;
    line-height: 1.5;
    font-size: 80%;
}

.overview-table  td {
    border-right: solid 1px #d6d6d6;
    border-bottom: solid 1px #d6d6d6;
    text-align: right;
    padding: 4px 7px 0 7px;
    background-color: #FFFFFF;
}

/* .overview-table td span:last-child {
    float: right;
} */

.overview-table td span:last-child {
    padding-left: 7px;
    padding-right: 7px;
}

.overview-table td:first-child {
    text-align: left;
    position: sticky;
    border-right: double 3px #cccbcb;
    left: 0;
    z-index: 1940;
}

.overview-table .important {
    line-height: 1.7;
    font-weight: bolder;
    font-size: 85%;
}

.overview-table .summary td {
    border-top: #000000 1px solid;
    border-bottom: #000000 2px solid;
}

.overview-table .highlight td{
    background-color: #FBFFA8!important;
}

.overview-table .row-collapse td {
    background-color: rgba(243, 247, 250, 1);
    /*border-bottom: none;*/
    box-sizing: border-box;
    /*text-align: left;*/
    vertical-align: center;
    /* padding-left: 15px; */
}

.overview-table .row-collapse .collapse-icon {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    display: inline;
}

.overview-table  th:last-child,
.overview-table  td:last-child {
    border-right: none;
}

.overview-table .table-separator {
    border-right: #FFFFFF 3px solid;
}

.background-baby-blue-100 {
    background-color: rgba(201, 240, 255, 1)!important;
}

.background-baby-blue-60 {
    background-color: rgba(201, 240, 255, 0.6)!important;
}

.background-alice-blue-100 {
    background-color: rgba(243, 247, 250, 1)!important;
}

.text-gray {
    color: rgba(0, 0, 0, 0.6);
}

.pub-first-td {
    padding-left: 15px;
}