body, ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  body {
    background: #fff;
  }
  
  .clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
    font-size: 0;
  }
  
  .fr {
    float: right;
  }
  
  .mlr12 {
    margin: 0 12px;
  }
  
  .text-align-r {
    text-align: right;
  }
  
  .text-align-l {
    text-align: left;
  }
  
  .vertical-align-m {
    vertical-align: middle;
  }
  
  [v-cloak] {
    display: none !important;
  }
  
  .img-wrap img {
    vertical-align: middle;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
  }
  
  .ps-objective-main-container {
    padding: 10px;
    color: #000;
    background: #fff;
  }
  
  textarea::placeholder,
  input::placeholder {
    color: #929292 !important;
    font-size: 16px;
  }
  
  textarea {
    display: block;
    margin: 0 auto;
    font-size: 14px;
    line-height: 24px;
  }
  
  
  .main-wrap-objective .el-select,
  .main-wrap-objective .el-input,
  .main-wrap-objective .el-input__inner {
    /* box-shadow: 0px 6px 30px -9px rgba(0, 0, 0, 0.3); */
    /* height: 38px; */
    /* line-height: 38px; */
    width: 150px;
  }
  

  .el-input__icon {
    line-height: 32px;
  }
  
  .performance-objective-wrap {
    background: #fff;
    font-family: Arial, Arial-BoldMT;
  }
  
  .text-nowrap {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
   
  .ps-objective-main-container .main-wrap-objective {
    box-sizing: border-box;
    position: fixed;
    top: 8px;
    left: 8px;
    width: calc(100% - 16px);
    padding: 8px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px 0px rgba(252, 252, 252, 0.5), 0px 2px 23px 0px #EDEDED;
    border-radius: 12px;
    border: 1px solid rgba(60, 61, 61, 0.24);
    z-index: 2;
  }
  
  .main-wrap-objective .main-title-wrap {
    position: relative;
  }
  
  .main-wrap-objective .main-title-wrap .el-icon-circle-close {
    display: none !important;
  }
  
  .main-wrap-objective .main-title-wrap .weekShow {
    background: #fff;
    position: absolute;
    left: 28px;
    top: 4px;
    height: 30px;
    line-height: 30px;
    width: 66px;
    font-size: 14px;
    padding-left: 2px;
  }
  
  .main-wrap-objective .main-title-wrap .fr.Cancel,
  .main-wrap-objective .main-title-wrap .fr.Save {
    height: 32px;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 13px;
    box-sizing: border-box;
    margin-left: 20px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    margin: 0px 6px 0px 6px;
    padding: 0 6px 0px 6px;
    width: 60px;
  }
  
  .main-wrap-objective .main-title-wrap .fr.Cancel {
    background: #fff;
    color: #0070D2;
    border: 1px solid #0070D2;
  }
  
  .main-wrap-objective .main-title-wrap .fr.Save {
    background: #0070D2;
    color: #fff;
    border: 1px solid transparent;
  }
  
  .main-wrap-objective .addlink {
    /* height: 24px; */
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    font-size: 10px;
    box-sizing: border-box;
    line-height: 18px;
    text-align: center;
    color: #fff;
    /* margin: 4px 4px 4px 4px; */
    padding: 0 5px ;
    background: #0070D2;
    color: #fff;
    border: 1px solid transparent;
    vertical-align: middle;
    position: absolute;
    top: 10px;
    right: 13px;
  }
  
  .main-wrap-objective .add_link_cancel,
  .add_link_save {
    height: 32px;
    width: 80px;
    border-radius: 4px;
    cursor: pointer;
    line-height: 36px;
    text-align: center;
    font-size: 14px;
    box-sizing: border-box;
    margin-left: 20px;
    line-height: 32px;
    text-align: center;
    color: #fff;
    margin: 6px 6px 6px 6px;
    padding: 0 4px;
  }
  
  .main-wrap-objective .add_link_cancel {
    background: #fff;
    color: #0070D2;
    border: 1px solid #0070D2;
  }
  
  .main-wrap-objective .add_link_save {
    background: #0070D2;
    color: #fff;
    border: 1px solid transparent;
  }
 
  .main-wrap-objective .main-title-wrap .exportpdf-img,
  .main-wrap-objective .main-title-wrap .exportExcel-img {
    float: right;
    margin-left: 20px;
    height: 36px;
    cursor: pointer;
  }
  
  .main-wrap-objective .timeline-wrap {
    margin: 8px 0 12px 0;
  }
  
  .main-wrap-objective .timeline-wrap .week-timeline {
    /*margin-bottom: 8px;*/
    padding-top: 6px;
    padding-bottom: 6px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
  }
  
  .main-wrap-objective .timeline-wrap .week-timeline .circle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background: rgba(236, 235, 234, 0.7);
    display: inline-block;
    vertical-align: middle;
    margin-top: 6px;
  }
  
  .main-wrap-objective .week-timeline .display-f {
    display: flex;
  }
  
  .main-wrap-objective .timeline-wrap .week-timeline .weekItem {
    width: 33%;
    height: 40px;
    background: #ECEBEA;
    text-align: center;
    position: relative;
    overflow: hidden;
    border-radius: 0 40px 40px 0;
    font-size: 16px;
    line-height: 40px;
  }
  
  .main-wrap-objective .timeline-wrap .week-timeline .noneItem {
    width: 33%;
    height: 40px;
    text-align: center;
    position: relative;
    overflow: hidden;
    font-size: 16px;
    line-height: 40px;
  }

  .main-wrap-objective .timeline-wrap .week-timeline .timeQuantum {
    font-size: 14px;
    line-height: 10px;
    color: #444;
  }
  
  .main-wrap-objective .timeline-wrap .week-timeline .weekItem::after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 44px;
    width: 22px;
    border-radius: 0 40px 40px 0;
    background: #fff;
  }
  
  .main-wrap-objective .timeline-wrap .week-timeline .weekItem.weekItem3 {
    background: rgba(0, 112, 210, 0.1);
    width: 90% !important;
  }
  
  .main-wrap-objective .timeline-wrap .week-timeline .weekItem.weekItem1 {
    background: rgba(0, 112, 210, 0.3);
    width: 90% !important;
  }
  
  .main-wrap-objective .timeline-wrap .circleNum-wrap {
    overflow: hidden;
    white-space: nowrap;
    padding: 0 15px;
  }
  
  .main-wrap-objective .timeline-wrap .circleNum-wrap .circle {
    margin: 6px 44px 0 0;
  }
  
  .main-wrap-objective .job-content-wrap .blank .el-button {
    height: 32px;
    padding: 0 16px;
    background: #0070D2;
    vertical-align: middle;
  }
  
  .main-wrap-objective .job-content-wrap .blank .el-icon-info {
    color: #0070D2;
    font-size: 20px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 18px;
  }
  
  .main-wrap-objective .job-content-wrap .work-head {
    height: 28px;
    background: #ECEBEA;
    border-radius: 14px;
    line-height: 28px;
    font-size: 16px;
    padding: 0 28px;
  }
  
  .main-wrap-objective .job-content-wrap .objective-work-body {
    padding: 8px 4px;
    height: calc(100vh);
    min-height: calc(100vh);
    overflow: auto;
  }
  
  .objective-work-body .workContentList-item-wrap {
    margin-bottom: 8px;
    padding-bottom: 8px;
    border-bottom: 1px solid #E1E1E1;
  }
  
  .objective-work-body .workContentList-item-wrap:last-child {
    margin-bottom: 0;
  }
  
  .objective-work-body .work-body-r-t {
    padding: 8px 15px;
    background: rgba(0, 112, 210, 0.1);
    border-radius: 20px 25px 0px 0px;
    font-size: 17px;
    color: rgba(22, 44, 85, 0.7);
    font-weight: 700;
  }
  
  .objective-work-body .work-body-r-t .el-icon-error {
    font-size: 16px;
    line-height: 28px;
    color: #ccc;
    margin-left: 8px;
    cursor: pointer;
  }
  
  .objective-work-body .work-body-r-t .weekview-wrap-img {
    float: right;
    padding-top: 4px;
    cursor: pointer;
    margin-left: 8px;
  }
  
  .objective-work-body .work-body-r-t .weekview-wrap-img img {
    float: right;
    width: 20px;
  }
  
  .objective-work-body .work-body-r-t .objective-span {
    line-height: 28px;
  }
  
  .objective-work-body .work-body-r-t .objective-sort-input {
    padding: 2px 4px 0;
    width: 20px;
    text-align: center;
    border: 1px solid #ccc;
    color: #444;
    border-radius: 3px;
    font-size: 16px;
    float: right;
    margin: 3px 0 0 0;
  
  }
  
  .objective-work-body .work-body-r-b {
    padding: 25px 15px 15px 30px;
    background: rgba(0, 112, 210, 0.1);
    font-size: 18px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    color: rgba(22, 44, 85, 0.7);
    border-radius: 12px 12px 30px 12px;
    min-height: 60px;
  }
  
  .objective-work-body .text-break-all {
    word-break: break-all;
    white-space: pre-wrap;
  }
  
  .objective-work-body .work-body-r-f {
    box-shadow: 0px 2px 23px 0px #EDEDED;
    border-radius: 24px;
    border: 1px solid rgba(0, 112, 210, 0.3);
    margin-top: 4px;
    display: flex;
    text-align: center;
    display: flex;
    padding: 10px 6px;
  }
  
  .objective-work-body .work-body-r-f>div {
    vertical-align: top;
    line-height: 32px;
    font-size: 16px;
  }
  
  .objective-work-body .work-body-r-f>div:nth-child(1),
  .objective-work-body .work-body-r-f>div:nth-child(3) {
    flex: 30%;
  }
  
  .objective-work-body .work-body-r-f>div:nth-child(5) {
    flex: 20%;
  }
  
  .objective-work-body .work-body-r-f>div input {
    width: 40px;
    height: 32px;
    border-radius: 5px;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    outline: none;
    padding: 0 6px;
    font-size: 16px;
  }
  
  .objective-work-body .work-body-r-f .text-align-l {
    color: rgba(0, 112, 210, 0.7);
  }
  
  .objective-work-body .work-body-r-f .progress {
    font-size: 12px;
    color: #000;
    padding: 2px;
    background: rgba(0, 112, 210, 0.1);
    border-radius: 2rem;
    line-height: 16px;
    margin-top: 10px;
  }
  
  .objective-work-body .work-body-c {
    padding: 0 5px 0 14px;
    /* min-height: 20px; */
  }
  
  .objective-work-body .work-body-l {
    padding: 0px 5px 0px 5px;
  }

  .objective-work-body .el-icon-plus {
    border: 2px solid #C2C2C2;
    width: 34px;
    height: 34px;
    background: #FFFFFF;
    box-shadow: 0px 2px 7px 0px rgba(194, 194, 194, 1);
    text-align: center;
    line-height: 34px;
    color: #0070D2;
    border-radius: 50%;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 0 16px;
  }
  
  .objective-work-body .work-body-c-i {
    font-size: 14px;
    line-height: 20px;
    box-shadow: 0px 2px 6px 0px rgba(194, 194, 194, 0.5), 0px 2px 23px 0px #EDEDED;
    border-radius: 15px;
    padding: 15px 15px 10px 15px;
    min-height: 168px;
    position: relative;
    min-height: 40px;
    display: flex;
  }
  

  
  .objective-work-body .work-body-c-i .index {
    width: 16px;
    height: 16px;
    background: #BDE6F7;
    font-size: 12px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 16px;
    margin-right: 6px;
    position: relative;
    top: 4px;
  }
  
  .objective-work-body .work-body-c-i .el-icon-circle-plus,
  .objective-work-body .work-body-c-i .el-icon-success,
  .objective-work-body .work-body-c-i .el-icon-error {
    vertical-align: top;
    position: absolute;
    top: 18px;
    right: 20px;
    cursor: pointer;
  }
  
  .objective-work-body .work-body-c-i .el-icon-circle-plus {
    font-size: 32px;
    color: #258de2;
    right: 20px;
  }

  .objective-work-body .work-body-c-i .el-icon-success {
    font-size: 32px;
    color: #ECEBEA;
  }
  
  .objective-work-body .work-body-c-i .el-icon-error {
    font-size: 32px;
    color: #EDEDED;
    right: 20px;
  }
  
  .objective-work-body .work-body-c-i .finished {
    color: #4DC982 !important;
  }
  
  .objective-work-body .el-textarea .el-textarea__inner {
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0;
  }
  
  .performance-objective-wrap .exportWrapPDF-befor,
  .performance-objective-wrap .exportWrapPDF-after {
    position: fixed;
    height: 50px;
    width: 100%;
    left: 0;
    background: #fff;
    z-index: 1;
  }
  
  .performance-objective-wrap .exportWrapPDF-befor {
    top: 0;
  }
  
  .performance-objective-wrap .exportWrapPDF-after {
    bottom: 0;
  }
  
  body::-webkit-scrollbar {
    width: 0px;
  }
  
  #exportWrapPDF {
    background: #fff;
    padding: 0 16px;
  }
  
  #exportWrapPDF .week-title {
    background: #fff;
    font-size: 36px;
    text-align: center;
    height: 90px;
    line-height: 90px;
    font-weight: 700;
  }
  
  #exportWrapPDF .el-table .cell {
    color: #000;
    white-space: pre-wrap;
  }
  
  #exportWrapPDF .el-table th .cell,
  #exportWrapPDF .el-table td .cell {
    font-size: 28px;
    line-height: 30px;
  }
  
  #exportWrapPDF .el-table th .cell {
    font-weight: 700;
  }
  
  .el-table--border::after,
  .el-table--group::after,
  .el-table::before {
    z-index: 0;
  }
  
  .performance-objective-wrap .job-textarea {
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    padding: 0;
    display: block;
    resize: vertical;
    line-height: 1.5;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    color: #606266;
    background-color: #FFF;
    background-image: none;
    border-radius: 4px;
    -webkit-transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
    transition: border-color .2s cubic-bezier(.645, .045, .355, 1);
  }

  .performance-objective-wrap .input-label{
    font-size: 14px;
    padding-left: 40px;
    padding-right: 10px;
  }

  .performance-objective-wrap .text-pre {
    white-space: pre-wrap;
  }

  .objective-work-body .work-body-c-i .jobName-No {
    display: inline-block;
    background: rgba(0, 191, 255);
    color: #fff;
    height: 18px;
    line-height: 18px;
    min-width: 18px;
    text-align: center;
    border-radius: 5px;
    margin-right: 4px;
  }
  
  .objective-work-body .work-body-c-i .jobName-subNo {
    display: inline-block;
    background: rgba(80, 191, 255, 0.9);
    color: #fff;
    line-height: 18px;
    border-radius: 5px;
    margin-left: 10px;
    padding: 0 4px;
    margin-right: 4px;
  }