body, ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.performance_review .clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  font-size: 0;
}

.performance_review .fr {
  float: right;
}

.performance_review [v-cloak] {
  display: none !important;
}

.main-container {
  padding: 10px;
  color: #000;
  position: relative;
}

.performance_review input.el-input__inner, .el-icon-date{
  height: 32px;
  line-height: 32px;
}

.performance_review .el-input__inner{
  width: 150px;
}

.performance_review .el-input__suffix{
  display: none;
}

.performance_review {
  background: #fff;
  min-height: calc(100vh - 40px);
  font-family: Arial, Arial-BoldMT;
}

.performance_review .text-nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.performance_review .header .site-wrap {
  width: 100%;
  border-bottom: 1px solid #dadada;
  margin-bottom: 6px;
  padding-bottom: 8px;
}

.site-wrap .block {
  padding: 0px 5px;
}

.select_range{
  font-size: 14px;
  margin-right: 10px;
  padding-right: 10px; 
}

.site-wrap::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #F5F5F5;
}

.site-wrap::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5;
}

.site-wrap::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
  background-color: #d0d0c7;
}

.header .site-wrap .siteItem {
  background: #ECEBEA;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  height: 36px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  border-right: 2px solid #fafafa;
  transition: all 0.2s;
  padding: 0 3px;
}

.header .site-wrap .siteItem .site-name-pos {
  vertical-align: middle;
  display: inline-block;
}

.header .site-wrap .siteItem::after {
  content: "";
  height: 100%;
  vertical-align: middle;
  display: inline-block;
}

.header .site-wrap .siteItem:first-child {
  border-radius: 10rem 0 0 10rem;
}

.header .site-wrap .siteItem:last-child {
  border-radius: 0 10rem 10rem 0;
}

.header .site-wrap .siteItem.active {
  background: #0070D2;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}

.header .site-wrap #siteItemID:after {
  background: #0070D2;
}

.performance_review .main-container .main-wrap {
  padding: 8px;
  background: #FFFFFF;
  box-shadow: 0px 2px 6px 0px rgba(252, 252, 252, 0.5), 0px 2px 23px 0px #EDEDED;
  border-radius: 12px;
  border: 1px solid rgba(60, 61, 61, 0.24);
}

.performance_review .main-container .main-wrap-showSinglePerson {
}

.performance_review .main-wrap .text-pre {
  white-space: pre-wrap;
}

.performance_review .main-wrap .main-title-wrap .el-icon-circle-close {
  display: none !important;
}


.performance_review .main-wrap .main-title-wrap {
  position: relative;
}

.performance_review .main-wrap .main-title-wrap .content-title {
  padding-bottom: 6px;
  border-bottom: 1px solid #dadada;
}

.performance_review .main-wrap .main-title-wrap .weekShow {
  background: #fff;
  position: absolute;
  left: 28px;
  top: 7px;
  height: 30px;
  line-height: 30px;
  width: 66px;
  font-size: 14px;
  padding-left: 2px;
}

.performance_review .main-wrap .timeline-wrap .week-timeline .circle {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgba(236, 235, 234, 0.7);
  display: inline-block;
  vertical-align: middle;
  margin-top: 6px;
}

.performance_review .main-wrap .timeline-wrap .week-timeline .weekItem {
  height: 40px;
  background: #ECEBEA;
  text-align: center;
  position: relative;
  overflow: hidden;
  border-radius: 0 40px 40px 0;
  font-size: 16px;
  line-height: 40px;
}

.performance_review .main-wrap .timeline-wrap .week-timeline .timeQuantum {
  font-size: 14px;
  line-height: 10px;
  color: #444;
}

.performance_review .main-wrap .timeline-wrap .week-timeline .weekItem::after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  height: 44px;
  width: 22px;
  border-radius: 0 40px 40px 0;
  background: #fff;
}

.performance_review .main-wrap .timeline-wrap .week-timeline .weekItem.weekItem3 {
  background: rgba(0, 112, 210, 0.1);
}

.performance_review .main-wrap .timeline-wrap .week-timeline .weekItem.weekItem1 {
  background: rgba(0, 112, 210, 0.3);
  position: relative;
  left: -20px;
}

.performance_review .main-wrap .timeline-wrap .circleNum-wrap {
  overflow: hidden;
  white-space: nowrap;
  padding: 0 30px;
}

.performance_review .main-wrap .timeline-wrap .circleNum-wrap .circle {
  margin: 6px 44px 0 0;
}

.performance_review .main-wrap .blank {
  margin: 2px 0 0 0;
}

.performance_review .main-wrap .tColor-f73131 {
  color: #f73131;
  border: 1px solid #f73131;
}

.my-job-btn {
  height: 32px;
  background: #0070D2;
  border-radius: 4px;
  cursor: pointer;
  line-height: 32px;
  text-align: center;
  color: #fff;
  font-size: 13px;
  width: 60px;
}

.performance_review .job-content-wrap .work-body {
  padding: 8px 4px 50px 4px;
  height: calc(100vh - 276px);
  min-height: calc(100vh - 276px);
  overflow: auto;
  box-sizing: border-box;
}

.performance_review .main-wrap-showSinglePerson .job-content-wrap .work-body {
  height: calc(100vh - 144px);
  min-height: calc(100vh - 144px);
}

.performance_review .work-body .workContentList-item-wrap {
  padding: 0 6px 8px 6px;
  border: 2px solid transparent;
  border-bottom: 1px solid #E1E1E1;
  display: flex;
  margin-bottom: 8px;
}

.performance_review .work-body .workContentList-item-wrap.active {
  border: 2px solid rgba(0, 191, 255, 1);
  box-sizing: border-box;
  border-radius: 24px;
}

.performance_review .work-body .workContentList-item-wrap:last-child {
  margin-bottom: 0;
}

.performance_review .work-body .work-body-r-t {
  padding: 8px 15px;
  background: rgba(0, 112, 210, 0.1);
  border-radius: 12px 15px 0 0;
  font-size: 18px;
  color: rgba(22, 44, 85, 0.7);
  font-weight: 700;
  position: relative;
}

.performance_review .work-body .objective-description {
}

.performance_review .work-body .work-body-r-t .objective-name-wrap {
  display: inline-block;
}

.performance_review .work-body .work-body-r-t .work-body-r-f-t {
  font-size: 12px;
  color: #fff;
  height: 18px;
  line-height: 18px;
  width: 76px;
  text-align: center;
  display: inline-block;
  border-radius: 6px;
  font-weight: 400;
}

.performance_review .work-body .work-body-r-t .canvas-wrap {
  display: inline-block;
  position: absolute;
  right: 10px;
  top: -2px;
}

.performance_review .work-body .work-body-r-b {
  padding: 25px 15px 15px 35px;
  background: rgba(0, 112, 210, 0.2);
  font-size: 18px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: rgba(22, 44, 85, 0.7);
  min-height: 60px;
  box-shadow: 0px 2px 6px 0px rgba(252, 252, 252, 0.5),
  0px 2px 23px 0px #EDEDED;
  border-radius: 12px 12px 30px 12px;
}

.performance_review .work-body .work-body-c {
  padding: 0 10px 0 14px;
  min-height: 30px;
}

.performance_review .work-body .work-body-c-i {
  font-size: 15px;
  line-height: 1.5;
  box-shadow: 0px 2px 6px 0px rgba(194, 194, 194, 0.5), 0px 2px 23px 0px #EDEDED;
  border-radius: 15px;
  padding: 15px 18px 15px 20px;
  min-height: 110px;
  position: relative;
}

.performance_review .work-body .work-body-l .work-body-c-i {
  padding-right: 15px;
}

.performance_review .work-body .work-body-c-i .index {
  width: 16px;
  height: 16px;
  background: #BDE6F7;
  font-size: 12px;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 16px;
  margin-right: 6px;
}

.performance_review .work-body .work-body-c-i .el-icon-success,
.performance_review .work-body .work-body-c-i .unfinished {
  vertical-align: top;
  position: absolute;
  top: 18px;
  right: 18px;
}

.performance_review .work-body .work-body-c-i .el-icon-success {
  font-size: 32px;
  color: #4DC982;

}

.work-body .work-body-c-i .unfinished {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background: #EDEDED;
  display: inline-block;
}

.work-body .work-body-c-i .jobName-No {
  display: inline-block;
  background: rgba(0, 191, 255, 1);
  color: #fff;
  height: 18px;
  line-height: 18px;
  min-width: 18px;
  text-align: center;
  border-radius: 5px;
  margin-right: 4px;
}

.work-body .work-body-c-i .jobName-subNo {
  display: inline-block;
  background: rgba(80, 191, 255, 0.9);
  color: #fff;
  line-height: 18px;
  border-radius: 5px;
  margin-left: 10px;
  padding: 0 4px;
  margin-right: 4px;
}

