
.pnl-actual-table {
    white-space: nowrap;
    border-collapse: separate; /* Don't collapse */
    border-spacing: 0;
    font-size: 14px;
    word-break: keep-all;
}

.pnl-actual-table  .product {
    background: #FFFFFF;
    /*box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.1);*/
    border-radius: 4px;
    border: 1px solid #DDDBDA;
    height: 21px;
    line-height: 21px;
    color: initial;
    padding: 3px 7px 0 11px;
}

.pnl-actual-table  tr {
    height: 34px;
    background-color: #FFFFFF;
}

.pnl-actual-table  th {
    background-color: #00ADEF;
    color: #FFFFFF;
    font-weight: 500;
    padding: 0 5px;
    min-width: 90px;
    border-right: #FFFFFF 1px solid;
    border-top: #FFFFFF 1px solid;
    position: sticky;
    top: 0;
    z-index: 1950;
}

.pnl-actual-table  thead  tr:first-child  th:first-child {
    left: 0;
    z-index: 1990;
}

.pnl-actual-table th.item-name {
    min-width: 405px;    //370
}

.pnl-actual-table  th:last-child,
.pnl-actual-table  td:last-child {
    border-right: none;
}

/*.pnl-actual-table  td > div {*/
/*    padding-right: 7px;*/
/*    padding-left: 11px;*/
/*}*/

.pnl-actual-table  td {
    text-align: right;
    padding: 0 7px;
    border-right: #DDDBDA 1px solid;
    border-bottom: #DDDBDA 1px solid;
}

.pnl-actual-table  td:first-child {
    padding-top: 4px;
    border-right: double 3px #cccbcb;
    text-align: left;
    /*padding-right: 13px;*/
    position: sticky;
    left: 0;
    z-index: 1940;
}

.pnl-actual-table  td.item-name {
    /*box-shadow: inset -1px 0 #DDDBDA;*/
}

.pnl-actual-table  tbody  tr:not(.category):nth-child(odd)  td:not(:first-child) {
    background-color: rgba(189, 230, 247, 0.3);
}

.pnl-actual-table  tbody  tr:not(.category):nth-child(even)  td:not(:first-child) {
    background-color: rgba(189, 230, 247, 0.6);
}

/*.pnl-actual-table .row-collapse {*/
/*    height: 32px;*/
/*    background-color: #F2F2F2;*/
/*}*/

.pnl-actual-table .category {
    /*height: 32px;*/
    font-weight: bold;
    font-size: 16px;
    background-color: #F2F2F2;
}

.pnl-actual-table .category  td {
    /*height: 32px;*/
    background-color: #F2F2F2;
    border-width: 0;
    text-align: left;
    vertical-align: center;
    padding-left: 15px;
    /*line-height: 20px;*/
}

.pnl-actual-table .category .collapse-icon {
    /*vertical-align: center;*/
    /*display: inline-block;*/
    width: 12px;
    height: 12px;
    margin-right: 8px;
    display: inline;
}

.pnl-actual-table .row-spacing {
    height: 20px;
}

.pnl-actual-table .row-spacing td {
    border: 0;
}

/*.pnl-actual-table .summary {*/
/*    background-color: #C9F0FF!important;*/
/*}*/

.pnl-actual-table .mark {
    /*height: 32px;*/
    /*font-weight: bold;*/
    /*font-size: 16px;*/
    background-color: #C9F0FF;
}

.pnl-actual-table .emphasize {
    /*height: 32px;*/
    font-weight: bold;
    font-size: 16px;
}

.pnl-actual-table  .required  .item-name::after {
    content: '*';
    color: red;
    margin-left: 5px;
    font-size: 18px;
    /*line-height: 32px;*/
    /*vertical-align: center;*/
}

.pnl-actual-table  .disabled  div.product {
    background-color: #DDDBDA;
}

.item-name  small {
    font-size: 13px;
    font-weight: normal;
}

.import-dialog  .el-dialog__header {
    /*border-bottom: 1px solid;*/
    box-shadow: 0 2px 0 0 #DDDBDA;
}

.import-dialog  .import-body {
    height: 280px;
    word-break: break-word;
    overflow: hidden;
    text-align: center;
}

.import-dialog  .el-dialog__footer {
    padding: 5px 20px;
    background: #F3F2F2;
    box-shadow: 0 -2px 0 0 #DDDBDA;
}

.import-dialog  .dialog-footer {
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.import-dialog  .dialog-footer  button {
    width: 65px;
    height: 28px;
    border-radius: 4px;
    overflow: hidden;
    padding: 0;
    outline: none;
}

.import-dialog  .dialog-footer  button.previous {
    background: #FFFFFF;
    color: #0070D2;
    border: 1px #DDDBDA solid;
}

.import-dialog  .dialog-footer  button.close {
    background: #0070D2;
    color: #FFFFFF;
    border: 1px #0070D2 solid;
}

.import-dialog .dialog-footer  .step-progress {
    display: inline-flex;
    align-items: center;
    flex: 1;
    padding: 0 25px;
}

.import-dialog .dialog-footer  .step-progress  span {
    display: inline-block;
}

.import-dialog .dialog-footer  .step-progress  span.point {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.import-dialog .dialog-footer  .step-progress  span.point.done {
    background: #5EB4FF;
    border: 3px #FFFFFF solid;
}

.import-dialog .dialog-footer  .step-progress  span.point.ongoing {
    background: #FFFFFF;
    border: 4px #1589EE solid;
}

.import-dialog .dialog-footer  .step-progress  span.point.pending {
    background: #DDDBDA;
    border: 4px #FFFFFF solid;
}

.import-dialog .dialog-footer  .step-progress  span.connect {
    flex: 1;
}

.import-dialog .dialog-footer  .step-progress  span.connect.done {
    flex: 1;
    height: 1px;
    background: #5EB4FF;
}

.import-dialog .dialog-footer  .step-progress  span.connect.pending {
    flex: 1;
    height: 1px;
    background: #DDDBDA;
}

.import_success_w {
    color: #04844B;
}

.import_fail_w {
    color: #BC3732;
}

.import_select_button {
    margin-bottom: 3%;
    padding: 1% 5% 1% 5%;
    border-radius: 20px;
    background-color: #0070D2;
    color: #FFFFFF;
    border: 0;
    height: 28px;
}

.import_template_download {
    color: #0070D2;
}

.import_img {
    margin-top: 30px;
    margin-bottom: 20px;
}

.import-slide-next-enter-active {
    transition: all .1s linear;
}

.import-slide-next-leave-active {
}

.import-slide-next-enter, .slide-next-leave-to {
    transform: translateX(250px);
}

.import-slide-previous-enter-active {
    transition: all .1s linear;
}

.import-slide-previous-leave-active {
}

.import-slide-previous-enter, .import-slide-previous-leave-to {
    transform: translateX(-250px);
}