
.pnl-reconciliation-table {
	border-collapse: separate;
	border: 0;
    border-spacing: 0;
    word-break: keep-all;
    font-family: PingFangSC-Regular, PingFang SC;
}

.pnl-reconciliation-table thead tr th {
	/*position: relative;*/
    line-height: 28px;
    height: 28px;
    padding: 0;
    font-weight: 400;
    background-color: #F2F2F2;
}

/* [日期列] 所有月份整排 */


.pnl-reconciliation-table thead tr:first-child th {
	top: 0;
	position: sticky;
	border: 0;
	background-color: #105A98;
	font-size: 14px;
	color: #FFFFFF;
}

/* [日期列] 第一格空格非月份 */
.pnl-reconciliation-table thead tr th:first-child {
	left: 0;
	position: sticky;
	z-index: 2;
    padding: 0 10px 0 15px;
}

.pnl-reconciliation-table thead tr:first-child th:first-child {
	background-color: #fff;
	/*width: 300px;*/
}

/* [日期列] 第一個月份 */
.pnl-reconciliation-table thead tr:first-child th:nth-child(2) {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}

/* [日期列] 最後一個月份 */
.pnl-reconciliation-table thead tr:first-child th:last-child {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}

.pnl-reconciliation-table thead tr:first-child th .title-month {
    line-height: 14px;
	/*border: solid 1px pink;*/
}

.pnl-reconciliation-table thead tr:first-child th:nth-child(n+3) .title-month {
    border-left: 1px solid #FFFFFF;
    /*border-right: 2px solid #FFFFFF;*/
}

/* [日期列] 第二排 pub 與 actual budget 灰色列 */
.pnl-reconciliation-table thead tr:not(:first-child) {
	/*border: solid 1px green;*/
	font-size: 14px;
	color: #000000;
	line-height: 24px;
	/*background-color: #F2F2F2;*/
}

.pnl-reconciliation-table thead tr:not(:first-child) th {
	/*border: solid #fff 1px;*/
    border-width: 6px 2px 2px 2px;
    border-color: #FFFFFF;
    border-style: solid;
	border-radius: 10px;
    top: 28px;
    position: sticky;
    font-size: 13px;
    font-weight: 600;
}

.pnl-reconciliation-table thead tr:not(:first-child) th:not(:first-child) > div {
    display: flex;
}

/*.pnl-reconciliation-table thead th:not(:first-child) {*/
/*    font-size: 13px;*/
/*    font-weight: 600;*/
/*}*/

.pnl-reconciliation-table tbody tr td {
	/*border: solid #fff 4px;*/
	background-color: #F2F2F2;
	height: 63px;
    border-width: 4px 2px 2px 2px;
    border-color: #FFFFFF;
    border-style: solid;
    border-radius: 10px;
}

.pnl-reconciliation-table tbody tr td:first-child {
    left: 0;
    position: sticky;
    font-size: 13px;
    height: 63px;
    display: flex;
    justify-content: center;
    white-space: nowrap;
    vertical-align: center;
    font-weight: 600;
    padding: 0 10px 0 15px;
    cursor: ew-resize;
}

.pnl-reconciliation-table tbody tr td:not(:first-child) {
    font-weight: 500;
    font-size: 15px;
}

.pnl-reconciliation-table tbody tr:nth-child(odd) td:not(:first-child){
	background-color: #eff8fe;
}

.pnl-reconciliation-table tbody tr:nth-child(even) td:not(:first-child){
	background-color: #D4EDFD;
}

.pbu-name {
	line-height: 24px;
}

.dialog-content {
    font-size: 15px;
    padding: 0 10px 0 10px;
}

.dialog_change_light, .dialog_reconciliation, .dialog_information {
	margin: 0 auto;
	border-radius: 20px;
	/*font-size: 14px;*/
	line-height: 24px;
	box-shadow: 5px 10px 18px #5b5b5b;
}

.dialog_information .el-dialog__header,
.dialog_reconciliation .el-dialog__header {
	/*color: pink;*/
	/*border: solid 1px skyblue;*/
	height: 0;
    padding: 0;
}

.dialog_information .el-dialog__headerbtn,
.dialog_reconciliation .el-dialog__headerbtn,
.dialog_change_light .el-dialog__headerbtn {
	width: 30px;
	height: 30px;
	border: solid 3px #a6e4c0;
	border-radius: 15px;
    color: #4DC982;
    top: -35px;
    right: -25px;
    background-color: #a6e4c0;
}

.dialog_light_yellow {
	color: #ffb200;
}

.dialog_light_red {
	color: #ff0e78;
}

.dialog_light_content {
	/*margin: 0px 0px 0px 30px;*/
}

.dialog_change_light button {
    height: 35px;
    width: 65px;
    padding: 0;
}

.dialog_reconciliation table {
	border-collapse: collapse;
    word-break: keep-all;
}


.dialog_reconciliation thead th:not(:last-child) div {
    border-right: 1px solid #105A98;
}

.dialog_reconciliation thead th {
	background-color: #C9F0FF;
    height: 26px;
}

.dialog_reconciliation thead th div {
    /*display: flex;*/
    padding-left: 15px;
    padding-right: 15px;
    line-height: 17px;
}

.dialog_reconciliation thead th:first-child, .dialog_reconciliation tbody tr:nth-child(even) td:first-child {
	width: 230px;
	border-radius: 20px 0px 0px 20px;
    text-align: left;
}

.dialog_reconciliation thead th:last-child, .dialog_reconciliation tbody tr:nth-child(even) td:last-child {
	border-radius: 0px 20px 20px 0px;
	/*padding-right: 12px;*/
}

.dialog_reconciliation tbody tr:nth-child(even) {
	background-color: #F9F9F9;
}

.dialog_reconciliation tbody tr:last-child {
	border-bottom: solid 1px #105A98;
}

.dialog_reconciliation tbody td:first-child {
	padding-left: 15px;
	white-space: nowrap;
}
.dialog_reconciliation tbody td:not(:first-child) {
	text-align: right;
	padding-right: 15px;
}

.dialog_reconciliation tbody td:last-child {
	padding-right: 15px;
}

.dialog_information {
	width: max-content;
}

.dialog_reconciliation {
    width: max-content;
}

.dialog_change_light {
    width: max-content;
}

.dialog_information > div {
    padding: 40px 35px 25px 40px;
}

.dialog_information table{
}

.dialog_information td {
	padding-bottom: 10px;
	vertical-align: top;
	/*font-size: 14px;*/
	font-weight: 400;
	line-height: 24px;
}

.dialog_information td .point_G, 
.dialog_information td .point_Y, 
.dialog_information td .point_R, 
.dialog_information td .point_GR {
	width: 15px;
	height: 15px;
	border-radius: 15px;
	top: 0;
	margin: 5px 10px 5px 0;
}

.point_G{
	background-color: #ABDB77;
}

.point_Y{
	background-color: #ffd900;
}

.point_R{
	background-color: #ff0e78;
}

.point_GR{
	background-color: #bababa;
}

.pbu-name{
	border: solid 1px pink;
}
.pbu-name img {
	width: 20px;
	float: left;
    margin-left: 20px;
}

.pbu-info-pbuname div {
	line-height: 18px;
	height: 18px;
    /*font-size: 13px;*/
}

.pbu-info-pbuname div:not(:first-child)::before {
    content: '>';
    margin-left: 10px;
    margin-right: 7px;
}

.pbu-info div {
    line-height: 27px;
    height: 27px;
}

.pbu-info-pbuname {
	width: 150px;
	align-self: center;
	margin-right: 5px;
}

.pbu-info {
	align-self: center;
	/*width: 160px;*/
	flex-grow: 1;
	/*margin-left: 15px;*/
}

.pbu-info-buname {
	height: 10px;
	line-height: 10px;
}

.pbu-info-buname span{
	width: 	100px;
	height: 60%;
	border-radius: 20px;
	/*margin-left: -10px;*/
	padding-left: 10px;
	padding-right: 15px;
	/*margin-top: -20px;*/
}

.reconciliation-box {
	display: inline-flex;
	line-height: 26px;
	/*font-size: 14px;*/
}

.reconciliation-light, .reconciliation-action, .reconciliation-budget{
	align-self: center;
	/*margin-left: 0px;*/
	text-align: center;
}

.reconciliation-light {
	width: 16px;
    padding-left: 12px;
}

.reconciliation-light-point {
	width: 15px;
	height: 15px;
	border-radius: 999em;
	/*background-color: #ABDB77;*/
}

.reconciliation-light > .reconciliation-light-point.changeable {
    cursor: pointer;
}

.comparable .reconciliation-budget,
.comparable .reconciliation-action {
    cursor: zoom-in;
}

.reconciliation-budget div,
.reconciliation-action div {
    /*border: solid 1px pink;*/
    height: 26px;
    line-height: 26px;
}

.reconciliation-action {
	width: 40px;
    /*padding: 0 3px 0 0;*/
	/*border: solid 1px cadetblue;*/
}

.reconciliation-budget {
	/*border: solid 1px deeppink;*/
	width: 55px;
    /*padding: 0 8px 0 1px;*/
}

.import-dialog  .el-dialog__header {
    /*border-bottom: 1px solid;*/
    box-shadow: 0 2px 0 0 #DDDBDA;
}

.import-dialog  .import-body {
    height: 280px;
    word-break: break-word;
    overflow: hidden;
    text-align: center;
}

.import-dialog  .el-dialog__footer {
    padding: 5px 20px;
    background: #F3F2F2;
    box-shadow: 0 -2px 0 0 #DDDBDA;
}

.import-dialog  .dialog-footer {
    height: 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.import-dialog  .dialog-footer  button {
    width: 65px;
    height: 28px;
    border-radius: 4px;
    overflow: hidden;
    padding: 0;
    outline: none;
}

.import-dialog  .dialog-footer  button.previous {
    background: #FFFFFF;
    color: #0070D2;
    border: 1px #DDDBDA solid;
}

.import-dialog  .dialog-footer  button.close {
    background: #0070D2;
    color: #FFFFFF;
    border: 1px #0070D2 solid;
}

.import-dialog .dialog-footer  .step-progress {
    display: inline-flex;
    align-items: center;
    flex: 1;
    padding: 0 25px;
}

.import-dialog .dialog-footer  .step-progress  span {
    display: inline-block;
}

.import-dialog .dialog-footer  .step-progress  span.point {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.import-dialog .dialog-footer  .step-progress  span.point.done {
    background: #5EB4FF;
    border: 3px #FFFFFF solid;
}

.import-dialog .dialog-footer  .step-progress  span.point.ongoing {
    background: #FFFFFF;
    border: 4px #1589EE solid;
}

.import-dialog .dialog-footer  .step-progress  span.point.pending {
    background: #DDDBDA;
    border: 4px #FFFFFF solid;
}

.import-dialog .dialog-footer  .step-progress  span.connect {
    flex: 1;
}

.import-dialog .dialog-footer  .step-progress  span.connect.done {
    flex: 1;
    height: 1px;
    background: #5EB4FF;
}

.import-dialog .dialog-footer  .step-progress  span.connect.pending {
    flex: 1;
    height: 1px;
    background: #DDDBDA;
}

.import_success_w {
    color: #04844B;
}

.import_fail_w {
    color: #BC3732;
}

.import_select_button {
    margin-bottom: 3%;
    padding: 1% 5% 1% 5%;
    border-radius: 20px;
    background-color: #0070D2;
    color: #FFFFFF;
    border: 0;
    height: 28px;
}

.import_template_download {
    color: #0070D2;
}

.import_img {
    margin-top: 30px;
    margin-bottom: 20px;
}

.import-slide-next-enter-active {
    transition: all .1s linear;
}

.import-slide-next-leave-active {
}

.import-slide-next-enter, .slide-next-leave-to {
    transform: translateX(250px);
}

.import-slide-previous-enter-active {
    transition: all .1s linear;
}

.import-slide-previous-leave-active {
}

.import-slide-previous-enter, .import-slide-previous-leave-to {
    transform: translateX(-250px);
}

.tree-picker-container .reconciliation-tree-picker {
    width: 380px!important;
}