
.pnl-table {
    white-space: nowrap;
    border-collapse: separate; /* Don't collapse */
    border-spacing: 0;
    font-size: 14px;
    word-break: keep-all;
}

.pnl-table  thead  tr {
    /*height: 23px;*/
    line-height: 23px;
}

.pnl-table  thead  tr:first-child  th {
    position: sticky;
    top: 0;
}

.pnl-table  thead  tr:first-child  th:first-child {
    left: 0;
    z-index: 1990;
}

.pnl-table  thead  tr:nth-child(2)  th {
    min-width: 100px;
    max-width: 100px;
    box-sizing: border-box;
    position: sticky;
    top: 23px;
}

.pnl-table  th {
    background-color: #00ADEF;
    color: #FFFFFF;
    font-weight: 500;
    padding: 0 10px;
    min-width: 70px;
    border-right: #FFFFFF 1px solid;
    border-top: #FFFFFF 1px solid;
    z-index: 1950;

}

/*.pnl-table  th .granularity {*/
/*    display: inline-block;*/
/*}*/

/*.pnl-table  th .granularity  label:not(:last-child) {*/
/*    margin-right: 10px;*/
/*}*/

/*.pnl-table  th.granularity {*/
/*    min-width: 220px;*/
/*    text-align: center!important;*/
/*    border-bottom: #002960 1px solid;*/
/*    background-color: #F3F7FA;*/
/*    top: 0;*/
/*    left: 0;*/
/*    z-index: 1990;*/
/*}*/

.pop-settings  .setting {
    /*padding: 10px 15px;*/
    margin: 12px 15px 10px 15px;
    font-family: Arial, Arial-BoldMT;
}

.pop-settings  .setting > span {
    font-weight: bold;
}

.pop-settings  .setting  .el-radio-group {
    margin-top: 10px;
    display: block;
}

.pop-settings  .setting  .el-radio {
    color: #606060;
    /*font-weight: 600;*/
}

.pop-settings  .setting .el-radio:not(:last-child) {
    margin-right: 10px;
}

.pop-settings  .setting .el-radio__label {
    padding-left: 3px;
}

.pop-settings  .setting .el-slider {
    max-width: 250px;
}

.pop-settings  .separator {
    display: flex;
    margin: 0 10px;
    border-bottom: 1px solid #e0e0e0;
}

.pnl-table  th .control {
    font-size: 11px;
    display: inline-block;
    line-height: inherit;
}

.pnl-table  tr:first-child  th:nth-last-child(2),
.pnl-table  tr:first-child  th:last-child {
    min-width: 350px;
    max-width: 350px;
}

.pnl-table  tr:first-child  th:last-child,
.pnl-table  td:last-child {
    border-right: none;
}

.pnl-table th .collapse-icon {
    display: inline-block;
    width: 12px;
    height: 12px;
}

.pnl-table  tbody  tr {
    height: 28px;
    background-color: #FFFFFF;
}

.pnl-table  td {
    text-align: right;
    padding: 4px 7px 0 7px;
    border-right: #DDDBDA 1px solid;
    border-bottom: #DDDBDA 1px solid;
    background-color: inherit;
    /*z-index: 1930;*/
}

.pnl-table td:first-child {
    border-right: double 3px #cccbcb;
    text-align: left;
    position: sticky;
    left: 0;
    z-index: 1940;
}

.pnl-table tr:first-child > th:first-child {
    min-width: 405px;    //370
}

.pnl-table  tbody  tr  td.item-name {
    /*box-shadow: inset -1px 0 #DDDBDA;*/
    /*box-shadow: inset -1px 0 #A9A29F;*/
    /*border-right: #DDDBDA 2px solid;*/
}

.pnl-table  td.success  span:last-child,
.pnl-table  td.deuce  span:last-child {
    color: initial;
}

.pnl-table  td.editable {
    max-width: 310px;
}

.pnl-table  td  span.plus::before {
    content: '+';
}

/*.pnl-table .row-collapse {*/
/*    height: 32px;*/
/*    background-color: #F2F2F2;*/
/*}*/

.pnl-table .category {
    height: 32px;
    font-weight: bold;
    font-size: 16px;
    background-color: #F2F2F2;
}

.pnl-table .category td {
    border: none;
    /*box-sizing: border-box;*/
    text-align: left;
    /*vertical-align: center;*/
    /*padding-left: 15px;*/
    /*height: 32px;*/
}

.pnl-table .category .collapse-icon {
    width: 12px;
    height: 12px;
    margin-right: 8px;
    display: inline;
}

.pnl-table .row-spacing {
    height: 20px;
}

.pnl-table .row-spacing td {
    border: none;
}

/*.pnl-table .summary td {*/
/*    background-color: #C9F0FF;*/
/*}*/

.pnl-table .mark {
    background-color: #C9F0FF;
}

.pnl-table .emphasize {
    height: 32px;
    font-weight: bold;
    font-size: 16px;
}

/*.pnl-table .underline td {*/
/*    !*border: none;*!*/
/*    font-size: 16px;*/
/*}*/

.pnl-table  .underline  td:first-child ~ td:not(:nth-last-child(-n+2)) {
    box-shadow: inset 5px 0 #FFFFFF, inset 0 -1px #000000;
    border: none;
}

.pnl-table  .underline:last-child  td:first-child ~ td:not(:nth-last-child(-n+2)) {
    box-shadow: inset 5px 0 #FFFFFF, inset 0 -1px #000000, inset 0 -2px #FFFFFF, inset 0 -3px #000000;
}

.pnl-table  .percentage  td:first-child ~ td:not(:nth-last-child(-n+2))  span:last-child::after,
span.percentage::after {
    content: '%';
}

.item-name  small {
    font-size: 13px;
    font-weight: normal;
}

.pnl-table  .table-separator {
    border-right: #FFFFFF 3px solid;
}

/*.pnl-table  tr.margin-summary:not(:last-child)  td:first-child ~ td:not(:nth-last-child(-n+2)) {*/
/*    border-bottom: #000000 1px solid;*/
/*}*/

/*.pnl-table  tr.margin-summary:last-child  td:first-child ~ td:not(:nth-last-child(-n+2)) {*/
/*    !*border-left: 5px #FFFFFF solid;*!*/
/*    border-bottom: #000000 3px double;*/
/*}*/

.pnl-table  td  .overflow-hidden {
    overflow: hidden;
    text-overflow: ' - ...more';
    display: inline-block;
    max-width: 100%;
}

.pnl-table  tbody  .highlight {
    background-color: #FBFFA8!important;
}

.pnl-table  tbody  tr:not(.highlight):hover {
    background-color: #F3F2F2!important;
}

.editable-popper {
    padding: 0;
    background: #032E61;
    border: none;
    transition: left 0.5s inherit;
    font-family: Arial;
}

.editable-popper  .edit-card {
    border: none;
    background: #032E61;
    color: #FFFFFF;
}

.editable-popper  .close-btn {
    padding: 2px 2px;
    float: right;
    border: none;
}

.editable-popper  .save-btn {
    padding: 5px 10px;
    float: right;
    background: #0070D2;
    border: none;
    border-radius: 2px;
    color: #FFFFFF;
    font-size: 12px;
}

.editable-popper  .el-popover-footer {
    height: 25px;
    padding: 5px 15px;
    align-content: end;
}

.editable-popper[x-placement^="left"] .popper__arrow::after {
    border-left-color: #032E61!important;
}

.editable-popper[x-placement^="right"] .popper__arrow::after {
    border-right-color: #032E61!important;
}

.editable-popper  .edit-card  .el-card__header {
    border: none;
    background: #164A85;
    padding: 10px 10px 10px 15px;
}

.editable-popper  .edit-card  .el-card__body {
    padding: 7px 10px;
}

.editable-popper  .edit-card  .editor  {
    min-height: 50px;
}

[contenteditable=true]  span.list-number {
    padding-right: 5px;
    padding-left: 3px;
}

.editable   span.list-number {
    padding-right: 2px;
    padding-left: 5px;
}