<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Overall Overview Dashboard</title>
</head>
<body>

  <div class="my-app">
    <transition name="collapse">
      <div class="sidebar" v-show="!is_hide_sidebar">
        <div class="inner-sidebar">
          <div class="caption">Filters</div>
          <!--      search/clear-->
          <div class="filter action">
            <div class="filter-form">
              <button class="button-search" @click="searchHandler">Search</button>
              <!-- <button class="button-search" :disabled="!init || disableSearch" @click="searchReport">Search</button> -->
            </div>
          </div>
        </div>
      </div>
    </transition>

    <div class="content">
      <div class="header">
        <img class="collapse-icon" :src="sidebarToggleIconSrc(is_hide_sidebar)" @click="toggleSidebar">
        <div class="caption">
          <div>{{caption}}</div>
        </div>
        <div class="action">
          <!-- TODO: put your action buttons here! For example: -->
          <button :disabled="0 >= overview_data.length" @click="exportToExcel">Export</button>

        </div>
      </div>
      <div class="main">
        <div class="box">
          <!-- <transition name="fade"> -->
          <table class="overall-table" v-show="overview_data.length > 0">
            <thead>
              <!-- title : 第一列 -->
              <tr>
                <th class="granularity" rowspan="3">
                  <span>Granularity:</span>
                  <div>
                    <!-- <input type="radio" id="USD" value="USD"> <label for="USD">USD</label>
                    <input type="radio" id="KUSD" value="KUSD"> <label for="KUSD">KUSD</label>
                    <input type="radio" id="MUSD" value="MUSD"> <label for="MUSD">MUSD</label> -->

                    <el-radio-group v-model="fixed_type" 
                      @change="currencyCheckChange">
                      <el-radio label="USD">Raw Data</el-radio>
                      <el-radio label="KUSD">Thousand</el-radio>
                      <el-radio label="MUSD">Million</el-radio>
                    </el-radio-group>
                  </div>
                </th>
								<th class="table-separator" 
									v-for="col in overview_head_r1"
									:colspan="col.colspan">
										{{col.title}}
                </th>
              </tr>

              <!-- title : 第二列 -->
              <tr>
                <th class="table-separator" 									
									v-for="(item,idx) in overview_head_r2" 
									:colspan=item.colspan>
									{{item.items_name}}
                </th>
              </tr>

              <!-- title : 第三列 -->
              <tr>
                
                <template v-for="sub_item_id in overview_head_r3" >
									<th v-if="baby_blue_100.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0" 
										class="background-baby-blue-100" >
										{{overview_head_map[sub_item_id].sub_item_name}} 
									</th>
                  <!-- <th v-else-if="baby_blue_60.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0" 
										class="background-baby-blue-60" >
										{{overview_head_map[sub_item_id].sub_item_name}} 
									</th> -->
                  <th v-else-if="text_gray.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0" 
										class="table-separator text-gray" >
										{{overview_head_map[sub_item_id].sub_item_name}} 
									</th>
									<th v-else>{{overview_head_map[sub_item_id].sub_item_name}} </th>
								</template>

              </tr>
            </thead>

            <tbody>
            <!-- start render by loop -->
            <!-- <tr class="important row-collapse"> -->
                
              <!-- <template > -->

                <!-- PBU -->
                <!-- <tr v-if="row.pbu_id === row.subpbu_id" class="important row-collapse" :key="'spacing-' + row.subpbu_id">
                  <td class="indent-0">
                    {{row.subpbu_name}}
                  </td>

                  <template>
                    <td v-for="sub_item_id in overview_head_r3" >
                      <span v-if="overview_head_map[sub_item_id].type ==='percentage'" class="prefix-plus postfix-percent">
                        {{row.data_list[sub_item_id]}}
                      </span>
                      <span v-else="overview_head_map[sub_item_id].type ==='value'" >
                        {{row.data_list[sub_item_id]}}
                      </span>
                    </td>
                  </template>

                </tr> -->

                <!--最後一列加總-->
                <!-- <tr v-else-if="overview_data.length-1 == idx" class="important summary" :key="'spacing-' + row.subpbu_id">
                  <td class="indent-0">
                    Total (In-scope)
                  </td>

                  <template>
                    <td v-for="sub_item_id in overview_head_r3" >
                      <span v-if="overview_head_map[sub_item_id].type ==='percentage'" class="prefix-plus postfix-percent">
                        {{row.data_list[sub_item_id]}}
                      </span>
                      <span v-else="overview_head_map[sub_item_id].type ==='value'" >
                        {{row.data_list[sub_item_id]}}
                      </span>
                    </td>
                  </template>

                </tr> -->
                
                <!-- class判斷式={PUB,最後一行totoal,SubPBU}-->
                <!-- SubPBU -->
  
                <!---->
                <tr v-for="(row,idx) in overview_data"
                  :class="tbodyRowClass(row, idx , overview_data.length)"
                  :key="'spacing-' + row.subpbu_id"
                  @click="toggleFlagInSet(is_highlight_row, idx)">
                  <!--A.PUB-->
                  <td v-if="row.pbu_id === row.subpbu_id" class="indent-0 pub-first-td">{{row.subpbu_name}}</td>
                  <!--B.最後一行加總-->
                  <td v-else-if="overview_data.length-1 === idx" class="indent-0">{{row.subpbu_name}}</td>
                  <!--C.SubPBU-->
                  <td v-else class="indent-1">{{row.subpbu_name}}</td> 

                  <template v-for="sub_item_id in overview_head_r3" >
                    <td>
                    <!-- <td :class="[
                      {'background-baby-blue-100':baby_blue_100.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0},
                      {'background-baby-blue-60':baby_blue_60.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0},
                      {'table-separator text-gray':text_gray.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0},
                      ]"> -->
                      <template v-if="red_green_sign.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0">
                        <span v-if="row.data_list[sub_item_id] >= 0" class="success sign">●</span>
                        <span v-else class="alert sign">●</span>
                      </template>
                      <el-tooltip v-if="row.data_list[sub_item_id] !== null"
                          :content="row.data_list[sub_item_id]" popper-class="tooltip"
                                    placement="right" :open-delay="500">
                          <span v-if="overview_head_map[sub_item_id].type === 'percentage'"
                          :class="['postfix-percent',
                          {'alert': 0 >= row.data_list[sub_item_id] },
                          {'prefix-plus': text_plus.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0 && row.data_list[sub_item_id] >= 0}
                          ]" >{{toFixedFloatPercentage(row.data_list[sub_item_id],2)}}</span>
                          <span v-else :class="[
                            {'alert': 0 >= row.data_list[sub_item_id] },
                            {'prefix-plus': text_plus.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0 && row.data_list[sub_item_id] >= 0}
                            ]" >{{toFixedFloatCurrency(row.data_list[sub_item_id])}}</span>
                      </el-tooltip>
                    </td>
                  </template>

                  <!-- 第二版 
                    <template v-for="sub_item_id in overview_head_r3" >
                    <td :class="[
                      {'background-baby-blue-100':baby_blue_100.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0},
                      {'background-baby-blue-60':baby_blue_60.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0},
                      {'table-separator text-gray':text_gray.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0},
                      ]">
                      <span v-if="overview_head_map[sub_item_id].type ==='percentage'" :class="['postfix-percent',{'prefix-plus': row.data_list[sub_item_id] >= 0}]">
                        <template v-if="red_green_sign.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0">
                          <span v-if="row.data_list[sub_item_id] >= 0" class="success sign">●</span>
                          <span v-else class="alert sign">●</span>
                        </template>
                        <el-tooltip :content="row.data_list[sub_item_id]" popper-class="tooltip"
                                      placement="right" :open-delay="500">
                            <span :class="[{'alert': 0 >= row.data_list[sub_item_id] }]" v-text="row.data_list[sub_item_id]"/>
                        </el-tooltip>
                      </span>
                      <span v-else>
                        <template v-if="red_green_sign.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0">
                          <span v-if="row.data_list[sub_item_id] >= 0" class="success sign">●</span>
                          <span v-else class="alert sign">●</span>
                        </template>
                        <el-tooltip :content="row.data_list[sub_item_id]" popper-class="tooltip"
                                      placement="right" :open-delay="500">
                            <span :class="[{'alert': 0 >= row.data_list[sub_item_id] }]" v-text="row.data_list[sub_item_id]"/>
                        </el-tooltip>
                      </span>
                    </td>
                  </template> -->

                  <!--  第一版
                  <template v-for="sub_item_id in overview_head_r3" >
                      <td v-if="baby_blue_100.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0" 
                        class="background-baby-blue-100" >
                        <span v-if="overview_head_map[sub_item_id].type ==='percentage'" :class="['postfix-percent',{'prefix-plus': row.data_list[sub_item_id] >= 0}]">
                          <template v-if="red_green_sign.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0">
                            <span v-if="row.data_list[sub_item_id] >= 0" class="success sign">●</span>
                            <span v-else class="alert sign">●</span>
                          </template>
                          <el-tooltip :content="row.data_list[sub_item_id]" popper-class="tooltip"
                                        placement="right" :open-delay="500">
                              <span :class="[{'alert': 0 >= row.data_list[sub_item_id] }]" v-text="row.data_list[sub_item_id]"/>
                          </el-tooltip>
                        </span>
                        <span v-else>
                          <template v-if="red_green_sign.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0">
                            <span v-if="row.data_list[sub_item_id] >= 0" class="success sign">●</span>
                            <span v-else class="alert sign">●</span>
                          </template>
                          <el-tooltip :content="row.data_list[sub_item_id]" popper-class="tooltip"
                                        placement="right" :open-delay="500">
                              <span :class="[{'alert': 0 >= row.data_list[sub_item_id] }]" v-text="row.data_list[sub_item_id]"/>
                          </el-tooltip>
                        </span>
                      </td>
                      <td v-else-if="baby_blue_60.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0" 
                        class="background-baby-blue-60" >
                        <span v-if="overview_head_map[sub_item_id].type ==='percentage'" :class="['postfix-percent',{'prefix-plus': row.data_list[sub_item_id] >= 0}]">
                          <template v-if="red_green_sign.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0">
                            <span v-if="row.data_list[sub_item_id] >= 0" class="success sign">●</span>
                            <span v-else class="alert sign">●</span>
                          </template>
                          <el-tooltip :content="row.data_list[sub_item_id]" popper-class="tooltip"
                                        placement="right" :open-delay="500">
                              <span :class="[{'alert': 0 >= row.data_list[sub_item_id] }]" v-text="row.data_list[sub_item_id]"/>
                          </el-tooltip>
                        </span>
                        <span v-else>
                          <template v-if="red_green_sign.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0">
                            <span class="sign">●</span>
                          </template>
                          <el-tooltip :content="row.data_list[sub_item_id]" popper-class="tooltip"
                                        placement="right" :open-delay="500">
                              <span :class="[{'alert': 0 >= row.data_list[sub_item_id] }]" v-text="row.data_list[sub_item_id]"/>
                          </el-tooltip>
                        </span>
                      </td>
                      <td v-else-if="text_gray.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0" 
                        class="table-separator text-gray" >
                        <span v-if="overview_head_map[sub_item_id].type ==='percentage'" :class="['postfix-percent',{'prefix-plus': row.data_list[sub_item_id] >= 0}]">
                          <template v-if="red_green_sign.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0">
                            <span v-if="row.data_list[sub_item_id] >= 0" class="success sign">●</span>
                            <span v-else class="alert sign">●</span>
                          </template>
                          <el-tooltip :content="row.data_list[sub_item_id]" popper-class="tooltip"
                                        placement="right" :open-delay="500">
                              <span :class="[{'alert': 0 >= row.data_list[sub_item_id] }]" v-text="row.data_list[sub_item_id]"/>
                          </el-tooltip>
                        </span>
                        <span v-else>
                          <template v-if="red_green_sign.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0">
                            <span v-if="row.data_list[sub_item_id] >= 0" class="success sign">●</span>
                            <span v-else class="alert sign">●</span>
                          </template>
                          <el-tooltip :content="row.data_list[sub_item_id]" popper-class="tooltip"
                                        placement="right" :open-delay="500">
                              <span :class="[{'alert': 0 >= row.data_list[sub_item_id] }]" v-text="row.data_list[sub_item_id]"/>
                          </el-tooltip>
                        </span>
                      </td>
                      <td v-else>
                        <span v-if="overview_head_map[sub_item_id].type ==='percentage'" :class="['postfix-percent',{'prefix-plus': row.data_list[sub_item_id] >= 0}]">
                          <template v-if="red_green_sign.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0">
                              <span v-if="row.data_list[sub_item_id] >= 0" class="success sign">●</span>
                              <span v-else class="alert sign">●</span>
                          </template>
                          <el-tooltip :content="row.data_list[sub_item_id]" popper-class="tooltip"
                                        placement="right" :open-delay="500">
                              <span :class="[{'alert': 0 >= row.data_list[sub_item_id] }]" v-text="row.data_list[sub_item_id]"/>
                          </el-tooltip>
                        </span>
                        <span v-else>
                          <template v-if="red_green_sign.indexOf(overview_head_map[sub_item_id].sub_item_name) >= 0">
                            <span v-if="row.data_list[sub_item_id] >= 0" class="success sign">●</span>
                            <span v-else class="alert sign">●</span>
                          </template>
                          <el-tooltip :content="row.data_list[sub_item_id]" popper-class="tooltip"
                                        placement="right" :open-delay="500">                            
                              <span :class="[{'alert': 0 >= row.data_list[sub_item_id] }]" v-text="row.data_list[sub_item_id]"/>
                          </el-tooltip>
                        </span>
                      </td>
                  </template> -->
                  
                </tr>
          
            <!-- end loop -->

              <!-- <tr class="important summary">
                <td class="indent-0">
                  Total (In-scope)
                </td>
                <td class=""></td>
                <td class=""></td>
                <td class=""></td>
                <td class=""></td>
                <td class=""></td>
                <td class=""></td>
                <td class=""></td>
                <td class="">120</td>
                <td class="">3.0</td>
                <td class="">+3900.0%</td>
                <td class=""></td>
              </tr> -->

            </tbody>

          </table>
          <!-- </transition> -->

        </div>
      </div>
    </div>
  </div>

</body>

<!-- 龍宮預設提供的第三方lib，可直接使用，勿動	-->
<script type="text/javascript" src="../../static/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../../static/js/echarts-3.7.1.min.js"></script>
<script type="text/javascript" src="../../static/js/vue-2.6.10.min.js"></script>
<script type="text/javascript" src="../../static/js/element-ui-2.15.1.min.js"></script>

<script type="text/javascript" src="../../static/js/moment.min.js"></script>
<script type="text/javascript" src="../../static/js/lodash-4.17.21.min.js"></script>

<!-- 模擬龍宮提供的服務，以及模擬呼叫data api及回傳，mock-utils.js不再使用，統一集中在mock-context.js -->
<script type="text/javascript" src="../../static/js/mock/mock-resources-common.js"></script>
<script type="text/javascript" src="../../static/js/mock/mock-resources-overall.js"></script>
<script type="text/javascript" src="../../static/js/mock/mock-context.js"></script>
<script type="text/javascript" src="../../static/js/mock/mock-context-partial.js"></script>

<!-- 龍宮預設提供的第三方css，勿動 -->
<link rel="stylesheet" href="../../static/css/third-party/element-ui-2.15.1.min.css">

<!-- 模擬龍宮或花果山外框用，勿動 -->
<link rel="stylesheet" type="text/css" href="../../static/css/mock/mock-outbox.css" />

<!-- 以下三個是報表自定義的style，把三個內容全部貼到 https://www.giftofspeed.com/css-compressor/	-->
<!-- layout.css 左方sidebar，右方大框及標題/功能按鈕，修改時注意影響其他報表	-->
<link rel="stylesheet" type="text/css" href="../../static/css/overall-layout.css" />
<!-- common.css 提供共用且獨立使用的class，無階層關係，修改時注意影響其他報表，需放在最後，確保動畫CSS生效	-->
<link rel="stylesheet" type="text/css" href="../../static/css/common.css" />
<!-- xxx.css 右方中間主要呈現區塊，報表自定義客製用  -->
<link rel="stylesheet" type="text/css" href="../../static/css/overall-overview.css" />

<script type="text/javascript">
	//定義給vue渲染畫面的資料初始值，佈署時放在組件的defaultData
	//貼到deployment/{env}/widget/{page}.json的defaultData
  self.data = {
		"init": false,
		"filter": {},
    "fixed_type" : "KUSD",
		"caption": "PBU 2021 Overview",
		//"overview_result" : [],
		"overview_head_r1" : [],
		"overview_head_r2" : [],
		"overview_head_r3" : [],
		"overview_head_map" : [],
		"overview_data" : [],
		"is_hide_sidebar": false,
    "is_highlight_row": [],
    "baby_blue_100" : ["M PCS","%","vs. budget(p.p.)","Actual","ΔGP","ΔOP (incl. ΔGP)","ΔGP (vol)","ΔGP (margin)","ΔR&D platform","ΔNon-R&D platform OPEX","ΔShared expense"],
    "text_gray" : ["2019FY","2020FY","2020FY %"],
    "red_green_sign" : ["vs. budget(p.p)","ΔGP","ΔOP (incl. ΔGP)"],
    "text_plus" : ["vs. budget","vs. budget(p.p)","ΔGP (vol)","ΔGP (margin)","ΔR&D platform","ΔNon-R&D platform OPEX","ΔShared expense"],
	};

	//用於載入第三方lib，如果是外部連結，請注意中國是否能連到，或是放上龍宮FTP
	self.dependent = [{
		"name": "lodash",
		"url": "static/js/lodash-4.17.21.min.js"
	},{
		"name": "moment",
		"url": "static/js/moment.min.js"
	}];
</script>
<!-- 此區塊定義渲染會用到的方法，佈署於controllerScript -->
<script type="text/javascript" src="../../static/js/partial/overall-overview-content.js"></script>
<!-- 模擬龍宮初始用，勿動 -->
<script type="text/javascript">

	// es6 syntax
	var {ctx, components, data, dependent, dataComputed, dataWatch, onInit, onDataUpdated, onResize, onDestroy,
		created, mounted, ...methods} = self;

	var vm = new Vue({
		el: self.ctx.$element.querySelector('.my-app'),
		data,
		components,
		methods,
		computed: dataComputed,
		watch: dataWatch,
		created,
		mounted
	});
</script>
</html>