<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>PBU Feb 2021 Actual</title>
</head>
<body>
<!-- body內容佈署到templateHtml -->
<!-- 將以下整個div複製到 https://www.textfixer.com/html/compress-html-compression.php 進行壓縮 -->
<!-- 結果貼到deployment/{env}/widget/{page}.json的templateHtml -->
<div class="my-app">
  <transition name="collapse">
    <div class="sidebar" v-show="!is_hide_sidebar">
      <div class="inner-sidebar">
        <div class="caption">Filters</div>

        <div class="filter">
          <img class="filter-icon" :src="assets_path + 'static/media/calendar.svg'">
          <div class="filter-form">
            <div class="filter-label">
              <div class="filter-label-text">From ~ To</div>
              <div class="filter-label-arrow icon-arrow-down-white"></div>
            </div>
            <div class="filter-input">
              <el-date-picker
                  v-model="time_id"
                  type="monthrange"
                  range-separator="~"
                  format="yyyy-MM"
                  value-format="yyyyMM"
                  start-placeholder="起始"
                  end-placeholder="結束">
              </el-date-picker>
            </div>
            <!--        <input type="text" class="filter-input" />-->
          </div>
        </div>

        <div class="filter">
          <img class="filter-icon" :src="assets_path + 'static/media/dimension.svg'">
          <div class="filter-form">
            <div class="filter-label">
              <div class="filter-label-text">PBU / SubPBU</div>
              <img class="filter-label-arrow" :src="assets_path + 'static/media/arrow_down_white.svg'"/>
            </div>
            <div class="filter-tree">
              <el-popover
                placement="right"
                width="500"
                trigger="click">
                <div class="popover-pbu-tree">
                    <div class="pbu-menu">
                      <div class="pbu-tree">
                        <el-input
                          placeholder="Filter keyword"
                          v-model="pbu_text">
                        </el-input>
                        <el-tree
                          class="filter-tree"
                          :data="all_pbu_list"
                          default-expand-all
                          show-checkbox
                          :filter-node-method="pbuFilterBy"
                          node-key="id"
                          @check-change="treeNodeCheckChange"
                          ref="tree">
                        </el-tree>
                      </div>
                      <div class="pbu-tag">
                        <el-tag 
                        class="pickup-tag"
                        size="small" 
                        closable
                        v-for="item in orderedPickupPbuList()"
                        :key="item.id"
                        @close="pbuTagRemove(item)">{{item.label}}</el-tag>
                      </div>
                    </div>
                  </div>
                  <el-select
                    slot="reference"
                    v-model="pickup_pbu_list"
                    multiple
                    disabled
                    collapse-tags
                    placeholder="Select">
                  <el-option
                      v-for="item in orderedPickupPbuList()"
                      :key="item.id"
                      :label="item.label"
                      :value="item.label">
                  </el-option>
                </el-select>
                <!-- <el-button slot="reference">Click to show PBU</el-button> -->
                </el-popover>
            </div>
          </div>
        </div>

        <div class="filter">
          <img class="filter-icon" :src="assets_path + 'static/media/tasks.svg'">
          <div class="filter-form">
            <div class="filter-label">
              <div class="filter-label-text">Actual-Version</div>
              <img class="filter-label-arrow" :src="assets_path + 'static/media/arrow_down_white.svg'"/>
            </div>
            <div class="filter-input">
              <el-select v-model="filter.actual_version_id" default-first-option="true"
                         popper-append-to-body="false" placeholder="Select">
                <el-option
                    v-for="v in actual_version_table"
                    :key="v.version_id"
                    :label="v.version_name"
                    :value="v.version_id">
                </el-option>
              </el-select>
            </div>
          </div>
        </div>

        <div class="filter">
          <img class="filter-icon" :src="assets_path + 'static/media/profit.svg'">
          <div class="filter-form">
            <div class="filter-label">
              <div class="filter-label-text">Currency</div>
              <img class="filter-label-arrow" :src="assets_path + 'static/media/arrow_down_white.svg'"/>
            </div>
            <div class="filter-input">
              <el-select v-model="filter.currency_id" default-first-option="true"
                         popper-append-to-body="false" placeholder="Select">
                <el-option
                    v-for="c in currency_table"
                    :key="c.currency_id"
                    :label="c.currency_name"
                    :value="c.currency_id">
                </el-option>
              </el-select>
            </div>
          </div>
        </div>
        <!--      search/clear-->
        <div class="filter action">
          <div class="filter-form">
            <button class="button-search" :disabled="!init || disableSearch" @click="searchHandler">Search</button>
          </div>
        </div>
      </div>
    </div>
  </transition>

  <div class="content">
    <div class="header">
      <!-- toggleSidebar ： 把 sidebar 隱藏 -->
      <img class="collapse-icon" :src="sidebarToggleIconSrc(is_hide_sidebar)" @click="toggleSidebar">
      <div class="caption">
        <div>{{caption}}</div>
      </div>
      <div class="action">

        <!-- TODO: put your action buttons here! For example: -->
        <button :disabled="!actual_report" @click="exportToExcel">Export</button>

      </div>
    </div>
    <div class="main">
      <div class="box">
        <!-- <div>
          {{actual_report}}
        </div><hr><hr><br> -->

        <table v-if="actual_report" class="overall-table">
          <thead>
          <tr>
            <th rowspan="4" class="table-separator">
              <span>Granularity:</span>
              <div>

                <!-- radio button : rawdata / thousand / million -->
                <!-- 點選 radio 觸發 granularityHandler(config) ，以取得 config 的內容  -->
                <label v-for="(config, id) in granularityConfigs">
                  <input type="radio" :id="id" name="currency"
                         :checked="config.value === fraction.value" @click="granularityHandler(config)">
                  <span :for="config.value">{{config.label}}</span>
                </label>

              </div>
            </th>

            <!-- title 第1列  -->
            <th v-for="sub_pbus in table_header_tree"
                :colspan="tableHeaderPbuColspan(sub_pbus)" class="table-separator">
              {{sub_pbus[0].pbu_name}}
            </th>

          </tr>

          <!-- title 第二列 -->
          <tr>
            <template v-for="(sub_pbus, pbu_id) in table_header_tree">
              <th v-for="sub_pbu in sub_pbus"
                  :colspan="sub_pbu.categories.length" class="table-separator">
                {{sub_pbu.subpbu_name}}
              </th>
            </template>
          </tr>

          <!-- title 第三列： 取出 category -->
          <tr>
            <template v-for="(sub_pbus, pbu_id) in table_header_tree">
              <template v-for="sub_pbu in sub_pbus">
                <th v-for="(category, index) in sub_pbu.categories"
                    :class="[{'table-separator': index === sub_pbu.categories.length - 1}]">
                  {{category}}
                </th>
              </template>
            </template>
          </tr>


          </thead>


          <tbody>
            <!-- <template v-if="actual_report!=null"></template> -->
              <template v-for="(item, index) in actual_report.items">

                <!-- [item_type] T : title -->
                <template v-if="item.item_type === 'T'">
                  <!-- 空白行： 若 item_type = 'T' 不是第0列，而且上一列的 item_type 也不是'T', 就顯示一行空白行 -->
                  <tr v-if="index > 0 && actual_report.items[index - 1].item_type !== 'T'" class="row-spacing"
                      v-show="is_open_group[item.collapse_index -1]">
                    <!-- column_length : 全部的 column 數 -->
                    <td :colspan="column_length"></td>
                  </tr>
    
                  <!-- item_type = 'T' : click 時，toggleItemGroup 點選折行的效果 -->
                  <!-- tbodyRowClass: 定義 row 的 class -->
                  <tr :class="tbodyRowClass(item, index)" :key="item.line_item"
                      @dblclick="toggleItemGroup(item.collapse_index)">
                    <td>
                      <!-- 按下折行的 icon 轉向, is_open_group[item.collapse_index] 預設為 true, 折行後變 false -->
                      <img class="collapse-icon"
                           :class="{'rotated-270': !is_open_group[item.collapse_index]}"
                           :src="assets_path + 'static/media/arrow_down_black.svg'"
                           @click="toggleItemGroup(item.collapse_index)"/>
                      <span v-html="item.item_name"></span>
                    </td>
                    <!-- column_length - 1 : 除了第一個 td 以外，剩下其餘 column -->
                    <td v-for="n in (column_length - 1)"></td>
                  </tr>
                </template>

                <!-- [item_type] 為M開頭的 mergin 列： M / MS -->
                <tr v-else-if="item.item_type.indexOf('M') >= 0" :key="item.line_item"
                    v-show="is_open_group[item.collapse_index]"
                    :class="tbodyRowClass(item, index)" @click="toggleFlagInSet(is_highlight_row, index)">

                  <!-- 第一欄： item 的標題 -->
                  <td class="item-name table-separator"  :class="'indent-'+item.item_level">
                    <span>{{item.item_name}}</span>
                  </td>

                  <!-- 後面的欄位： item.item_fields 迴圈 -->
                  <!-- <td v-for="field in item.item_fields" :class="[field.style, tbodyCellSignClass(field.value, item.item_flag)]"> -->
                  <td v-for="field in item.item_fields" :class="[field.style, tbodyCellSignClass(field.value)]">
                    <!-- <span>{{tbodyCellSignClass(field.value)}}</span> -->
                    <!-- 每個欄位加上 tooltip 的 style，內容為該欄位的值 (field.value) -->
                    <el-tooltip v-if="field.value"
                                :content="tipPercentage(field.value)" popper-class="tooltip"
                                placement="right" :open-delay="500">
                      <!-- 欄位顯示的內容為 toPercentage() 的結果 -->
                      <span v-text="toPercentage(field.value)"/>
                    </el-tooltip>
                  </td>
                </tr>


                <!-- [item_type] 其它種類例如數值: item_type = "V" -->
                <tr v-else :key="item.line_item"
                    v-show="is_open_group[item.collapse_index]"
                    :class="tbodyRowClass(item, index)" @click="toggleFlagInSet(is_highlight_row, index)">

                  <!-- 第一欄： item 的標題 -->
                  <td class="item-name table-separator"  :class="'indent-'+item.item_level">
                    <span>{{item.item_name}}</span>
                  </td>

                  <!-- 後面的欄位： item.item_fields 迴圈 -->
                  <!-- <td v-for="field in item.item_fields" :class="[field.style, tbodyCellSignClass(field.value, item.item_flag)]"> -->
                  <td v-for="field in item.item_fields" :class="[field.style, tbodyCellSignClass(field.value)]">
                    <!-- {{tbodyCellSignClass(field.value)}} -->
                    <!-- 每個欄位加上 tooltip 的 style，內容為該欄位的值 (field.value) -->
                    <el-tooltip v-if="field.value"
                                :content="tipCurrency(field.value)" popper-class="tooltip"
                                placement="right" :open-delay="500">
                      <!-- 欄位顯示的內容為 toCurrency() 的結果 -->
                      <span v-text="toCurrency(field.value)"/>
                    </el-tooltip>
                  </td>
                </tr>

              </template>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</body>

<!-- 龍宮預設提供的第三方lib，可直接使用，勿動  -->
<script type="text/javascript" src="../../static/js/jquery-2.1.4.min.js"></script>
<script type="text/javascript" src="../../static/js/echarts-3.7.1.min.js"></script>
<script type="text/javascript" src="../../static/js/vue-2.6.10.min.js"></script>
<script type="text/javascript" src="../../static/js/element-ui-2.15.1.min.js"></script>

<script type="text/javascript" src="../../static/js/moment.min.js"></script>
<script type="text/javascript" src="../../static/js/lodash-4.17.21.min.js"></script>

<!-- 模擬龍宮提供的服務，以及模擬呼叫data api及回傳，mock-utils.js不再使用，統一集中在mock-context.js -->
<script type="text/javascript" src="../../static/js/mock/mock-resources-common.js"></script>
<script type="text/javascript" src="../../static/js/mock/mock-resources-overall.js"></script>
<script type="text/javascript" src="../../static/js/mock/mock-context.js"></script>
<script type="text/javascript" src="../../static/js/mock/mock-context-partial.js"></script>

<!-- 龍宮預設提供的第三方css，勿動 -->
<link rel="stylesheet" href="../../static/css/third-party/element-ui-2.15.1.min.css">

<!-- 模擬龍宮或花果山外框用，勿動 -->
<link rel="stylesheet" type="text/css" href="../../static/css/mock/mock-outbox.css" />

<!-- 以下三個是報表自定義的style，把三個內容全部貼到 https://www.giftofspeed.com/css-compressor/  -->
<!-- 壓縮結果貼到deployment/{env}/widget/{page}.json的templateCss -->
<!-- layout.css 左方sidebar，右方大框及標題/功能按鈕，修改時注意影響其他報表  -->
<link rel="stylesheet" type="text/css" href="../../static/css/overall-layout.css" />
<!-- common.css 提供共用且獨立使用的class，無階層關係，修改時注意影響其他報表，需放在最後，確保動畫CSS生效  -->
<link rel="stylesheet" type="text/css" href="../../static/css/common.css" />
<!-- xxx.css 右方中間主要呈現區塊，報表自定義客製用  -->
<link rel="stylesheet" type="text/css" href="../../static/css/overall-actual.css" />

<script type="text/javascript">
  //定義給vue渲染畫面的資料初始值，佈署時放在組件的defaultData
  //貼到deployment/{env}/widget/{page}.json的defaultData
  self.data = {
    "init": false,
    "filter": {
      "time_id_s": "",
      "time_id_e": "", 
      "actual_version_id": null,
      "currency_id": null
    },
    "pbu_text": "",
    "pickup_pbu_list": [],
    "all_pbu_list" : [],
    "actual_version_table": [],
    "currency_table": [],
    "assets_path": "http://10.60.136.119:806/widget/cm/",
    // "criteria": null,
    "is_hide_sidebar": false,
    "actual_split_tag_message": "上方為sidebar,下方為content",
    "caption": "PBU 2021 Actual",
    "actual_report": null,
    "table_header_tree": {},
    "is_open_group": [],
    "is_highlight_row": [],
    "column_length": 0,
    "fraction": null
  };
  //用於載入第三方lib，如果是外部連結，請注意中國是否能連到，或是放上龍宮FTP
  self.dependent = [{
    "name": "lodash",
    "url": "static/js/lodash-4.17.21.min.js"
  },{
    "name": "moment",
    "url": "static/js/moment.min.js"
  }];
</script>
<!-- 此區塊定義渲染會用到的方法，佈署於controllerScript -->
<script type="text/javascript" src="../../static/js/partial/overall-actual-sidebar.js"></script>
<!-- 模擬龍宮初始用，勿動 -->
<script type="text/javascript">

  // es6 syntax
  var {ctx, components, data, dependent, dataComputed, dataWatch, onInit, onDataUpdated, onResize, onDestroy,
    created, mounted, ...methods} = self;

  var vm = new Vue({
    el: self.ctx.$element.querySelector('.my-app'),
    data,
    components,
    methods,
    computed: dataComputed,
    watch: dataWatch,
    created,
    mounted
  });
</script>
</html>
