body {
    /*padding: 1em 1em 0 1em;*/
    width: 100vw;
    height: calc(100vh - 60px);
    margin: 60px 0 0 0 ;
    overflow: hidden;
    background-color: #004279;
    /*display: inline-flex;*/

}

.dashboard {
    background-color: #FFFFFF;
    height: 100vh;
}

.component {
    width: 100%;
    height: calc(100% - 10px);
    padding-top: 10px;
}